env
sermons/.env
.DS_Store
*.log
*.pyc
*.pyo
_pycache__
sermons/static/
static_export
sermons/static_export
cap/node_modules
.idea
site/.env
site/website/.env
.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*
dailyofficelocalapi/
site/env_test/
