exclude: .*\node_modules\|.*\static|.*\.sql
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
        files: ^site/
      - id: mixed-line-ending
        files: ^site/
      - id: end-of-file-fixer
        files: ^site/
      - id: check-added-large-files
        args: [ '--maxkb=5000' ]
        files: ^site/
      - id: check-case-conflict
        files: ^site/
      - id: check-merge-conflict
        files: ^site/
      - id: check-symlinks
        files: ^site/
      - id: check-yaml
        files: ^site/
      - id: fix-byte-order-marker
        files: ^site/
  #      - id: requirements-txt-fixer
  #        files: ^site/


  - repo: https://github.com/psf/black
    rev: 25.9.0
    hooks:
      - id: black
        files: ^site/
        language_version: python3
        args: [ --target-version=py313, --line-length=119 ]

  #    rev: v9.36.0
  #    hooks:
  #      - id: eslint
  #        files: ^site/
  #        types: [ file ]
  #        types_or: [ javascript, jsx, ts, tsx, vue ]
  #        exclude: ^site/node_modules/|^site/office/src/office/js/fontawesome/|^site/office/src/office/css/fontawesome/
  #        args: [ --fix --config=site/.eslintrc ]
  #        additional_dependencies:
  #          - eslint@v9.36.0
  #          - eslint-config-prettier@10.1.8
  #          - "@babel/core@7.20.5"
  #          - "@babel/eslint-parser@7.27.5"
  #          - "@babel/preset-env@7.27.2"
  #          - "@babel/preset-typescript@7.27.1"
  #          - eslint-plugin-prettier@5.5.4
  #          - prettier@3.6.2 #  - repo: https://github.com/pre-commit/mirrors-eslint

  #
  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: v9.36.0
    hooks:
      - id: eslint
        files: ^app/src/
        types: [ file ]
        types_or: [ javascript, jsx, ts, tsx, vue ]
        args: [ --config=app/eslint.config.mjs, --fix ]
        additional_dependencies:
          - eslint@v9.36.0
          - eslint-config-prettier@10.1.8
          - eslint-plugin-prettier@5.5.4
          - prettier@3.6.2
          - eslint-plugin-vue@^10.5.0
          - vue-eslint-parser@^10.2.0
          - "@typescript-eslint/eslint-plugin@^8.45.0"
          - "@typescript-eslint/parser@^8.45.0"
          - "@typescript-eslint/eslint-plugin-tslint@^7.0.2"
          - "@typescript-eslint/utils@^8.45.0"
          - "@typescript-eslint/typescript-estree@^8.45.0"
          - "@vue/eslint-config-typescript@^14.6.0"
          - "@typescript-eslint/scope-manager@^8.45.0"

#  - repo: https://github.com/awebdeveloper/pre-commit-stylelint
#    rev: 0.0.2
#    hooks:
#    -   id: stylelint
#        args: [--fix]
#        exclude: ^site/node_modules/|^site/office/src/office/js/fontawesome/|^site/office/src/office/css/fontawesome/
#        additional_dependencies: ['stylelint@16.2.0', 'stylelint-config-standard@38.0.0', 'stylelint-scss@6.12.0', 'stylelint-config-recommended-vue@1.6.0']
