appdirs==1.4.3
attrs==19.1.0
black==19.3b0
Click==7.0
Django==2.2.3
django-extensions==2.2.1
django-jet==1.0.8
feedparser==5.2.1
google-api-python-client==1.4.1
httplib2==0.13.1
oauth2client==4.1.3
psycopg2-binary==2.8.3
pyasn1==0.4.6
pyasn1-modules==0.2.6
python-dotenv==0.10.3
pytz==2019.1
rsa==4.0
six==1.12.0
sqlparse==0.3.0
toml==0.10.0
uritemplate==3.0.0
Werkzeug==0.15.5
