git+https://github.com/blocher/python-scriptures
git+https://github.com/boudinfl/pke.git
git+https://github.com/blocher/django-address
appdirs==1.4.4
appnope==0.1.0
arrow==0.16.0
asgiref==3.2.10
attrs==20.2.0
Babel==2.8.0
backcall==0.2.0
beautifulsoup4==4.9.1
black==19.3b0
blis==0.7.1
breadability==0.1.20
cachetools==4.1.1
catalogue==2.0.1
certifi==2020.6.20
chardet==3.0.4
click==7.1.2
cobble==0.1.3
cymem==2.0.3
datefinder==0.7.1
decorator==4.4.2
Delorean==1.0.0
distlib==0.3.1
Django==3.1.1
django-admin-sortable2==0.7.7
django-array-tags==0.2.2
django-cachekiller==0.6
django-ckeditor==6.0.0
django-debug-toolbar==3.1
django-distill==2.0
django-dotenv==1.4.2
django-environ==0.4.5
django-extensions==3.0.9
django-filter==2.3.0
django-js-asset==1.2.2
django-material-admin==1.7.8
django-mathfilters==1.0.0
django-meta==1.7.0
django-model-utils==4.0.0
django-richtextfield==1.6
django-robots==4.0
django-taggit==1.3.0
django-webpack-loader==0.7.0
djangorestframework==3.11.1
docopt==0.6.2
en-core-web-sm-abd==0.1
feedparser==6.0.1
filelock==3.0.12
future==0.18.2
google-api-core==1.17.0
google-api-python-client==1.8.2
google-auth==1.21.2
google-auth-httplib2==0.0.4
googleapis-common-protos==1.52.0
html2text==2020.1.16
html5lib==1.1
httplib2==0.18.1
humanize==2.6.0
icalendar==4.0.7
idna==2.10
indexed==1.2.0
ipython==7.18.1
ipython-genutils==0.2.0
jedi==0.17.2
joblib==0.16.0
lxml==4.5.2
mammoth==1.4.12
Markdown==3.2.2
murmurhash==1.0.2
networkx==2.5
nltk==3.5
num2words==0.5.10
numpy==1.19.2
oauth2client==4.1.3
parso==0.8.0
pdfminer3==2018.12.3.0
pexpect==4.8.0
pickleshare==0.7.5
pip==20.2.3
pipenv==2018.11.26
plac==1.2.0
preshed==3.0.2
prompt-toolkit==3.0.7
protobuf==3.13.0
psycopg2-binary==2.8.6
ptyprocess==0.6.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycountry==20.7.3
pycparser==2.20
pycryptodome==3.9.8
Pygments==2.7.1
pymemcache==3.4.0
PyPDF2==1.26.0
pyrsistent==0.17.3
python-dateutil==2.8.1
python-docx==0.8.10
python-dotenv==0.14.0
python-magic==0.4.18
python-memcached==1.59
pytz==2020.1
rake-nltk==1.0.4
regex==2020.7.14
requests==2.24.0
rsa==4.6
scikit-learn==0.23.2
scipy==1.5.2
setuptools==47.1.0
sgmllib3k==1.0.0
six==1.15.0
sklearn==0.0
sortedcontainers==2.2.2
soupsieve==2.0.1
spacy==2.2.4
sqlparse==0.3.1
srsly==2.2.0
sumy==0.8.1
thinc==7.4.0
threadpoolctl==2.1.0
toml==0.10.1
tqdm==4.49.0
traitlets==5.0.4
tzlocal==2.1
Unidecode==1.1.1
uritemplate==3.0.1
urllib3==1.25.10
virtualenv==20.0.31
virtualenv-clone==0.5.4
wasabi==0.8.0
wcwidth==0.2.5
webencodings==0.5.1
Werkzeug==1.0.1
wheel==0.35.1
whitenoise==5.2.0
