<h2>{{ data.heading }}</h2>
<h4>{{ data.subheading}}</h4>
{% if data.antiphon %}
        <p>&nbsp;</p>
        <p><em>This antiphon is sung or said before the Invitatory Psalm.</em></p>
        <p class="hanging-indent">{{ data.antiphon.first_line }}</p>
        <p class="indent"><strong>{{ data.antiphon.second_line }}</strong></p>
        <p>&nbsp;</p>
{%  endif %}
<p><em>{{ data.rubric }}</em></p>
{{  data.content }}
<h5>{{  data.citation }}</h5>
{% if data.antiphon %}
        <p>&nbsp;</p>
        <p><em>This antiphon is sung or said after the Invitatory Psalm.</em></p>
        <p class="hanging-indent">{{ data.antiphon.first_line }}</p>
        <p class="indent"><strong>{{ data.antiphon.second_line }}</strong></p>
{%  endif %}
