<h2>{{ data.heading }}</h2>
<h4>{{ data.subheading}}</h4>
<p><em>{{ data.rubric }}</em></p>
{% if data.antiphon %}
    <div class="antiphon">
        <p class="hanging-indent">{{ data.antiphon.first_line }}</p>
        <p class="indent"><strong>{{ data.antiphon.second_line }}</strong></p>
    </div>
{%  endif %}
{{  data.content }}
<h5>{{  data.citation }}</h5>
{% if data.antiphon %}
    <div class="antiphon">
        <p class="hanging-indent">{{ data.antiphon.first_line }}</p>
        <p class="indent"><strong>{{ data.antiphon.second_line }}</strong></p>
    </div>
{%  endif %}
