<p class="hanging-indent"><strong>Alleluia. Christ our Passover has been sacrificed for us; * </strong></p>
<p class="indent"><strong>therefore let us keep the feast,</strong></p>
<p class="hanging-indent"><strong>Not with the old leaven, the leaven of malice and evil, *</strong></p>
<p class="indent"><strong>but with the unleavened bread of sincerity and truth. Alleluia. </strong></p>
<p class="hanging-indent"><strong>Christ being raised from the dead will never die again; *</strong></p>
<p class="indent"><strong>death no longer has dominion over him.</strong></p>
<p class="hanging-indent"><strong>The death that he died, he died to sin, once for all; * </strong></p>
<p class="indent"><strong>but the life he lives, he lives to God.</strong></p>
<p class="hanging-indent"><strong>So also consider yourselves dead to sin, *</strong></p>
<p class="indent"><strong>and alive to God in Jesus Christ our Lord. Alleluia. </strong></p>
<p class="hanging-indent"><strong>Christ has been raised from the dead, *</strong></p>
<p class="indent"><strong>the firstfruits of those who have fallen asleep.</strong></p>
<p class="hanging-indent"><strong>For since by a man came death, *</strong></p>
<p class="indent"><strong>by a man has come also the resurrection of the dead. </strong></p>
<p class="hanging-indent"><strong>For as in Adam all die, *</strong></p>
<p class="indent"><strong>so also in Christ shall all be made alive. Alleluia.</strong></p>
