<div class="lang-english">
<h3>The Suffrages</h3>
{% include "office/suffrages_a.html" %}
</div>

<div class="lang-chinese off">
<h3>應答禱文</h3>
<table class="dialogue">
    <tr>
        <td><em>主禮</em></td>
        <td>主啊，求祢向我們施慈愛；</td>
    </tr>
    <tr>
        <td><em>會眾</em></td>
        <td><strong>求祢拯救我們。</strong></td>
    </tr>
    <tr>
        <td><em>主禮</em></td>
        <td>主啊，求祢引導執政掌權者；</td>
    </tr>
    <tr>
        <td><em>會眾</em></td>
        <td><strong>引領我們走在公義和真理中。</strong></td>
    </tr>
    <tr>
        <td><em>主禮</em></td>
        <td>使祢的僕人穿上公義為衣；</td>
    </tr>
    <tr>
        <td><em>會眾</em></td>
        <td><strong>使祢的子民歡喜歌唱。</strong></td>
    </tr>
    <tr>
        <td><em>主禮</em></td>
        <td>主啊，求祢拯救祢的子民；</td>
    </tr>
    <tr>
        <td><em>會眾</em></td>
        <td><strong>賜福祢的產業。</strong></td>
    </tr>
    <tr>
        <td><em>主禮</em></td>
        <td>主啊，求祢賜平安給我們；</td>
    </tr>
    <tr>
        <td><em>會眾</em></td>
        <td><strong>以祢的大能保衛我們。</strong></td>
    </tr>
    <tr>
        <td><em>主禮</em></td>
        <td>求祢不要忘記貧窮的人；</td>
    </tr>
    <tr>
        <td><em>會眾</em></td>
        <td><strong>不要奪去困苦人的盼望。</strong></td>
    </tr>
    <tr>
        <td><em>主禮</em></td>
        <td>上帝啊，求祢為我造清潔的心；</td>
    </tr>
    <tr>
        <td><em>會眾</em></td>
        <td><strong>不要從我們收回祢的聖靈。</strong></td>
    </tr>
</table>
</div>

<div class="lang-spanish off">
<h3>Los Sufragios</h3>
<table class="dialogue">
    <tr>
        <td><em>Oficiante</em></td>
        <td>Oh Señor, muestra tu misericordia sobre nosotros;</td>
    </tr>
    <tr>
        <td><em>Pueblo</em></td>
        <td><strong>Y concédenos tu salvación.</strong></td>
    </tr>
    <tr>
        <td><em>Oficiante</em></td>
        <td>Oh Señor, guía a los que nos gobiernan;</td>
    </tr>
    <tr>
        <td><em>Pueblo</em></td>
        <td><strong>Y guíanos en el camino de la justicia y la verdad.</strong></td>
    </tr>
    <tr>
        <td><em>Oficiante</em></td>
        <td>Viste a tus ministros de justicia;</td>
    </tr>
    <tr>
        <td><em>Pueblo</em></td>
        <td><strong>Y haz que tu pueblo elegido cante de gozo.</strong></td>
    </tr>
    <tr>
        <td><em>Oficiante</em></td>
        <td>Oh Señor, salva a tu pueblo;</td>
    </tr>
    <tr>
        <td><em>Pueblo</em></td>
        <td><strong>Y bendice a tu heredad.</strong></td>
    </tr>
    <tr>
        <td><em>Oficiante</em></td>
        <td>Oh Señor, danos paz;</td>
    </tr>
    <tr>
        <td><em>Pueblo</em></td>
        <td><strong>Porque solo en ti confiamos.</strong></td>
    </tr>
    <tr>
        <td><em>Oficiante</em></td>
        <td>No te olvides de los pobres, oh Señor;</td>
    </tr>
    <tr>
        <td><em>Pueblo</em></td>
        <td><strong>Ni les quites la esperanza a los afligidos.</strong></td>
    </tr>
    <tr>
        <td><em>Oficiante</em></td>
        <td>Crea en nosotros un corazón limpio, oh Dios;</td>
    </tr>
    <tr>
        <td><em>Pueblo</em></td>
        <td><strong>Y no nos quites tu Santo Espíritu.</strong></td>
    </tr>
</table>
</div>
