<p class="hanging-indent"><strong>We praise you, O God; we acclaim you as Lord; *</strong></p>
<p class="indent"><strong>all creation worships you, the Father everlasting.</strong></p>
<p class="hanging-indent"><strong>To you all angels, all the powers of heaven, *</strong></p>
<p class="indent"><strong>the cherubim and seraphim, sing in endless praise:</strong></p>
<p class="hanging-indent"><strong>Holy, Holy, Holy, Lord God of power and might, *</strong></p>
<p class="indent"><strong>heaven and earth are full of your glory.</strong></p>
<p class="hanging-indent"><strong>The glorious company of apostles praise you. *</strong></p>
<p class="indent"><strong>The noble fellowship of prophets praise you.</strong></p>
<p class="hanging-indent"><strong>The white-robed army of martyrs praise you. *</strong></p>
<p class="indent"><strong>Throughout the world the holy Church acclaims you:</strong></p>
<p class="hanging-indent"><strong>Father, of majesty unbounded,</strong></p>
<p class="hanging-indent"><strong>your true and only Son, worthy of all praise, *</strong></p>
<p class="indent"><strong>and the Holy Spirit, advocate and guide.</strong></p>
<p class="hanging-indent"><strong>You, Christ, are the king of glory, *</strong></p>
<p class="indent"><strong>the eternal Son of the Father.</strong></p>
<p class="hanging-indent"><strong>When you took our flesh to set us free *</strong></p>
<p class="indent"><strong>you humbly chose the Virgin’s womb.</strong></p>
<p class="hanging-indent"><strong>You overcame the sting of death *</strong></p>
<p class="indent"><strong>and opened the kingdom of heaven to all believers.</strong></p>
<p class="hanging-indent"><strong>You are seated at God’s right hand in glory. *</strong></p>
<p class="indent"><strong>We believe that you will come to be our judge.</strong></p>
<p class="hanging-indent"><strong>Come then, Lord, and help your people, *</strong></p>
<p class="indent"><strong>bought with the price of your own blood,</strong></p>
<p class="hanging-indent"><strong>and bring us with your saints *</strong></p>
<p class="indent"><strong>to glory everlasting.</strong></p>

<p><em>The following verses may be omitted</em></p>

<p class="hanging-indent"><strong>Save your people, Lord, and bless your inheritance;*</strong></p>
<p class="indent"><strong>govern and uphold them now and always.</strong></p>
<p class="hanging-indent"><strong>Day by day we bless you; *</strong></p>
<p class="indent"><strong>we praise your Name for ever.</strong></p>
<p class="hanging-indent"><strong>Keep us today, Lord, from all sin; *</strong></p>
<p class="indent"><strong>have mercy on us, Lord, have mercy.</strong></p>
<p class="hanging-indent"><strong>Lord, show us your love and mercy, *</strong></p>
<p class="indent"><strong>for we have put our trust in you.</strong></p>
<p class="hanging-indent"><strong>In you, Lord, is our hope; *</strong></p>
<p class="indent"><strong>let us never be put to shame.</strong></p>
