<p class="hanging-indent"><strong>O come, let us sing unto the Lord; *</strong></p>
<p class="indent"><strong>let us heartily rejoice in the strength of our salvation.</strong></p>
<p class="hanging-indent"><strong>Let us come before his presence with thanksgiving *</strong></p>
<p class="indent"><strong>and show ourselves glad in him with psalms.</strong></p>
<p class="hanging-indent"><strong>For the Lord is a great God *</strong></p>
<p class="indent"><strong>and a great King above all gods.</strong></p>
<p class="hanging-indent"><strong>In his hand are all the depths of the earth, *</strong></p>
<p class="indent"><strong>and the heights of the hills are his also.</strong></p>
<p class="hanging-indent"><strong>The sea is his, for he made it, *</strong></p>
<p class="indent"><strong>and his hands prepared the dry land.</strong></p>
<p class="hanging-indent"><strong>O come, let us worship and fall down, *</strong></p>
<p class="indent"><strong>and kneel before the Lord our Maker.</strong></p>
<p class="hanging-indent"><strong>For he is our God, *</strong></p>
<p class="indent"><strong>and we are the people of his pasture,</strong></p>
<p class="indent"><strong>and the sheep of his hand.</strong></p>

<p><em>The following verses may be omitted, except in Lent.</em></p>

<p class="hanging-indent"><strong>Today, if you will hear his voice, harden not your hearts *</strong></p>
<p class="indent"><strong>as in the provocation, and as in the day of temptation in the wilderness,</strong></p>
<p class="hanging-indent"><strong>When your fathers tested me, *</strong></p>
<p class="indent"><strong>and put me to the proof, though they had seen my works.</strong></p>
<p class="hanging-indent"><strong>Forty years long was I grieved with this generation and said, *</strong></p>
<p class="indent"><strong>“It is a people that err in their hearts, for they have not known my ways,”</strong></p>
<p class="hanging-indent"><strong>Of whom I swore in my wrath *</strong></p>
<p class="indent"><strong>that they should not enter into my rest.</strong></p>
