<div class="ui items transition raised attached segment" id="movie_preview_items">
    <div class="item">
        <div class="ui small image">
            {% if details.Poster and details.Poster != "N/A" %}
                <img id="preview-video-image" src="{{ details.Poster }}">
            {% endif %}

        </div>


        <div class="content">
            <div class="header">{{ details.Title}} {% if details.Year %}({{ details.Year }}){% endif %}
            </div>
            <div class="meta">
                <div class="ui label">{{ details.Rated }}</div>
                <div class="ui label">{{ details.Genre }}</div>
                <div class="ui label">{{ details.Runtime }}</div>
            </div>
            <div class="description">
                <div class="ui segment">
                    <div class="ui stackable grid">
                        <div class="eight wide column">
                            <div class="ui content">
                                {{ details.Plot }}
                            </div>
                        </div>
                        <div class="eight wide column">{% if trailer %}
                            <div class="ui aligned center" style="max-width:500px">
                                <div class="ui embed" data-id="{{ trailer }}" data-source="youtube">
                                    <script>
                                        $('.ui.embed').embed();
                                    </script>
                                </div>
                            </div>
                            {% endif %}
                            {% for service in services %}
                                <div class="meta">
                                    <p style="width:100%"><a class="ui image label" href="{{ service.url}}" style="padding:10px" target="_blank">
                                        <img src="{{ service.icon }}">
                                        <i class="icon external alternate"></i>
                                    </a></p>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

