{% extends "standrew/movie_base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block content %}
    <h2 class="ui center aligned icon header">
        <i class="circular yea vote icon"></i>
        St. Andrew's<br>Movie Night Ballot
    </h2>

    {% if not open %}
    <h2>Voting is currently closed!</h2>
    {% else %}
    <h3>This ballot automatically closes on Friday at 12:00 noon eastern</h3>
    <p><em>Voting is <strong>due Friday at noon eastern</strong> for movie night on {{ movie_night.movie_date|date:"l, F j, Y" }}</em> at 8:45 pm.</p>
    {% endif %}

    {% if already_voted or not open %}
    {% if not open %}
    <div class="message error ui">Voting is not currently open. Check back the week of movie night from Thursday at noon until Friday at noon.</div>
    {% else %}
    <div class="message error ui">You have already voted.</div>
    {% endif %}
    {% else %}

    <div class="ui warning message">
        <div class="header">
            <i class="icon vote yea"></i> BALLOT FOR: {{ movie_voter.first_name }} {{ movie_voter.last_name }}
        </div>
        This form is specific to you. Please do not share the link!
    </div>
    <div class="ui info message">
        <div class="header">
            <i class="icon arrow down"></i> Keep Scrolling!
        </div>
        Scroll past the video previews. Your ballot is at the bottom.
    </div>
    {% for candidate in candidates %}
    <div class="ui top attached header raised" style="margin-top:15px">
        Nominated by <em>{{ candidate.nominator.first_name }} {{ candidate.nominator.last_name }}</em>
        {% if candidate.reason %}
            <p><i class="comment icon"></i> <small><em>{{ candidate.reason }}</em></small></p>
            <p><small><strong>Reported streaming on:</strong> <em>{{ candidate.service }}</em></small></p>
        {% endif %}
    </div>
    {{ candidate.movie|safe }}
    {% endfor %}

    <form class="ui form" method="post">
        <div class="ui one column grid">
            <div class="row">
                <div class="column">
                    {% csrf_token %}

                </div>
            </div>
            <h4 class="ui horizontal divider header massive">
                <i class="large vote yea icon"></i>
                Vote Early, Vote Often!
            </h4>
            <div class="ui segment raised fluid" style="margin:20px 0; width: 100%;">
                <div class="ui top attached header raised image fluid">
                    <i class="large vote yea middle aligned icon"></i>
                    <div class="content">
                        Your Ballot
                        <div class="sub header">Drag and drop to order your choices</div>
                    </div>
                </div>
                <div class="ui relaxed divided list ordered fluid attached" id="initial_list">
                    {% for candidate in candidates %}
                    <div class="item" id="{{ candidate.pk }}">
                        <i class="large bars middle aligned icon"></i>
                        <div class="content">
                            <a class="header">{{ candidate.data.fields.title }}</a>
                            <div class="description">{{ candidate.nominator.first_name }}</div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="ui segment raised fluid" style="margin:20px 0; width: 100%;">

                <div class="ui top attached header raised image fluid" style="margin: 20px 0 20px">
                    <i class="large skull crossbones middle aligned icon"></i>
                    <div class="content">
                        Your Vetos
                        <div class="sub header">Select a movie to anonymously remove it
                            from the election. Please use this sparingly, but we'd much rather you veto a
                            video and come than don't veto it and miss out!
                        </div>
                    </div>
                </div>
                {% for candidate in candidates %}
                <div class="item" id="veto_{{ candidate.pk }}">
                    <div class="ui checkbox">
                        <input name="vetos" type="checkbox" id="id_{{ candidate.pk }}" value="{{ candidate.pk }}">
                        <label for="id_{{ candidate.pk }}">{{ candidate.data.fields.title }}</label>
                    </div>
                </div>
                {% endfor %}

            </div>

            <div class="ui segment raised fluid" style="margin:20px 0; width: 100%;">

                <div class="ui top attached header raised image fluid" style="margin: 20px 0 20px">
                    <i class="large calendar check outline middle aligned icon"></i>
                    <div class="content">
                        Your RSVP
                        <div class="sub header">Please vote only if you think you are more than 50% likely to come.
                        </div>
                    </div>
                </div>

                <select id="id_likelihood_of_coming" name="likelihood_of_coming"  class="ui dropdown" required="required">
                    <option value="">RSVP</option>
                    <option value="100">I am definitely coming</option>
                    <option value="75">I will probably come</option>
                    <option value="50">A little higher than 50/50 at this point</option>
                </select>
            </div>

        </div>
        <input id="id_movie_night" name="movie_night" required="required" type="hidden"
               value="{{ movie_night.uuid }}">
        <input id="id_voter" name="voter" required="required" type="hidden"
               value="{{ movie_voter.pk }}">
        <input id="id_ballot" name="ballot" required="required" type="hidden">
        <div class="ui error message"></div>
        <div class="ui message teal" style="width: 100%">
            <button class="ui button teal" type="submit"><i class="large vote yea middle aligned icon"></i> Submit your
                ballot!
            </button>
            <p>Double check your votes! You won't be able to edit after you submit.</p>
        </div>

    </form>
    {% endif %}

{% endblock %}

{% block scripts %}
<script>

    function saveBallot(event) {
        var ids = []
        $("#initial_list").children('div').each(function () {
            ids.push($(this).attr('id'))
        })
        $("#id_ballot").val(ids)
    }

    saveBallot();

    function updateMovie(result, response) {
        $("#movie_preview_placeholder").removeClass('hidden');
        $("#movie_preview").html("");
        $.get("/standrew/movies/details/" + result.id, function (data) {
            $("#movie_preview").html(data);
            $("#movie_preview_placeholder").addClass('hidden');
            $("#id_name").val(result.id);
        });
    }

    $('.ui.search')
        .search({
            apiSettings: {
                url: '/standrew/movies/search/{query}'
            },
            fields: {
                results: 'items',
            },
            minCharacters: 3,
            onSelect: updateMovie
        })
    ;

    $('#id_likelihood_of_coming')
      .dropdown()
    ;

    $('.ui.form')
      .form({
        fields: {
          likelihood_of_coming: {
            identifier: 'likelihood_of_coming',
            rules: [
              {
                type   : 'empty',
                prompt : 'You must select your RSVP.'
              }
            ]
          },
        }
      })
;


    new Sortable(initial_list, {
        animation: 150,
        onEnd: saveBallot,
    });
</script>

{% endblock %}

