git+https://github.com/blocher/python-scriptures
git+https://github.com/jazzband/django-robots
git+https://github.com/blocher/django-inlinecss@django4
git+https://github.com/mailchimp/mailchimp-marketing-python.git
arrow>=1.2.3,<2.0
Babel>=2.12.1,<2.13
beautifulsoup4>=4.12.2,<5
black>=23.3.0,<24.0
bugsnag>=4.4.0,<5
Delorean>=1.0.0,<2.0
Django>=4.2.2,<4.3
django-address>=0.2.8,<0.3
django-admin-sortable2>=2.1.8,<3
django-array-tags>=0.2.2,<0.3
django-cachekiller>=0.8.2,<0.9
django-ckeditor>=6.6.1,<7
django-cors-headers>=4.1.0,<5
django-debug-toolbar>=4.1.0,<5
django-distill>=3.1.3,<4
django-dotenv>=1.4.2,<2
django-environ>=0.10.0,<1
django-extensions>=3.2.3,<4
django-filter>=23.2,<24
django-js-asset>=2.0.0,<3
django-inlinecss
django-kronos>=1.0,<2
django-mathfilters>=1.0.0,<2
django-meta>=2.2.0,<3
django-mjml>=1.1,<2
django-model-utils>=4.3.1,<5
django-richtextfield>=1.6.1,<2
django-robots
django-sslserver>=0.22,<1
django-taggit>=4.0.0,<5
django_tinymce>=3.6.1,<4
django-webpack-loader>=2.0.1,<3
django-widget-tweaks>=1.4.12,<2
djangorestframework>=3.14.0,<4
docx>=0.2.4,<0.3
drf-yasg>=1.21.6,<2
google-api-core>=2.11.1,<3
google-api-python-client>=2.90.0,<3
google-auth>=2.20.0,<3
google-auth-oauthlib>=1.0.0,<2
google-auth-httplib2>=0.1.0,<0.2
googleapis-common-protos>=1.59.1,<2
gunicorn>=20.1.0,<21
html2text==2020.1.16
html5lib>=1.1,<2
htmldocx>=0.0.6,<0.1
humanize>=4.6.0,<5
Hypercorn>=0.14.3,<0.15
icalendar>=5.0.7,<6
indexed>=1.3.0,<2
ipython>=8.14.0,<9
kronos>=0.2.2,<0.3
lxml>=4.9.2,<5
Markdown>=3.4.3,<4
MarkupSafe>=2.1.3,<3
mjml>=0.9.0,<1
num2words>=0.5.12,<0.6
pdfplumber>=0.9.0,<1
Pillow>=9.5.0,<10
pip>=23.1.2,<24
pipdeptree>=2.9.3,<3
pipenv>=2023.6.18
platformdirs>=3.8.0,<4
pre-commit>=3.3.3,<4
psycopg>=3.1.10,<4
psycopg-binary>=3.1.10,<4
pymemcache>=4.0.0,<5
pyrankvote>=2.0.6,<3
python-crontab>=2.7.1,<3
python-dateutil>=2.8.2,<3
python-docx>=0.8.11,<1
python-dotenv>=1.0.0,<2
python-memcached>=1.59,<2
python-scriptures
pytz>=2023.3
rake-nltk>=1.0.6,<2
requests>=2.31.0,<3
setuptools>=68.0.0,<69
tqdm>=4.65.0,<5
uvicorn>=0.22.0,<0.23
uvloop>=0.17.0,<0.18
Werkzeug>=2.3.6,<3
wheel>=0.40.0,<0.50
whitenoise>=6.5.0,<7
