<p class="hanging-indent"><strong>My soul magnifies the Lord,<span class="asterisk">*</span></strong></p>
<p class="indent"><strong>and my spirit rejoices in God my Savior;</strong></p>
<p class="hanging-indent"><strong>For he has regarded<span class="asterisk">*</span></strong></p>
<p class="indent"><strong>the lowliness of his handmaiden.</strong></p>
<p class="hanging-indent"><strong>For behold, from now on,<span class="asterisk">*</span></strong></p>
<p class="indent"><strong>all generations will call me blessed;</strong></p>
<p class="hanging-indent"><strong>For he that is mighty has magnified me,<span class="asterisk">*</span></strong></p>
<p class="indent"><strong>and holy is his Name.</strong></p>
<p class="hanging-indent"><strong>And his mercy is on those who fear him,<span class="asterisk">*</span></strong></p>
<p class="indent"><strong>throughout all generations.</strong></p>
<p class="hanging-indent"><strong>He has shown the strength of his arm;<span class="asterisk">*</span></strong></p>
<p class="indent"><strong>he has scattered the proud in the imagination of their hearts.</strong></p>
<p class="hanging-indent"><strong>He has brought down the mighty from their thrones,<span class="asterisk">*</span></strong></p>
<p class="indent"><strong>and has exalted the humble and meek.</strong></p>
<p class="hanging-indent"><strong>He has filled the hungry with good things,<span class="asterisk">*</span></strong></p>
<p class="indent"><strong>and the rich he has sent empty away.</strong></p>
<p class="hanging-indent"><strong>He, remembering his mercy, has helped his servant Israel,<span class="asterisk">*</span></strong></p>
<p class="indent"><strong>as he promised to our fathers, Abraham and his seed for ever.</strong></p>
