<p class="hanging-indent"><strong>Lord, now let your servant depart in peace,<span class="asterisk">*</span> </strong></p>
<p class="indent"><strong>according to your word.</strong></p>
<p class="hanging-indent"><strong>For my eyes have seen your salvation,<span class="asterisk">*</span></strong></p>
<p class="indent"><strong>which you have prepared before the face of all people; </strong></p>
<p class="hanging-indent"><strong>To be a light to lighten the Gentiles,<span class="asterisk">*</span></strong></p>
<p class="indent"><strong>and to be the glory of your people Israel.</strong></p>
