<p class="hanging-indent"><strong>Glory to you, Lord God of our fathers; *</strong></p>
<p class="indent"><strong>you are worthy of praise; glory to you.</strong></p>
<p class="hanging-indent"><strong>Glory to you for the radiance of your holy Name; *</strong></p>
<p class="indent"><strong>we will praise you and highly exalt you for ever.</strong></p>
<p class="hanging-indent"><strong>Glory to you in the splendor of your temple; *</strong></p>
<p class="indent"><strong>on the throne of your majesty, glory to you.</strong></p>
<p class="hanging-indent"><strong>Glory to you, seated between the Cherubim; *</strong></p>
<p class="indent"><strong>we will praise you and highly exalt you for ever.</strong></p>
<p class="hanging-indent"><strong>Glory to you, beholding the depths; *</strong></p>
<p class="indent"><strong>in the high vault of heaven, glory to you.</strong></p>
<p class="hanging-indent"><strong>Glory to you, Father, Son, and Holy Spirit; *</strong></p>
<p class="indent"><strong>we will praise you and highly exalt you for ever.</strong></p>
