<p class="hanging-indent"><strong>Blessed be the Lord, the God of Israel; *</strong></p>
<p class="indent"><strong>he has come to his people and set them free.</strong></p>
<p class="hanging-indent"><strong>He has raised up for us a mighty savior, *</strong></p>
<p class="indent"><strong>born of the house of his servant David.</strong></p>
<p class="hanging-indent"><strong>Through his holy prophets he promised of old</strong></p>
<p class="hanging-indent"><strong>that he would save us from our enemies, *</strong></p>
<p class="indent"><strong>from the hands of all who hate us.</strong></p>
<p class="hanging-indent"><strong>He promised to show mercy to our fathers *</strong></p>
<p class="indent"><strong>and to remember his holy covenant.</strong></p>
<p class="hanging-indent"><strong>This was the oath he swore to our father Abraham, *</strong></p>
<p class="indent"><strong>to set us free from the hands of our enemies,</strong></p>
<p class="hanging-indent"><strong>Free to worship him without fear, *</strong></p>
<p class="indent"><strong>holy and righteous in his sight</strong></p>
<p class="indent"><strong>all the days of our life.</strong></p>
<p class="hanging-indent"><strong>You, my child, shall be called the prophet of the Most High, *</strong></p>
<p class="indent"><strong>for you will go before the Lord to prepare his way,</strong></p>
<p class="hanging-indent"><strong>To give his people knowledge of salvation *</strong></p>
<p class="indent"><strong>by the forgiveness of their sins.</strong></p>
<p class="hanging-indent"><strong>In the tender compassion of our God *</strong></p>
<p class="indent"><strong>the dawn from on high shall break upon us,</strong></p>
<p class="hanging-indent"><strong>To shine on those who dwell in darkness</strong></p>
<p class="indent"><strong>and in the shadow of death, *</strong></p>
<p class="hanging-indent"><strong>and to guide our feet into the way of peace.</strong></p>
