<p class="hanging-indent"><strong>Glory to God in the highest,</strong></p>
<p class="indent"><strong>and peace to his people on earth.</strong></p>
<p class="hanging-indent"><strong>Lord God, heavenly King,</strong></p>
<p class="hanging-indent"><strong>almighty God and Father,</strong></p>
<p class="indent"><strong>we worship you, we give you thanks,</strong></p>
<p class="indent"><strong>we praise you for your glory.</strong></p>
<p class="hanging-indent"><strong>Lord Jesus Christ, only Son of the Father,</strong></p>
<p class="hanging-indent"><strong>Lord God, Lamb of God,</strong></p>
<p class="hanging-indent"><strong>you take away the sin of the world:</strong></p>
<p class="indent"><strong>have mercy on us;</strong></p>
<p class="hanging-indent"><strong>you are seated at the right hand of the Father:</strong></p>
<p class="indent"><strong>receive our prayer.</strong></p>
<p class="hanging-indent"><strong>For you alone are the Holy One,</strong></p>
<p class="hanging-indent"><strong>you alone are the Lord,</strong></p>
<p class="hanging-indent"><strong>you alone are the Most High,</strong></p>
<p class="indent"><strong>Jesus Christ,</strong></p>
<p class="indent"><strong>with the Holy Spirit,</strong></p>
<p class="indent"><strong>in the glory of God the Father. Amen.</strong></p>
