<p class="hanging-indent"><strong>O be joyful in the Lord, all you lands; *</strong></p>
<p class="indent"><strong>serve the Lord with gladness,</strong></p>
<p class="indent"><strong>and come before his presence with a song.</strong></p>
<p class="hanging-indent"><strong>Be assured that the Lord, he is God; *</strong></p>
<p class="indent"><strong>it is he that has made us, and not we ourselves; </strong></p>
<p class="indent"><strong>we are his people, and the sheep of his pasture.</strong></p>
<p class="hanging-indent"><strong>O go your way into his gates with thanksgiving, </strong></p>
<p class="indent"><strong>and into his courts with praise; *</strong></p>
<p class="indent"><strong>be thankful unto him, and speak good of his Name. </strong></p>
<p class="hanging-indent"><strong>For the Lord is gracious, his mercy is everlasting, *</strong></p>
<p class="indent"><strong>and his truth endures from generation to generation.</strong></p>
