<p class="hanging-indent"><strong>O ruler of the universe, Lord God,</strong></p>
<p class="hanging-indent"><strong>great deeds are they that you have done, *</strong></p>
<p class="indent"><strong>surpassing human understanding.</strong></p>
<p class="hanging-indent"><strong>Your ways are ways of righteousness and truth,*</strong></p>
<p class="indent"><strong>O King of all the ages.</strong></p>
<p class="hanging-indent"><strong>Who can fail to do you homage, Lord,</strong></p>
<p class="hanging-indent"><strong>and sing the praises of your Name? *</strong></p>
<p class="indent"><strong>For you only are the Holy One.</strong><br><br></p>
<p class="hanging-indent"><strong>All nations will draw near and fall down before you, *</strong></p>
<p class="indent"><strong>because your just and holy works have been revealed.</strong></p>
