<span class="reading"><h3 class="reading-heading">INVOCATION</h3></span>

<p class="hanging-indent"><strong>Glorify the Lord, all you works of the Lord, *</strong></p>
<p class="indent"><strong>praise him and highly exalt him for ever.</strong></p>
<p class="hanging-indent"><strong>In the firmament of his power, glorify the Lord, *</strong></p>
<p class="indent"><strong>praise him and highly exalt him for ever.</strong></p>

<span class="reading"><h3 class="reading-heading">I. THE COSMIC ORDER</h3></span>

<p class="hanging-indent"><strong>Glorify the Lord, you angels and all powers of the Lord, *</strong></p>
<p class="indent"><strong>O heavens and all waters above the heavens.</strong></p>
<p class="hanging-indent"><strong>Sun and moon and stars of the sky, glorify the Lord, *</strong></p>
<p class="indent"><strong>praise him and highly exalt him for ever.</strong></p>
<p class="hanging-indent"><strong>Glorify the Lord, every shower of rain and fall of dew, *</strong></p>
<p class="indent"><strong>all winds and fire and heat.</strong></p>
<p class="hanging-indent"><strong>Winter and summer, glorify the Lord, *</strong></p>
<p class="indent"><strong>praise him and highly exalt him for ever.</strong></p>
<p class="hanging-indent"><strong>Glorify the Lord, O chill and cold, *</strong></p>
<p class="indent"><strong>drops of dew and flakes of snow.</strong></p>
<p class="hanging-indent"><strong>Frost and cold, ice and sleet, glorify the Lord, *</strong></p>
<p class="indent"><strong>praise him and highly exalt him for ever.</strong></p>
<p class="hanging-indent"><strong>Glorify the Lord, O nights and days, *</strong></p>
<p class="indent"><strong>O shining light and enfolding dark.</strong></p>
<p class="hanging-indent"><strong>Storm clouds and thunderbolts, glorify the Lord, *</strong></p>
<p class="indent"><strong>praise him and highly exalt him for ever.</strong></p>

<span class="reading"><h3 class="reading-heading">II. THE EARTH AND ITS CREATURES</h3></span>

<p class="hanging-indent"><strong>Let the earth glorify the Lord, *</strong></p>
<p class="indent"><strong>praise him and highly exalt him for ever.</strong></p>
<p class="hanging-indent"><strong>Glorify the Lord, O mountains and hills, and all that grows upon the earth, *</strong></p>
<p class="indent"><strong>praise him and highly exalt him for ever.</strong></p>
<p class="hanging-indent"><strong>Glorify the Lord, O springs of water, seas, and streams, *</strong></p>
<p class="indent"><strong>O whales and all that move in the waters.</strong></p>
<p class="hanging-indent"><strong>All birds of the air, glorify the Lord, *</strong></p>
<p class="indent"><strong>praise him and highly exalt him for ever.</strong></p>
<p class="hanging-indent"><strong>Glorify the Lord, O beasts of the wild, *</strong></p>
<p class="indent"><strong>and all you flocks and herds.</strong></p>
<p class="hanging-indent"><strong>O men and women everywhere, glorify the Lord, *</strong></p>
<p class="indent"><strong>praise him and highly exalt him for ever.</strong></p>

<span class="reading"><h3 class="reading-heading">III. THE PEOPLE OF GOD</h3></span>

<p class="hanging-indent"><strong>Let the people of God glorify the Lord, *</strong></p>
<p class="indent"><strong>praise him and highly exalt him for ever.</strong></p>
<p class="hanging-indent"><strong>Glorify the Lord, O priests and servants of the Lord, *</strong></p>
<p class="indent"><strong>praise him and highly exalt him for ever.</strong></p>
<p class="hanging-indent"><strong>Glorify the Lord, O spirits and souls of the righteous, *</strong></p>
<p class="indent"><strong>praise him and highly exalt him for ever.</strong></p>
<p class="hanging-indent"><strong>You that are holy and humble of heart, glorify the Lord, *</strong></p>
<p class="indent"><strong>praise him and highly exalt him for ever.</strong></p>

<span class="reading"><h3 class="reading-heading">DOXOLOGY</h3></span></span>

<p class="hanging-indent"><strong>Let us glorify the Lord: the Father, the Son, and the Holy Spirit; *</strong></p>
<p class="indent"><strong>praise him and highly exalt him for ever.</strong></p>
<p class="hanging-indent"><strong>In the firmament of his power, glorify the Lord, *</strong></p>
<p class="indent"><strong>praise him and highly exalt him for ever.</strong></p>
