<p class="hanging-indent"><strong>O Lord and Ruler of the hosts of heaven,*</strong></p>
<p class="indent"><strong>God of Abraham, Isaac, and Jacob,  and of all their righteous offspring:</strong></p>
<p class="hanging-indent"><strong>You made the heavens and the earth, *</strong></p>
<p class="indent"><strong>with all their vast array.</strong></p>
<p class="hanging-indent"><strong>All things quake with fear at your presence; *</strong></p>
<p class="indent"><strong>they tremble because of your power.</strong></p>
<p class="hanging-indent"><strong>But your merciful promise is beyond all measure; *</strong></p>
<p class="indent"><strong>it surpasses all that our minds can fathom.</strong></p>
<p class="hanging-indent"><strong>O Lord, you are full of compassion, *</strong></p>
<p class="indent"><strong>long-suffering, and abounding in mercy.</strong></p>
<p class="hanging-indent"><strong>You hold back your hand; *</strong></p>
<p class="indent"><strong>you do not punish as we deserve.</strong></p>
<p class="hanging-indent"><strong>In your great goodness, Lord, you have promised forgiveness to sinners, *</strong></p>
<p class="indent"><strong>that they may repent of their sin and be saved.</strong></p>
<p class="hanging-indent"><strong>And now, O Lord, I bend the knee of my heart, *</strong></p>
<p class="indent"><strong>and make my appeal, sure of your gracious goodness. </strong></p>
<p class="hanging-indent"><strong>I have sinned, O Lord, I have sinned, *</strong></p>
<p class="indent"><strong>and I know my wickedness only too well.</strong></p>
<p class="hanging-indent"><strong>Therefore I make this prayer to you: *</strong></p>
<p class="indent"><strong>Forgive me, Lord, forgive me.</strong></p>
<p class="hanging-indent"><strong>Do not let me perish in my sin, *</strong></p>
<p class="indent"><strong>nor condemn me to the depths of the earth.</strong></p>
<p class="hanging-indent"><strong>For you, O Lord, are the God of those who repent, *</strong></p>
<p class="indent"><strong>and in me you will show forth your goodness.</strong></p>
<p class="hanging-indent"><strong>Unworthy as I am, you will save me, in accordance with your great mercy, *</strong></p>
<p class="indent"><strong>and I will praise you without ceasing all the days of my life. </strong></p>
<p class="hanging-indent"><strong>For all the powers of heaven sing your praises, *</strong></p>
<p class="indent"><strong>and yours is the glory to ages of ages. Amen.</strong></p>
