<p class="hanging-indent"><strong>Seek the LORD while he wills to be found; *</strong></p>
<p class="indent"><strong>call upon him when he draws near.</strong></p>
<p class="hanging-indent"><strong>Let the wicked forsake their ways *</strong></p>
<p class="indent"><strong>and the evil ones their thoughts;</strong></p>
<p class="hanging-indent"><strong>And let them turn to the LORD, and he will have compassion, *</strong></p>
<p class="indent"><strong>and to our God, for he will richly pardon.</strong></p>
<p class="hanging-indent"><strong>For my thoughts are not your thoughts, *</strong></p>
<p class="indent"><strong>nor your ways my ways, says the LORD.</strong></p>
<p class="hanging-indent"><strong>For as the heavens are higher than the earth, *</strong></p>
<p class="indent"><strong>so are my ways higher than your ways,</strong></p>
<p class="indent"><strong>and my thoughts than your thoughts.</strong></p>
<p class="hanging-indent"><strong>For as rain and snow fall from the heavens *</strong></p>
<p class="indent"><strong>and return not again, but water the earth,</strong></p>
<p class="hanging-indent"><strong>Bringing forth life and giving growth, *</strong></p>
<p class="indent"><strong>seed for sowing and bread for eating,</strong></p>
<p class="hanging-indent"><strong>So is my word that goes forth from my mouth; *</strong></p>
<p class="indent"><strong>it will not return to me empty;</strong></p>
<p class="hanging-indent"><strong>But it will accomplish that which I have purposed, *</strong></p>
<p class="indent"><strong>and prosper in that for which I sent it.</strong></p>
