<p class="hanging-indent"><strong>I will sing to the LORD, for he is lofty and uplifted; *</strong></p>
<p class="indent"><strong>the horse and its rider has he hurled into the sea.</strong></p>
<p class="hanging-indent"><strong>The LORD is my strength and my refuge; *</strong></p>
<p class="indent"><strong>the LORD has become my Savior.</strong></p>
<p class="hanging-indent"><strong>This is my God and I will praise him, *</strong></p>
<p class="indent"><strong>the God of my people and I will exalt him.</strong></p>
<p class="hanging-indent"><strong>The LORD is a mighty warrior; *</strong></p>
<p class="indent"><strong>The LORD is his Name.</strong></p>
<p class="hanging-indent"><strong>The chariots of Pharaoh and his army has he hurled into the sea; *</strong></p>
<p class="indent"><strong>the finest of those who bear armor have been drowned in the Red Sea.</strong></p>
<p class="hanging-indent"><strong>The fathomless deep has overwhelmed them; *</strong></p>
<p class="indent"><strong>they sank into the depths like a stone.</strong></p>
<p class="hanging-indent"><strong>Your right hand, O LORD, is glorious in might; *</strong></p>
<p class="indent"><strong>your right hand, O LORD, has overthrown the enemy.</strong></p>
<p class="hanging-indent"><strong>Who can be compared with you, O LORD, among the gods? *</strong></p>
<p class="indent"><strong>Who is like you, glorious in holiness, awesome in renown, and worker of wonders?</strong></p>
<p class="hanging-indent"><strong>You stretched forth your right hand; *</strong></p>
<p class="indent"><strong>the earth swallowed them up.</strong></p>
<p class="hanging-indent"><strong>With your constant love you led the people you redeemed; *</strong></p>
<p class="indent"><strong>you brought them in safety to your holy dwelling.</strong></p>
<p class="hanging-indent"><strong>You will bring them in and plant them *</strong></p>
<p class="indent"><strong>on the mount of your possession,</strong></p>
<p class="hanging-indent"><strong>The resting-place you have made for yourself, O LORD, *</strong></p>
<p class="indent"><strong>the sanctuary, O LORD, that your hand has established.</strong></p>
<p class="hanging-indent"><strong>The LORD shall reign *</strong></p>
<p class="indent"><strong>for ever and for ever.</strong></p>
