<p class="hanging-indent"><strong>Splendor and honor and kingly power *</strong></p>
<p class="indent"><strong>are yours by right, O Lord our God,</strong></p>
<p class="hanging-indent"><strong>For you created everything that is, *</strong></p>
<p class="indent"><strong>and by your will they were created and have their being; </strong></p>
<p class="hanging-indent"><strong>And yours by right, O Lamb that was slain, *</strong></p>
<p class="indent"><strong>for with your blood you have redeemed for God, </strong></p>
<p class="hanging-indent"><strong>From every family, language, people, and nation, *</strong></p>
<p class="indent"><strong>a kingdom of priests to serve our God. </strong></p>
<p class="hanging-indent"><strong>And so, to him who sits upon the throne, *</strong></p>
<p class="indent"><strong>and to Christ the Lamb,</strong></p>
<p class="hanging-indent"><strong>Be worship and praise, dominion and splendor, *</strong></p>
<p class="indent"><strong>for ever and for evermore. Amen.</strong></p>
