<p class="hanging-indent"><strong>O sing unto the LORD a new song, *</strong></p>
<p class="indent"><strong>for he has done marvelous things.</strong></p>
<p class="hanging-indent"><strong>With his own right hand, and with his holy arm, *</strong></p>
<p class="indent"><strong>he has won for himself the victory.</strong></p>
<p class="hanging-indent"><strong>The LORD declared his salvation; *</strong></p>
<p class="indent"><strong>his righteousness he has openly shown in the sight of the nations.</strong></p>
<p class="hanging-indent"><strong>He has remembered his mercy and truth toward the house of Israel,*</strong></p>
<p class="indent"><strong>and all the ends of the world have seen the salvation of our God.</strong></p>
<p class="hanging-indent"><strong>Show yourselves joyful unto the LORD, all you lands; *</strong></p>
<p class="indent"><strong>sing, rejoice, and give thanks.</strong></p>
<p class="hanging-indent"><strong>Praise the LORD with the harp; *</strong></p>
<p class="indent"><strong>sing with the harp a psalm of thanksgiving.</strong></p>
<p class="hanging-indent"><strong>With trumpets also and horns, *</strong></p>
<p class="indent"><strong>O show yourselves joyful before the LORD, the King. </strong></p>
<p class="hanging-indent"><strong>Let the sea make a noise, and all that is in it, *</strong></p>
<p class="indent"><strong>the round world, and those that dwell therein.</strong></p>
<p class="hanging-indent"><strong>Let the rivers clap their hands, and let the hills be joyful together before the LORD, *</strong></p>
<p class="indent"><strong>for he has come to judge the earth.</strong></p>
<p class="hanging-indent"><strong>With righteousness shall he judge the world *</strong></p>
<p class="indent"><strong>and the peoples with equity.</strong></p>
