<p class="hanging-indent"><strong>Surely, it is God who saves me; *</strong></p>
<p class="indent"><strong>I will trust in him and not be afraid.</strong></p>
<p class="hanging-indent"><strong>For the LORD is my stronghold and my sure defense, *</strong></p>
<p class="indent"><strong>and he will be my Savior.</strong></p>
<p class="hanging-indent"><strong>Therefore you shall draw water with rejoicing *</strong></p>
<p class="indent"><strong>from the springs of salvation.</strong></p>
<p class="hanging-indent"><strong>And on that day you shall say, *</strong></p>
<p class="indent"><strong>Give thanks to the LORD and call upon his Name;</strong></p>
<p class="hanging-indent"><strong>Make his deeds known among the peoples; *</strong></p>
<p class="indent"><strong>see that they remember that his Name is exalted.</strong></p>
<p class="hanging-indent"><strong>Sing the praises of the LORD, for he has done great things, *</strong></p>
<p class="indent"><strong>and this is known in all the world.</strong></p>
<p class="hanging-indent"><strong>Cry aloud, inhabitants of Zion, ring out your joy, *</strong></p>
<p class="indent"><strong>for the great one in the midst of you is the Holy One of Israel.</strong></p>
