<p class="hanging-indent"><strong>May God be merciful unto us, and bless us, *</strong></p>
<p class="indent"><strong>and show us the light of his countenance, and be merciful unto us.</strong></p>
<p class="hanging-indent"><strong>Let your way be known upon earth, *</strong></p>
<p class="indent"><strong>your saving health among all nations.</strong></p>
<p class="hanging-indent"><strong>Let the peoples praise you, O God; *</strong></p>
<p class="indent"><strong>indeed, let all the peoples praise you.</strong></p>
<p class="hanging-indent"><strong>O let the nations rejoice and be glad, *</strong></p>
<p class="indent"><strong>for you shall judge the peoples righteously, and govern the nations upon earth.</strong></p>
<p class="hanging-indent"><strong>Let the peoples praise you, O God; *</strong></p>
<p class="indent"><strong>let all the peoples praise you.</strong></p>
<p class="hanging-indent"><strong>Then shall the earth bring forth her increase, *</strong></p>
<p class="indent"><strong>and God, even our own God, shall give us his blessing.</strong></p>
<p class="hanging-indent"><strong>God shall bless us, *</strong></p>
<p class="indent"><strong>and all the ends of the world shall fear him.</strong></p>
