{% load static %}
{% load render_bundle from webpack_loader %}
<!DOCTYPE html>
<html id="html" class="theme-dark {% if "/family/" in request.get_full_path %} family {% endif %}">
    <head>
        <!-- Google Tag Manager -->
        <script>(function (w, d, s, l, i) {
            w[l] = w[l] || [];
            w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            });
            var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : '';
            j.async = true;
            j.src =
                'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
            f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-NSB92RP');</script>
        <script> window.file_name = "{{ filename }}";</script>
        <!-- End Google Tag Manager -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="apple-touch-icon" sizes="180x180" href="{% static 'apple-touch-icon.png' %}">
        <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon-32x32.png' %}">
        <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon-16x16.png' %}">
        <link rel="manifest" href="{% static 'site.webmanifest' %}">
        {% render_bundle 'main' 'js' %}
        {% include 'meta/meta.html' %}
        {% block extra_head %}
        {% endblock %}
    </head>

    <body id="body" class="{{ mode }}{% if "/family/" in request.get_full_path %} family {% endif %}">
        <div id="{{ mode }}" class="{{ mode }}">
            <!-- Google Tag Manager (noscript) -->
            <noscript>
                <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NSB92RP"
                        height="0" width="0" style="display:none;visibility:hidden"></iframe>
            </noscript>
            {% include "office/header.html" %}
            <div class="main">
                <div class="{{ show_settings_class }}">
                    {%  include "office/settings_section.html" %}
                </div>
                {% block content %}
                {% endblock %}
                {%  include "feedback.html" %}

             </div>
            <div class="no-print">
                {% if office %}
                    {% if office.family %}
                        {% include "office/footer_family.html" %}
                    {% else %}
                        {% include "office/footer.html" %}
                    {% endif %}
                {% endif %}
            </div>

            <link href="https://fonts.googleapis.com/css?family=Lusitana:400,700&display=swap" rel="stylesheet">
        </div>
    </body>


</html>
