{% load static %}
{% load render_bundle from webpack_loader %}
<!DOCTYPE html>
<html id="html" class="theme-dark {% if "/family/" in request.get_full_path %} family {% endif %}" data-appversion="{{ app_version }}">
    <head>
        <script>
            window.mode = "{{ mode }}";
            window.file_name = "{{ filename }}";
        </script>
        <!-- Google Tag Manager -->
        <script> if (window.mode=='web') { (function (w, d, s, l, i) {
            w[l] = w[l] || [];
            w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            });
            var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : '';
            j.async = true;
            j.src =
                'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
            f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-NSB92RP'); }</script>

        <!-- End Google Tag Manager -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">

        <link rel="apple-touch-icon" sizes="180x180" href="{% static 'apple-touch-icon.png' %}">
        <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon-32x32.png' %}">
        <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon-16x16.png' %}">
        <link rel="manifest" href="{% static 'site.webmanifest' %}">
        {% render_bundle 'main' 'js' %}
        {% include 'meta/meta.html' %}
        {% block extra_head %}
        {% endblock %}
    </head>

    <body id="body" class="{{ mode }}{% if "/family/" in request.get_full_path %} family {% endif %}">
        <div id="paginatedText">

        </div>
        <div id="{{ mode }}" class="{{ mode }}">
            <div id="notch" class="notch">

            </div>
            <!-- Google Tag Manager (noscript) -->
            <noscript>
                <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NSB92RP"
                        height="0" width="0" style="display:none;visibility:hidden"></iframe>
            </noscript>
            {% include "office/header.html" %}
            <div class="main">
                <!-- <p class="announcement no-print"><i class="fas fa-scroll"></i><strong> New!</strong> Presentation/book mode<br><small>Try the new presentation mode, a streamlined paginated view that avoids jerky scrolling. It is great for presenting to a group on YouTube, Facebook Live, Zoom, or other video services. On mobile devices with a touchscreen, you may swipe left or right to turn the page. To get started, click the <i id="presentiation-mode-link" class="fas fa-presentation"></i> button above.</small></p>-->

                <div class="{{ show_settings_class }}">
                    {%  include "office/settings_section.html" %}
                </div>
                {% block content %}
                {% endblock %}
                {%  include "feedback.html" %}

            </div>

            <div class="no-print">
                {% if office %}
                    {% if office.family %}
                        {% include "office/footer_family.html" %}
                    {% else %}
                        {% include "office/footer.html" %}
                    {% endif %}
                {% endif %}
            </div>

        </div>

        <div id="presentation-controls" class="off">
                <div class="container">
                    <div class="item">
                        <a href="#" class="scroll-back"><i class="fas fa-arrow-left"></i></a>
                    </div>
                    <div class="item align-center">
                        Page <span id="pageNumber">1</span> of <span id="allPages">1</span>
                    </div>
                    <div class="item align-center">
                        <a href="#" id="exit-presentation-link"><i class="fas fa-times-circle"></i> Exit Presentation</a>
                    </div>
                    <div class="item align-right">
                        <a href="#" class="scroll-forward"><i class="fas fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>




    </body>



</html>
