{% extends 'base.html' %}
{% load static %}
{% load render_bundle from webpack_loader %}

{% block content %}

    <div class="about">
        <h1>About</h1>

        <h2>About this site</h2>

        <p>This site is designed to make it easy to pray Morning and Evening Prayer (as well as Midday Prayer and Compline) on to go. Morning and Evening Prayer are presented for each day, allowing you to easily pray they day's offices without flipping pages, looking up readings, interpreting rubrics, finding the calendar, or using a separate Bible.</p>

        <h2>About the Daily Office</h2>

        <p>Daily Morning Prayer and Daily Evening Prayer <em>(along with Midday Prayer and Compline/Night Prayer)</em> are the established rites (offices) by which, both corporately and individually, God’s people annually encounter the whole of the Holy Scriptures, daily confess their sins and praise Almighty God, and offer timely thanksgivings, petitions, and intercessions.</p>

        <h5>From the Book of Common Prayer (2019)</h5>

        <h2>Frequently Asked Questions</h2>

        <h3>Where are the liturgies taken from?</h3>

        <p>These prayers are excellent for use by Christians of any tradition, but this site attempts to accurately reflect the liturgy, calendar, and rubrics of the <em>Book of Common Prayer (2019)</em> of the <em>Anglican Church in North America.</em> The official texts can be found at <a target="_blank" href="http://bcp2019.anglicanchurch.net/index.php/downloads/">the BCP site</a>.</p>

        <h3>Which translation of the Bible is used?</h3>

        <p>Scripture readings are taken from the English Standard Version. Readings from the Deuterocanon (Apocrypha) are taken from the Revised Standard Version.  The Psalter is the <em>Renewed Coverdale Translation</em> from the <em>Book of Common Prayer (2019).</em></p>

        <p><em>Scripture quotations are from the ESV® Bible (The Holy Bible, English Standard Version®), copyright © 2001 by Crossway Bibles, a publishing ministry of Good News Publishers. Used by permission. All rights reserved. --or-- Revised Standard Version of the Bible, 2nd edition, copyright 1971, by the Division of Christian Education of the National Council of the Churches of Christ in the United States of America. Used by permission. All rights reserved.</em></p>

        <h3>Is this an official site?</h3>
        <p>No, this site was built as a personal project and is not affiliated with any church or organization.  It does attempt, as much as possible, to accurately reflect the <em>Book of Common Prayer (2019)</em> of the <em>Anglican Church in North America</em>.</p>

        <h3>Can I customize the liturgies to the way I usually pray the daily office?</h3>
        <p>Yep! While, this site is meant to be used easily with no configuration, if you prefer different options, we offer a lot of choices under "Settings". More options are coming soon.</p>

        <h3>Whey use this site instead of the others already available?</h3>
        <p>This is site is built to be more <strong>streamlined</strong>, <strong>clean</strong>, and <strong>easy-to-use</strong> while being extremely <strong>flexible</strong> for those who want a greater level of control over how they pray.  It is also meant to be very <strong>accurate</strong> and faithful to the text, rubrics, and calendar of the <em>Book of Common Prayer (2019)</em>.  All that said, please use what works for you. <a target="_blank" href="http://legereme.com/">Legerme</a> is another good option for the 2019 prayer book texts. <a target="_blank" href="http://www.stbedeproductions.com/breviary/">St. Bede's Breviary</a>, <a target="_blank" href="https://www.missionstclare.com/english/index.html">Mission St. Claire</a>, and <a target="_blank" href="https://dailyoffice.app/">dailyoffice.app</a> are good options for the 1979 prayer book texts.</p>

        <h3>What new features are coming soon?</h3>

        <p>iOS (iPhone and iPad) and Android Apps</p>
        <p>Biographies for individual saints</p>
        <p>Eucharistic readings</p>
        <p>Much more ...</p>

        <h3>Where can I provide feedback?</h3>
        <p>Send an email to <a target="_blank" href="mailto:feedback@dailyoffice2019.com">feedback@dailyoffice2019.com</a>.  We welcome suggestions for new features or ways to make this site easier to use.  We especially appreciate corrections for errors in the text, calendar, or rubrics.</p>

        <h3>How much of scripture is read?</h3>
        <p> The Old Testament is read in its entirety once each year (with the exception of a few passages in Leviticus, Numbers, Joshua, Judges, Ezra, Nehemiah, Ezekiel, and the majority of Chronicles). The Gospels and Acts are read in their entirety twice each year, at Morning Prayer during the first part of the year, at Evening Prayer during the second part of the year. The Epistles are read twice each year in the opposite pattern, except for the  Revelation to John, which is read only once, during the Advent season. Select passages of the Apocrypha have been retained. In general, readings move continuously through books of the Bible, interrupted only by Holy Days. For most Holy Days a single proper lesson is included, usually in Morning Prayer. For major feasts of our Lord, two proper lessons are included.</p>
        <h5>Adapted from the Book of Common Prayer (2019)</h5>

        <h3>More about the Daily Office</h3>

        <p>The ancient Christian practice of beginning and ending each day with Bible reading and prayer is known as the “Daily Office” – as in the “daily service” or “daily duty” of Christians.</p>

        <p>The Daily Office primarily consists of Morning and Evening Prayer (although there are other prayer times/services, such as Noonday Prayer and Compline, which is prayer right before bed).</p>

        <p>It finds its roots in ancient Israel. God’s people were commanded to talk about God’s word “when you sit in your house, and when you walk by the way, and when you lie down, and when you rise” (Deut. 6:7). Our mornings and evenings (and the day in between!) are important to God.</p>

        <h5>From <a target="_blank" href="https://anglicanpastor.com/dailyofficebooklet">Anglican Pastor</a></h5>


    </div>
{% endblock %}
