<div class="footer footer-always-fixed no-print">
    <div class="footer-flex">
        <div><a id="cal-menu-today-link" href=""><i class="fal fa-calendar-day"></i>Today</a></div>
        <div><a id="cal-menu-dates-link" href="#cal-menu-dates"><i class="fal fa-calendar-alt"></i>Jump to Date</a></div>
        <div><a id="cal-menu-seasons-link" href="#cal-menu-seasons"><i class="fal fa-church"></i>Jump to Season</a></div>
        <div><a id="cal-menu-seasons-link" href="#html"><i class="fal fa-arrow-to-top"></i>Jump to Top</a></div>
    </div>
</div>
