<div class="canticle-default">
    {% if data.default.1 %}
        <div class="psalter-thirty">
            {% include "office/canticle_single.html" with canticle=data.default.0 %}
        </div>
        <div class="psalter-sixty">
            {% include "office/canticle_single.html" with canticle=data.default.1 %}
        </div>
    {% else %}
        {% include "office/canticle_single.html" with canticle=data.default %}
    {% endif %}
</div>

<div class="canticle-1979 off">
    {% if data.1979.1 %}
        <div class="psalter-thirty">
            {% include "office/canticle_single.html" with canticle=data.1979.0 %}
        </div>
        <div class="psalter-sixty">
            {% include "office/canticle_single.html" with canticle=data.1979.1 %}
        </div>
    {% else %}
        {% include "office/canticle_single.html" with canticle=data.1979 %}
    {% endif %}
</div>

<div class="canticle-2011 off">
    {% if data.2011.1 %}
        <div class="psalter-thirty">
            {% include "office/canticle_single.html" with canticle=data.2011.0 %}
        </div>
        <div class="psalter-sixty">
            {% include "office/canticle_single.html" with canticle=data.2011.1 %}
        </div>
    {% else %}
        {% include "office/canticle_single.html" with canticle=data.2011 %}
    {% endif %}


</div>
