<div class="chrysostom">
    <div class="lang-english">
    <h3>{{  data.heading }}</h3>

    <p>Almighty God, you have given us grace at this time, with one accord to make our common supplications to you; and you have promised through your well-beloved Son that when two or three are gathered together in his Name you will grant their requests: Fulfill now, O Lord, our desires and petitions as may be best for us; granting us in this world knowledge of your truth, and in the age to come life everlasting.</p>
    <p><strong>Amen.</strong></p>
    </div>

    <div class="lang-chinese off">
    <h3>聖金口若望禱文</h3>

    <p>全能的上帝，祢曾以恩典使我們同心合意向祢祈求；又曾應許我們，凡有兩三個人奉祢聖子的名聚會，祢必允許他們的禱求：求主現在應允我們的祈求，照祢的美意賜福我們；叫我們在世認識祢的真道，在永世得享永生。</p>
    <p><strong>阿們。</strong></p>
    </div>

    <div class="lang-spanish off">
    <h3>Oración de San Juan Crisóstomo</h3>

    <p>Dios todopoderoso, tú nos has dado gracia en este momento para elevar nuestras súplicas comunes ante ti con un mismo sentir; y has prometido por medio de tu muy amado Hijo que cuando dos o tres se reúnen en su Nombre concederás sus peticiones: Cumple ahora, oh Señor, nuestros deseos y peticiones como mejor nos convenga; concediéndonos en este mundo el conocimiento de tu verdad, y en el venidero la vida eterna.</p>
    <p><strong>Amén.</strong></p>
    </div>
</div>
