{% extends 'base.html' %}
{% load static %}
{% load render_bundle from webpack_loader %}
{% load mathfilters %}

{% block content %}
    <div class="calendar-page">

        <div id="calendar" class="calendar">
            <h1>The Church Year</h1>
            <h2>{{  start_year }} - {{  end_year }}</h2>
            <h3>According to the use of the<br>Anglican Church in North America</h3>


            {%  for day in church_year %}
                {% ifchanged day.season.name %}
                    <h3 id="{{ day.season.name|slugify }}"class="season"><div class="color {{ day.season.color|lower }}"></div>{{  day.season.name  }}</h3>
                {% endifchanged %}
                {% ifchanged day.date.month %}
                    <h3 class="month" id="month-{{ day.date|date:"M"|slugify }}-{{ day.date|date:"Y"|slugify }}">{{ day.date|date:"F Y" }}</h3>
                {% endifchanged %}
                {% include "office/day.html" %}
            {%  endfor %}

        </div>
        {% include "office/calendar_menu.html" %}
        {% include "office/cal_footer.html" %}
    </div>

{%  endblock %}
