{% extends 'base.html' %}
{% load static %}
{% load render_bundle from webpack_loader %}
{% load mathfilters %}
{% block content %}
    <div class="calendar-page">

        <div id="calendar" class="calendar">
            <h1>The Church Year</h1>
            <h2>{{  start_year }} - {{  end_year }}</h2>

            <div class="year-links">
                {%  if not hide_previous %}
                    <a class="menu-button" href="/church_year/{{ start_year|sub:1 }}-{{ end_year|sub:1 }}"><i class="fas fa-arrow-left"></i> {{ start_year|sub:1 }} - {{ end_year|sub:1 }}</a>
                {% endif %}
                {%  if not hide_next %}
                    <a class="menu-button" href="/church_year/{{ start_year|add:1 }}-{{ end_year|add:1 }}">{{ start_year|add:1 }} - {{ end_year|add:1 }} <i class="fas fa-arrow-right"></i></a>
                {%  endif %}
            </div>
            {%  for day in church_year %}
                {% ifchanged day.season.name %}
                    <h3 id="{{ day.season.name|slugify }}"class="season"><div class="color {{ day.season.color|lower }}"></div>{{  day.season.name  }}</h3>
                {% endifchanged %}
                {% ifchanged day.date.month %}
                    <h3 class="month" id="month-{{ day.date|date:"M"|slugify }}-{{ day.date|date:"Y"|slugify }}">{{ day.date|date:"F Y" }}</h3>
                {% endifchanged %}
                {% include "office/day.html" %}
            {%  endfor %}

            <div class="year-links">
                {%  if not hide_previous %}
                    <a class="menu-button" href="/church_year/{{ start_year|sub:1 }}-{{ end_year|sub:1 }}"><i class="fas fa-arrow-left"></i> {{ start_year|sub:1 }} - {{ end_year|sub:1 }}</a>
                {% endif %}
                {%  if not hide_next %}
                    <a class="menu-button" href="/church_year/{{ start_year|add:1 }}-{{ end_year|add:1 }}">{{ start_year|add:1 }} - {{ end_year|add:1 }} <i class="fas fa-arrow-right"></i></a>
                {%  endif %}
            </div>

        </div>
        {% include "office/calendar_menu.html" %}
        {% include "office/cal_footer.html" %}
    </div>

{%  endblock %}
