<div class="rotating">
    <h3>{{  data.collect.0 }}</h3>
    <h4>{{  data.collect.1 }}</h4>
    <p>{{  data.collect.2 }} <strong class="lang-english">Amen.</strong><strong class="lang-chinese off">阿們。</strong><strong class="lang-spanish off">Amén.</strong></p>
</div>

<div class="fixed off">
    {% for collect in data.fixed_collects %}
        <h3>{{  collect.0 }}</h3>
        <p>{{  collect.1 }} <strong class="lang-english">Amen.</strong><strong class="lang-chinese off">阿們。</strong><strong class="lang-spanish off">Amén.</strong></p>
    {%  endfor %}
</div>
