<h2>{{ data.heading }}</h2>
<h4>{{ data.subheading }}</h4>
<p><em>El Oficiante y el Pueblo dicen o cantan el Cantar de Simeón con esta Antífona</em></p>
<div class="antiphon">
    <p class="hanging-indent"><strong>Guíanos despiertos, oh Señor, y guárdanos durmiendo; para que despiertos velemos con Cristo, y dormidos descansemos en paz.{% if data.alleluia %} Aleluya, aleluya, aleluya.{% endif %}</strong></p>
</div>

<p class="hanging-indent"><strong>«Según tu palabra, Soberano Señor,<span class="asterisk">*</span></strong></p>
<p class="indent"><strong>ya puedes despedir a tu siervo en paz.</strong></p>
<p class="hanging-indent"><strong>Porque han visto mis ojos tu salvación,<span class="asterisk">*</span></strong></p>
<p class="indent"><strong>que has preparado a la vista de todos los pueblos:</strong></p>
<p class="hanging-indent"><strong>luz que ilumina a las naciones<span class="asterisk">*</span></strong></p>
<p class="indent"><strong>y gloria de tu pueblo Israel».</strong></p>
<h5>LUCAS 2:29-32 (NVI)</h5>
<p class="hanging-indent"><strong>Gloria al Padre, y al Hijo y al Espíritu Santo:<span class="asterisk">*</span></strong></p>
<p class="indent"><strong>como era en el principio, ahora y siempre, por los siglos de los siglos. Amén.</strong></p>
<div class="antiphon">
    <p class="hanging-indent"><strong>Guíanos despiertos, oh Señor, y guárdanos durmiendo; para que despiertos velemos con Cristo, y dormidos descansemos en paz.{% if data.alleluia %} Aleluya, aleluya, aleluya.{% endif %}</strong></p>
</div>
