<h2>{{  data.heading }}</h2>
<table class="dialogue">
    <tr>
        <td><em>Oficiante</em></td>
        <td>Dios mío, ven en mi auxilio;</td>
    </tr>
    <tr>
        <td><em>Pueblo</em></td>
        <td><strong>Señor, date prisa en socorrernos.</strong></td>
    </tr>
    <tr>
        <td><em>Oficiante</em></td>
        <td>Gloria al Padre, al Hijo y al Espíritu Santo;</td>
    </tr>
    <tr>
        <td><em>Pueblo</em></td>
        <td><strong>Como era al principio, ahora y siempre, por los siglos de los siglos. Amén.{%  if data.alleluia %} Aleluya.{% endif %}</strong></td>
    </tr>
</table>
