<h2>Oración Inicial</h2>
<p><em>El Oficiante comienza:</em></p>

<table class="dialogue">
    <tr>
        <td><em>Oficiante</em></td>
        <td>El Señor Todopoderoso nos conceda una noche tranquila y un perfecto fin.</td>
    </tr>
    <tr>
        <td><em>Pueblo</em></td>
        <td><strong>Amén.</strong></td>
    </tr>
    <tr>
        <td><em>Oficiante</em></td>
        <td>Nuestro auxilio está en el Nombre del Señor;</td>
    </tr>
    <tr>
        <td><em>Pueblo</em></td>
        <td><strong>Que hizo el cielo y la tierra.</strong></td>
    </tr>
</table>
