<h2>{{  data.heading }}</h2>
<p><em>The Officiant continues</em></p>
<p>Let us humbly confess our sins to Almighty God.</p>
<p><em>Silence may be kept. The Officiant and People then say</em></p>

<p class="hanging-indent"><strong>Almighty God and Father, we confess to you,</strong></p>
<p class="hanging-indent"><strong>to one another, and to the whole company of heaven,</strong></p>
<p class="indent"><strong>that we have sinned, through our own fault,</strong></p>
<p class="indent"><strong>in thought, and word, and deed, and in what we have left undone.</strong></p>
<p class="hanging-indent"><strong>For the sake of your Son our Lord Jesus Christ, </strong></p>
<p class="indent"><strong>have mercy upon us, forgive us our sins,</strong></p>
<p class="indent"><strong>and by the power of your Holy Spirit,</strong></p>
<p class="indent"><strong>raise us up to serve you in newness of life,</strong></p>
<p class="indent"><strong>to the glory of your Name. Amen.</strong></p>


<p><em>The Officiant alone says</em></p>
<p>Almighty God grant us forgiveness of all our sins, and the grace and comfort of the Holy Spirit. <strong>Amen.</strong></p>







