<h2>{{ data.heading }}</h2>
<h4>{{ data.subheading }}</h4>
<p><em>主禮 [或司禱] 與會眾站立，唱或讀西面頌，前後加讀以下經句</em></p>
<div class="antiphon">
    <p class="hanging-indent"><strong>Guide us waking, O Lord, and guard us sleeping; that awake we may watch with Christ, and asleep we may rest in peace.{% if data.alleluia %} Alleluia, alleluia, alleluia.{% endif %}</strong></p>
</div>

<p class="hanging-indent"><strong>主啊，如今可以照祢的話，<span class="asterisk">*</span></strong></p>
<p class="indent"><strong>釋放僕人安然去世；</strong></p>
<p class="hanging-indent"><strong>因為我的眼睛已經看見祢的救恩，<span class="asterisk">*</span></strong></p>
<p class="indent"><strong>就是祢在萬民面前所預備的；</strong></p>
<p class="hanging-indent"><strong>是照亮外邦人的光，<span class="asterisk">*</span></strong></p>
<p class="indent"><strong>又是祢民以色列的榮耀。</strong></p>
<h5>路加福音 2:29-32</h5>
<p class="hanging-indent"><strong>但願榮耀歸於聖父、聖子、聖靈；<span class="asterisk">*</span></strong></p>
<p class="indent"><strong>始初如此，現今如此，以後也如此，永無窮盡。阿們。</strong></p>
<div class="antiphon">
    <p class="hanging-indent"><strong>Guide us waking, O Lord, and guard us sleeping; that awake we may watch with Christ, and asleep we may rest in peace.{% if data.alleluia %} Alleluia, alleluia, alleluia.{% endif %}</strong></p>
</div>
