<h2>{{  data.heading }}</h2>
<table class="dialogue">
    <tr>
        <td><em>Officiant</em></td>
        <td>O God, make speed to save us;</td>
    </tr>
    <tr>
        <td><em>People</em></td>
        <td><strong>O Lord, make haste to help us.</strong></td>
    </tr>
    <tr>
        <td><em>Officiant</em></td>
        <td>Glory be to the Father, and to the Son, and to the Holy Spirit;</td>
    </tr>
    <tr>
        <td><em>People</em></td>
        <td><strong>As it was in the beginning, is now, and ever shall be, world without end. Amen.{%  if data.alleluia %} Alleluia.{% endif %}</strong></td>
    </tr>
</table>
