<h2>{{ data.heading }}</h2>
<h4>{{ data.subheading }}</h4>
<p><em>The Officiant and People say or sing the Song of Simeon with this Antiphon, all standing</em></p>
<div class="antiphon">
    <p class="hanging-indent"><strong>Guide us waking, O Lord, and guard us sleeping; that awake we may watch with Christ, and asleep we may rest in peace.{% if data.alleluia %} Alleluia, alleluia, alleluia.{% endif %}</strong></p>
</div>

<p class="hanging-indent"><strong>Lord, now let your servant depart in peace,<span class="asterisk">*</span> </strong></p>
<p class="indent"><strong>according to your word.</strong></p>
<p class="hanging-indent"><strong>For my eyes have seen your salvation,<span class="asterisk">*</span></strong></p>
<p class="indent"><strong>which you have prepared before the face of all people; </strong></p>
<p class="hanging-indent"><strong>To be a light to lighten the Gentiles,<span class="asterisk">*</span></strong></p>
<p class="indent"><strong>and to be the glory of your people Israel.</strong></p>
<h5>LUKE 2:29-32</h5>
<p class="hanging-indent"><strong>Glory be to the Father, and to the Son, and to the Holy Spirit;<span class="asterisk">*</span></strong></p>
<p class="indent"><strong>as it was in the beginning, is now, and ever shall be, world without end. Amen.</strong></p>
<div class="antiphon">
    <p class="hanging-indent"><strong>Guide us waking, O Lord, and guard us sleeping; that awake we may watch with Christ, and asleep we may rest in peace.{% if data.alleluia %} Alleluia, alleluia, alleluia.{% endif %}</strong></p>
</div>

