<h2>{{  data.heading }}</h2>
<p><em>El Oficiante continúa</em></p>
<p>Confesemos humildemente nuestros pecados a Dios Todopoderoso.</p>
<p><em>Se puede guardar silencio. El Oficiante y la gente luego dice</em></p>

<p class="hanging-indent"><strong>Dios Todopoderoso y Padre, te confesamos,</strong></p>
<p class="hanging-indent"><strong>unos a otros, y a toda la compañía del cielo,</strong></p>
<p class="indent"><strong>que hemos pecado contra ti por nuestra propia culpa,</strong></p>
<p class="indent"><strong>en pensamiento, palabra y obra, y en lo que hemos dejado de hacer.</strong></p>
<p class="hanging-indent"><strong>Por amor de tu Hijo nuestro Señor Jesucristo,</strong></p>
<p class="indent"><strong>ten misericordia de nosotros, perdona nuestros pecados,</strong></p>
<p class="indent"><strong>y por el poder de tu Espíritu Santo,</strong></p>
<p class="indent"><strong>resucítanos para servirte en la nueva vida,</strong></p>
<p class="indent"><strong>para gloria de tu Nombre. Amén.</strong></p>


<p><em>El Oficiante solo dice</em></p>
<p>Que Dios Todopoderoso nos conceda el perdón de todos nuestros pecados y la gracia y fortaleza del Espíritu Santo. <strong>Amén.</strong></p>
