<h2>{{  data.heading }}</h2>
<p><em>主禮 [或司禱] 向會眾說</em></p>

<div class="confession-fast-only">
    {%  if data.fast_day %}
        <p>親愛的兄弟姊妹，聖經教訓我們承認自己一切罪惡，不應在天父面前隱藏，要存謙虛和順從的心承認，如此，主必用無窮的恩惠慈悲，赦免我們。我們當常在全能的上帝面前虛心認罪；現今我們齊集在主前，感謝主的恩典，宣揚主的美德，敬聽主的聖言，又為自己及世人祈求主賜與生活和得救所必需的恩典。所以，我們同到施恩寶座前，謙卑認罪。</p>
    {%  else %}
        <p>親愛的兄弟姊妹，我們應當在全能的上帝面前，謙卑認罪。</p>
    {%  endif %}
</div>
<div class="confession-long-form off">
    <p>親愛的兄弟姊妹，聖經教訓我們承認自己一切罪惡，不應在天父面前隱藏，要存謙虛和順從的心承認，如此，主必用無窮的恩惠慈悲，赦免我們。我們當常在全能的上帝面前虛心認罪；現今我們齊集在主前，感謝主的恩典，宣揚主的美德，敬聽主的聖言，又為自己及世人祈求主賜與生活和得救所必需的恩典。所以，我們同到施恩寶座前，謙卑認罪。</p>
</div>
<div class="confession-short-form off">
   <p>親愛的兄弟姊妹，我們應當在全能的上帝面前，謙卑認罪。</p>
</div>
<p></p>
<p><em>安靜片刻。主禮 [或司禱] 與全會眾跪下禱告</em></p>

<p class="hanging-indent"><strong>全能至慈悲的天父，</strong></p>
<p class="indent"><strong>我們離開聖道，錯行如迷失的羊。</strong></p>
<p class="hanging-indent"><strong>我們常任己意，常縱己慾；</strong></p>
<p class="indent"><strong>違背天父的聖誡；</strong></p>
<p class="hanging-indent"><strong>當為者不為，不當為者反為；</strong></p>
<p class="hanging-indent"><strong>遠離祢的恩典，我們便無力行善。</strong></p>
<p class="hanging-indent"><strong>主啊，憐憫我們。</strong></p>
<p class="hanging-indent"><strong>認罪的，求主赦免；</strong></p>
<p class="hanging-indent"><strong>悔改的，求主按照主耶穌基督應許世人的恩，饒恕我們。</strong></p>
<p class="hanging-indent"><strong>又求至慈悲的父，因耶穌基督的緣故，</strong></p>
<p class="indent"><strong>使我們以後尊奉天父，公義待人，安份守己，</strong></p>
<p class="indent"><strong>榮耀天父的聖名。阿們。</strong></p>

<div class="lay">

    <p><em>若牧師不在，會吏或司禱仍跪下祈禱</em></p>

    <p>求慈悲的主，將赦罪和平安的恩典，賜給主忠信的子民；洗淨我們一切的罪惡，使我們心中安然事奉主；此賴我們主耶穌基督而求。<strong>阿們。</strong></p>

</div>


<div class="priest off">
    <p><em>牧師起立向會眾宣諭</em></p>
    <div class="confession-fast-only">
        {%  if data.fast_day %}
            <p>全能的上帝，我主耶穌基督的父，不願罪人陷於淪亡，但願罪人轉離惡念，悔改從善，得享永生。上帝曾以權柄賜與牧師，命牧師向悔罪的子民宣諭，赦免他們的罪。上帝必赦免所有真誠悔改、信奉福音的人。所以，我們應當懇求上帝，賜與我們有真誠的悔改，並賜聖靈，使我們現今所行，蒙主喜悅，以後為人純全聖潔，至終可得永遠的喜樂；藉賴我們主耶穌基督而求。<strong>阿們。</strong></p>
        {%  else  %}
            <p>全能至慈悲的上帝，寬恕並赦免你們所犯的罪，給你們有真誠悔改和生命更新，並在聖靈裏，得恩典和安慰。<strong>阿們。</strong></p>
        {%  endif  %}
    </div>
    <div class="confession-long-form off">
        <p>全能的上帝，我主耶穌基督的父，不願罪人陷於淪亡，但願罪人轉離惡念，悔改從善，得享永生。上帝曾以權柄賜與牧師，命牧師向悔罪的子民宣諭，赦免他們的罪。上帝必赦免所有真誠悔改、信奉福音的人。所以，我們應當懇求上帝，賜與我們有真誠的悔改，並賜聖靈，使我們現今所行，蒙主喜悅，以後為人純全聖潔，至終可得永遠的喜樂；藉賴我們主耶穌基督而求。<strong>阿們。</strong></p>
    </div>
    <div class="confession-short-form off">
        <p>全能至慈悲的上帝，寬恕並赦免你們所犯的罪，給你們有真誠悔改和生命更新，並在聖靈裏，得恩典和安慰。<strong>阿們。</strong></p>
    </div>
</div>
