<div class="lang-english">
<h2>{{  data.heading }}</h2>
<p><em>The Officiant says to the People</em></p>

<div class="confession-fast-only">
    {%  if data.fast_day %}
        <p>Dearly beloved, the Scriptures teach us to acknowledge our many sins and offenses, not concealing them from our heavenly Father, but confessing them with humble and obedient hearts that we may obtain forgiveness by his infinite goodness and mercy. We ought at all times humbly to acknowledge our sins before Almighty God, but especially when we come together in his presence to give thanks for the great benefits we have received at his hands, to declare his most worthy praise, to hear his holy Word, and to ask, for ourselves and on behalf of others, those things which are necessary for our life and our salvation. Therefore, draw near with me to the throne of heavenly grace.</p>
    {%  else %}
        <p>Let us humbly confess our sins to Almighty God.</p>
    {%  endif %}
</div>
<div class="confession-long-form off">
    <p>Dearly beloved, the Scriptures teach us to acknowledge our many sins and offenses, not concealing them from our heavenly Father, but confessing them with humble and obedient hearts that we may obtain forgiveness by his infinite goodness and mercy. We ought at all times humbly to acknowledge our sins before Almighty God, but especially when we come together in his presence to give thanks for the great benefits we have received at his hands, to declare his most worthy praise, to hear his holy Word, and to ask, for ourselves and on behalf of others, those things which are necessary for our life and our salvation. Therefore, draw near with me to the throne of heavenly grace.</p>
</div>
<div class="confession-short-form off">
   <p>Let us humbly confess our sins to Almighty God.</p>
</div>
<p></p>
<p><em>Silence is kept. All kneeling, the Officiant and People say</em></p>

<p class="hanging-indent"><strong>Almighty and most merciful Father,</strong></p>
<p class="indent"><strong>we have erred and strayed from your ways like lost sheep.</strong></p>
<p class="hanging-indent"><strong>We have followed too much the devices and desires</strong></p>
<p class="indent"><strong>of our own hearts.</strong></p>
<p class="hanging-indent"><strong>We have offended against your holy laws.</strong></p>
<p class="hanging-indent"><strong>We have left undone those things which we ought to have done,</strong></p>
<p class="indent"><strong>and we have done those things which we ought not</strong></p>
<p class="indent"><strong>to have done;</strong></p>
<p class="hanging-indent"><strong>and apart from your grace, there is no health in us.</strong></p>
<p class="hanging-indent"><strong>O Lord, have mercy upon us.</strong></p>
<p class="hanging-indent"><strong>Spare all those who confess their faults.</strong></p>
<p class="hanging-indent"><strong>Restore all those who are penitent, according to your promises</strong></p>
<p class="indent"><strong>declared to all people in Christ Jesus our Lord.</strong></p>
<p class="hanging-indent"><strong>And grant, O most merciful Father, for his sake,</strong></p>
<p class="indent"><strong>that we may now live a godly, righteous, and sober life,</strong></p>
<p class="indent"><strong>to the glory of your holy Name. Amen.</strong></p>

<div class="lay">

    <p><em>A Deacon or layperson remains kneeling and prays</em></p>

    <p>Grant to your faithful people, merciful Lord, pardon and peace; that we may be cleansed from all our sins, and serve you with a quiet mind; through Jesus Christ our Lord. <strong>Amen.</strong></p>

</div>


<div class="priest off">
    <p><em>The Priest alone stands and says</em></p>
    <div class="confession-fast-only">
        {%  if data.fast_day %}
            <p>Almighty God, the Father of our Lord Jesus Christ, desires not the death of sinners, but that they may turn from their wickedness and live. He has empowered and commanded his ministers to pronounce to his people, being penitent, the absolution and remission of their sins. He pardons and absolves all who truly repent and genuinely believe his holy Gospel. For this reason, we beseech him to grant us true repentance and his Holy Spirit, that our present deeds may please him, the rest of our lives may be pure and holy, and that at the last we may come to his eternal joy; through Jesus Christ our Lord. <strong>Amen.</strong></p>
        {%  else  %}
            <p>The Almighty and merciful Lord grant you absolution and remission of all your sins, true repentance, amendment of life, and the grace and consolation of his Holy Spirit.<strong>Amen.</strong></p>
        {%  endif  %}
    </div>
    <div class="confession-long-form off">
        <p>Almighty God, the Father of our Lord Jesus Christ, desires not the death of sinners, but that they may turn from their wickedness and live. He has empowered and commanded his ministers to pronounce to his people, being penitent, the absolution and remission of their sins. He pardons and absolves all who truly repent and genuinely believe his holy Gospel. For this reason, we beseech him to grant us true repentance and his Holy Spirit, that our present deeds may please him, the rest of our lives may be pure and holy, and that at the last we may come to his eternal joy; through Jesus Christ our Lord. <strong>Amen.</strong></p>
    </div>
    <div class="confession-short-form off">
        <p>The Almighty and merciful Lord grant you absolution and remission of all your sins, true repentance, amendment of life, and the grace and consolation of his Holy Spirit. <strong>Amen.</strong></p>
    </div>
</div>
</div>

<div class="lang-chinese off">
<h2>認罪文</h2>
<p><em>主禮或司禱向會眾說</em></p>

<div class="confession-fast-only">
    {%  if data.fast_day %}
        <p>親愛的兄弟姊妹，聖經教訓我們承認自己一切罪惡，不應在天父面前隱藏，要存謙虛和順從的心承認；如此，主必用無窮的恩惠慈悲，赦免我們。我們當常在全能的上帝面前虛心認罪；現在我們齊集在主前，感謝主的恩典，宣揚主的美德，敬聽主的聖經，又求主賜與我們及世人生活和得救所必需的恩典。所以，我們同到施恩寶座前，謙卑認罪。</p>
    {%  else %}
        <p>親愛的兄弟姊妹，我們應當在全能的上帝面前，謙卑認罪。</p>
    {%  endif %}
</div>
<div class="confession-long-form off">
    <p>親愛的兄弟姊妹，聖經教訓我們承認自己一切罪惡，不應在天父面前隱藏，要存謙虛和順從的心承認；如此，主必用無窮的恩惠慈悲，赦免我們。我們當常在全能的上帝面前虛心認罪；現在我們齊集在主前，感謝主的恩典，宣揚主的美德，敬聽主的聖經，又求主賜與我們及世人生活和得救所必需的恩典。所以，我們同到施恩寶座前，謙卑認罪。</p>
</div>
<div class="confession-short-form off">
   <p>親愛的兄弟姊妹，我們應當在全能的上帝面前，謙卑認罪。</p>
</div>
<p></p>
<p><em>安靜片刻。主禮或司禱與全會眾跪下同讀</em></p>

<p class="hanging-indent"><strong>全能至慈悲的天父，</strong></p>
<p class="indent"><strong>我們離開聖道，錯行如迷失的羊；</strong></p>
<p class="hanging-indent"><strong>我們常任己意，常縱己慾；</strong></p>
<p class="hanging-indent"><strong>違背天父的聖誡；</strong></p>
<p class="hanging-indent"><strong>當為者不為，不當為者反為；</strong></p>
<p class="hanging-indent"><strong>遠離祢的恩典，我們便無力行善。</strong></p>
<p class="hanging-indent"><strong>主啊，憐憫我們。</strong></p>
<p class="hanging-indent"><strong>認罪的，求主赦免；</strong></p>
<p class="hanging-indent"><strong>悔改的，求主按照主耶穌基督應許世人的恩，饒恕我們。</strong></p>
<p class="hanging-indent"><strong>又求至慈悲的父，因耶穌基督的緣故，</strong></p>
<p class="indent"><strong>使我們以後尊奉天父，公義待人，安份守己，</strong></p>
<p class="indent"><strong>榮耀天父的聖名。阿們。</strong></p>

<div class="lay">

    <p><em>若牧師不在，會吏或司禱仍跪下祈禱</em></p>

    <p>求慈悲的主，將赦罪和平安的恩典，賜給主忠信的子民；洗淨我們一切的罪惡，使我們心安然事奉主；此賴我主耶穌基督而求。阿們。</p>

</div>


<div class="priest off">
    <p><em>牧師起立向會眾宣讀</em></p>
    <div class="confession-fast-only">
        {%  if data.fast_day %}
            <p>全能的上帝，我主耶穌基督的父，不願罪人陷於沈亡，但願罪人轉離惡念，悔改從善，得享永生。上帝曾以權柄賜與牧師，命牧師向悔罪的子民宣諭，赦免他們的罪；上帝必赦免所有真誠悔改、信奉福音的人。所以，我們應當懇求上帝，賜我們有真誠的悔改，並賜聖靈，使我們現今所行，蒙主喜悅，以後為人純全聖潔，至終可得永遠的喜樂；藉賴我主耶穌基督而求。阿們。</p>
        {%  else  %}
            <p>全能至慈悲的上帝，寬恕並赦免你們所犯的罪，給你們有真誠悔改和生命更新，並在聖靈裏，得恩典和安慰。阿們。</p>
        {%  endif  %}
    </div>
    <div class="confession-long-form off">
        <p>全能的上帝，我主耶穌基督的父，不願罪人陷於沈亡，但願罪人轉離惡念，悔改從善，得享永生。上帝曾以權柄賜與牧師，命牧師向悔罪的子民宣諭，赦免他們的罪；上帝必赦免所有真誠悔改、信奉福音的人。所以，我們應當懇求上帝，賜我們有真誠的悔改，並賜聖靈，使我們現今所行，蒙主喜悅，以後為人純全聖潔，至終可得永遠的喜樂；藉賴我主耶穌基督而求。阿們。</p>
    </div>
    <div class="confession-short-form off">
        <p>全能至慈悲的上帝，寬恕並赦免你們所犯的罪，給你們有真誠悔改和生命更新，並在聖靈裏，得恩典和安慰。阿們。</p>
    </div>
</div>
</div>

<div class="lang-spanish off">
<h2>CONFESIÓN DE PECADO</h2>
<p><em>El Oficiante dice al Pueblo</em></p>

<div class="confession-fast-only">
    {%  if data.fast_day %}
        <p>Amados hermanos, las Escrituras nos enseñan a reconocer nuestros muchos pecados y ofensas, sin ocultarlos de nuestro Padre celestial, sino confesándolos con corazón humilde y obediente para que obtengamos perdón por su infinita bondad y misericordia. Debemos en todo tiempo reconocer humildemente nuestros pecados ante Dios todopoderoso, pero especialmente cuando nos reunimos en su presencia para darle gracias por los grandes beneficios que hemos recibido de sus manos, para proclamar su merecida alabanza, para escuchar su santa Palabra, y para pedir, por nosotros mismos y en nombre de otros, aquellas cosas que son necesarias para nuestra vida y nuestra salvación. Por tanto, acerquémonos conmigo al trono de la gracia celestial.</p>
    {%  else %}
        <p>Confesemos humildemente nuestros pecados a Dios todopoderoso.</p>
    {%  endif %}
</div>
<div class="confession-long-form off">
    <p>Amados hermanos, las Escrituras nos enseñan a reconocer nuestros muchos pecados y ofensas, sin ocultarlos de nuestro Padre celestial, sino confesándolos con corazón humilde y obediente para que obtengamos perdón por su infinita bondad y misericordia. Debemos en todo tiempo reconocer humildemente nuestros pecados ante Dios todopoderoso, pero especialmente cuando nos reunimos en su presencia para darle gracias por los grandes beneficios que hemos recibido de sus manos, para proclamar su merecida alabanza, para escuchar su santa Palabra, y para pedir, por nosotros mismos y en nombre de otros, aquellas cosas que son necesarias para nuestra vida y nuestra salvación. Por tanto, acerquémonos conmigo al trono de la gracia celestial.</p>
</div>
<div class="confession-short-form off">
   <p>Confesemos humildemente nuestros pecados a Dios todopoderoso.</p>
</div>
<p></p>
<p><em>Se guarda silencio. Todos de rodillas, el Oficiante y el Pueblo dicen</em></p>

<p class="hanging-indent"><strong>Padre todopoderoso y misericordioso,</strong></p>
<p class="indent"><strong>hemos errado y nos hemos extraviado de tus caminos como ovejas perdidas.</strong></p>
<p class="hanging-indent"><strong>Hemos seguido demasiado los designios y deseos</strong></p>
<p class="indent"><strong>de nuestros propios corazones.</strong></p>
<p class="hanging-indent"><strong>Hemos pecado contra tus santas leyes.</strong></p>
<p class="hanging-indent"><strong>Hemos dejado de hacer lo que debíamos haber hecho,</strong></p>
<p class="indent"><strong>y hemos hecho lo que no debíamos</strong></p>
<p class="indent"><strong>haber hecho;</strong></p>
<p class="hanging-indent"><strong>y sin tu gracia, no hay salud en nosotros.</strong></p>
<p class="hanging-indent"><strong>Oh Señor, ten piedad de nosotros.</strong></p>
<p class="hanging-indent"><strong>Perdona a todos los que confiesan sus faltas.</strong></p>
<p class="hanging-indent"><strong>Restaura a todos los que son penitentes, conforme a tus promesas</strong></p>
<p class="indent"><strong>declaradas a todos los pueblos en Cristo Jesús nuestro Señor.</strong></p>
<p class="hanging-indent"><strong>Y concede, oh Padre misericordioso, por su amor,</strong></p>
<p class="indent"><strong>que de ahora en adelante vivamos una vida piadosa, justa y sobria,</strong></p>
<p class="indent"><strong>para la gloria de tu santo Nombre. Amén.</strong></p>

<div class="lay">

    <p><em>Un Diácono o laico permanece de rodillas y ora</em></p>

    <p>Concede a tu pueblo fiel, Señor misericordioso, perdón y paz; para que seamos limpiados de todos nuestros pecados, y te sirvamos con ánimo tranquilo; por Jesucristo nuestro Señor. <strong>Amén.</strong></p>

</div>


<div class="priest off">
    <p><em>Solo el Sacerdote se pone de pie y dice</em></p>
    <div class="confession-fast-only">
        {%  if data.fast_day %}
            <p>Dios todopoderoso, el Padre de nuestro Señor Jesucristo, no desea la muerte de los pecadores, sino que se aparten de su maldad y vivan. Él ha facultado y mandado a sus ministros que declaren a su pueblo, estando arrepentidos, la absolución y remisión de sus pecados. Él perdona y absuelve a todos los que verdaderamente se arrepienten y creen genuinamente en su santo Evangelio. Por esta razón, le rogamos que nos conceda verdadero arrepentimiento y su Espíritu Santo, para que lo que hacemos ahora le sea agradable, el resto de nuestras vidas sea puro y santo, y al final lleguemos a su gozo eterno; por Jesucristo nuestro Señor. <strong>Amén.</strong></p>
        {%  else  %}
            <p>El Señor todopoderoso y misericordioso les conceda absolución y remisión de todos sus pecados, verdadero arrepentimiento, enmienda de vida, y la gracia y consolación de su Espíritu Santo. <strong>Amén.</strong></p>
        {%  endif  %}
    </div>
    <div class="confession-long-form off">
        <p>Dios todopoderoso, el Padre de nuestro Señor Jesucristo, no desea la muerte de los pecadores, sino que se aparten de su maldad y vivan. Él ha facultado y mandado a sus ministros que declaren a su pueblo, estando arrepentidos, la absolución y remisión de sus pecados. Él perdona y absuelve a todos los que verdaderamente se arrepienten y creen genuinamente en su santo Evangelio. Por esta razón, le rogamos que nos conceda verdadero arrepentimiento y su Espíritu Santo, para que lo que hacemos ahora le sea agradable, el resto de nuestras vidas sea puro y santo, y al final lleguemos a su gozo eterno; por Jesucristo nuestro Señor. <strong>Amén.</strong></p>
    </div>
    <div class="confession-short-form off">
        <p>El Señor todopoderoso y misericordioso les conceda absolución y remisión de todos sus pecados, verdadero arrepentimiento, enmienda de vida, y la gracia y consolación de su Espíritu Santo. <strong>Amén.</strong></p>
    </div>
</div>
</div>
