<p class="hanging-indent"><strong>Creo en Dios Padre Todopoderoso,</strong></p>
<p class="indent"><strong>Creador del cielo y de la tierra.</strong></p>
<p class="hanging-indent"><strong>Creo en Jesucristo, su único Hijo, Nuestro Señor,</strong></p>
<p class="indent"><strong>que fue concebido por obra y gracia del Espíritu Santo,</strong></p>
<p class="indent"><strong>nació de Santa María Virgen,</strong></p>
<p class="indent"><strong>padeció bajo el poder de Poncio Pilato,</strong></p>
<p class="indent"><strong>fue crucificado, muerto y sepultado,</strong></p>
<p class="indent"><strong>descendió a los infiernos,</strong></p>
<p class="indent"><strong>al tercer día resucitó de entre los muertos,</strong></p>
<p class="indent"><strong>subió a los cielos,</strong></p>
<p class="indent"><strong>y está sentado a la derecha de Dios Padre.</strong></p>
<p class="indent"><strong>Desde allí ha de venir a juzgar a vivos y muertos.</strong></p>
<p class="hanging-indent"><strong>Creo en el Espíritu Santo,</strong></p>
<p class="indent"><strong>la Santa Iglesia Católica,</strong></p>
<p class="indent"><strong>la comunión de los santos,</strong></p>
<p class="indent"><strong>el perdón de los pecados,</strong></p>
<p class="indent"><strong>la resurrección de los muertos,</strong></p>
<p class="indent"><strong>y la vida eterna. Amén.</strong></p>
