<p class="hanging-indent"><strong>我信上帝，全能的父，</strong></p>
<p class="indent"><strong>是創造天地的主。</strong></p>
<p class="hanging-indent"><strong>我信我主耶穌基督，是上帝的獨子，</strong></p>
<p class="indent"><strong>因聖靈成孕，</strong></p>
<p class="indent"><strong>由童貞女馬利亞所生。</strong></p>
<p class="indent"><strong>祂在本丟彼拉多手下受難，</strong></p>
<p class="indent"><strong>被釘在十字架上，受死、埋葬，</strong></p>
<p class="indent"><strong>降至陰間；</strong></p>
<p class="indent"><strong>第三天復活；</strong></p>
<p class="indent"><strong>升天，</strong></p>
<p class="indent"><strong>坐在聖父的右邊。</strong></p>
<p class="indent"><strong>祂將要再來，審判活人死人。</strong></p>
<p class="hanging-indent"><strong>我信聖靈，</strong></p>
<p class="indent"><strong>我信聖而公之教會，</strong></p>
<p class="indent"><strong>我信聖徒相通，</strong></p>
<p class="indent"><strong>我信罪得赦免，</strong></p>
<p class="indent"><strong>我信身體復活，</strong></p>
<p class="indent"><strong>我信永生。阿們。</strong></p>
