<div class="lang-english">
<h2>THE APOSTLES&rsquo; CREED</h2>
<p><em>Officiant and People together, all standing</em></p>

{% include 'office/creed_text.html' %}
</div>

<div class="lang-chinese off">
<h2>使徒信經</h2>
<p><em>主禮與會眾同讀，眾立</em></p>

<p class="hanging-indent"><strong>我信上帝，全能的父，</strong></p>
<p class="indent"><strong>創造天地的主。</strong></p>
<p class="hanging-indent"><strong>我信我主耶穌基督，上帝的獨生子，</strong></p>
<p class="indent"><strong>因聖靈感孕，</strong></p>
<p class="indent"><strong>由童貞女馬利亞所生，</strong></p>
<p class="indent"><strong>在本丟彼拉多手下受難，</strong></p>
<p class="indent"><strong>被釘於十字架，受死，埋葬，</strong></p>
<p class="indent"><strong>降在陰間，</strong></p>
<p class="indent"><strong>第三天從死人中復活，</strong></p>
<p class="indent"><strong>升天，坐在全能父上帝的右邊，</strong></p>
<p class="indent"><strong>將來必從那裏降臨，審判活人死人。</strong></p>
<p class="hanging-indent"><strong>我信聖靈，</strong></p>
<p class="indent"><strong>我信聖而公之教會，</strong></p>
<p class="indent"><strong>我信聖徒相通，</strong></p>
<p class="indent"><strong>我信罪得赦免，</strong></p>
<p class="indent"><strong>我信身體復活，</strong></p>
<p class="indent"><strong>我信永生。阿們。</strong></p>
</div>

<div class="lang-spanish off">
<h2>EL CREDO DE LOS AP&Oacute;STOLES</h2>
<p><em>Oficiante y Pueblo juntos, todos de pie</em></p>

<p class="hanging-indent"><strong>Creo en Dios, Padre todopoderoso,</strong></p>
<p class="indent"><strong>creador del cielo y de la tierra.</strong></p>
<p class="hanging-indent"><strong>Creo en Jesucristo, su único Hijo, nuestro Señor,</strong></p>
<p class="indent"><strong>que fue concebido por obra y gracia del Espíritu Santo,</strong></p>
<p class="indent"><strong>nació de la Virgen María,</strong></p>
<p class="indent"><strong>padeció bajo el poder de Poncio Pilato,</strong></p>
<p class="indent"><strong>fue crucificado, muerto y sepultado,</strong></p>
<p class="indent"><strong>descendió a los infiernos,</strong></p>
<p class="indent"><strong>al tercer día resucitó de entre los muertos,</strong></p>
<p class="indent"><strong>subió a los cielos y está sentado a la diestra de Dios Padre todopoderoso,</strong></p>
<p class="indent"><strong>de donde ha de venir a juzgar a los vivos y a los muertos.</strong></p>
<p class="hanging-indent"><strong>Creo en el Espíritu Santo,</strong></p>
<p class="indent"><strong>la santa Iglesia católica,</strong></p>
<p class="indent"><strong>la comunión de los santos,</strong></p>
<p class="indent"><strong>el perdón de los pecados,</strong></p>
<p class="indent"><strong>la resurrección de los muertos,</strong></p>
<p class="indent"><strong>y la vida eterna. Amén.</strong></p>
</div>
