<div id="day-{{ day.date|date:"Y-n-j"}}" class="day {% if day.date.weekday == 6 %} sunday {% endif %}{% if day.required %} major {% else %} minor {% endif %}{% if day.primary.rank.name == "PRINCIPAL_FEAST" %} principal {% endif %}">
    <div class="day-section date {% if evening %}{{ day.primary_evening.color|lower }}{% else %}{{ day.primary.color|lower }}{%  endif %}">
        <div class="dateline dateline-weekday">{{ day.date|date:"D" }}</div>
        <div class="dateline dateline-day">{{ day.date|date:"j" }}</div>
        <div class="dateline dateline-month">{{ day.date|date:"M" }}</div>
        <div class="dateline dateline-year">{{ day.date|date:"Y" }}</div>
        {% if day.fast_day %}
            <div class="dateline dateline-fast"><i class="fas fa-cross"></i> FAST</div>
        {%  endif %}
        <div style="visibility:hidden; height:0;" class="date dateline-day">TEM</div>

    </div>
    <div class="day-section content">

        {% if evening %}
            <p class="primary">
                <span class="color {{ day.primary_evening.color|lower }}"></span>{% if day.primary_evening.alternate_color %}<span class="color {{ day.primary_evening.alternate_color|lower }}"></span>{% endif %}{% if day.primary_evening.alternate_color_2 %}<span class="color {{ day.primary_evening.alternate_color_2|lower }}"></span>{% endif %}{{  day.primary_evening.name }}{% if day.primary_evening.transferred %} <small>(Transferred)</small>{%  endif %}
                {% if day.primary_evening.link_1 %}<a class="wiki-link" target="_blank" href="{{ day.primary_evening.link_1 }}"><i class="fas fa-external-link-alt"></i></a>{%  endif %}
                {% if day.primary_evening.link_2 %}<a class="wiki-link" target="_blank" href="{{ day.primary_evening.link_2 }}"><i class="fas fa-external-link-alt"></i></a>{%  endif %}
                {% if day.primary_evening.link_3 %}<a class="wiki-link" target="_blank" href="{{ day.primary_evening.link_3 }}"><i class="fas fa-external-link-alt"></i></a>{%  endif %}
            </p>

            {%  for feast in day.all_evening %}
                {% if not forloop.first %}
                    <p class="secondary">
                        <span class="color {{ feast.color|lower }}"></span>{% if feast.alternate_color %}<span class="color {{ feast.alternate_color|lower }}"></span>{% endif %}{% if feast.alternate_color_2 %}<span class="color {{ feast.alternate_color_2|lower }}"></span>{% endif %}{{ feast.name }}
                        {% if feast.link_1 %}<a class="wiki-link" target="_blank" href="{{ feast.link_1 }}"><i class="fas fa-external-link-alt"></i></a>{%  endif %}
                        {% if feast.link_2 %}<a class="wiki-link" target="_blank" href="{{ feast.link_2 }}"><i class="fas fa-external-link-alt"></i></a>{%  endif %}
                        {% if feast.link_3 %}<a class="wiki-link" target="_blank" href="{{ feast.link_3 }}"><i class="fas fa-external-link-alt"></i></a>{%  endif %}
                    </p>
                {%  endif %}
            {%  endfor %}
        {%  else %}
            <p class="primary">
                <span class="color {{ day.primary.color|lower }}"></span>{% if day.primary.alternate_color %}<span class="color {{ day.primary.alternate_color|lower }}"></span>{% endif %}{% if day.primary.alternate_color_2 %}<span class="color {{ day.primary.alternate_color_2|lower }}"></span>{% endif %}{{  day.primary.name }}{% if day.primary.transferred %} <small>(Transferred)</small>{%  endif %}
                {% if day.primary.link_1 %}<a class="wiki-link" target="_blank" href="{{ day.primary.link_1 }}"><i class="fas fa-external-link-alt"></i></a>{%  endif %}
                {% if day.primary.link_2 %}<a class="wiki-link" target="_blank" href="{{ day.primary.link_2 }}"><i class="fas fa-external-link-alt"></i></a>{%  endif %}
                {% if day.primary.link_3 %}<a class="wiki-link" target="_blank" href="{{ day.primary.link_3 }}"><i class="fas fa-external-link-alt"></i></a>{%  endif %}
            </p>
             {%  for feast in day.all %}
                {% if not forloop.first %}
                    <p class="secondary">
                        <span class="color {{ feast.color|lower }}"></span>{% if feast.alternate_color %}<span class="color {{ feast.alternate_color|lower }}"></span>{% endif %}{% if feast.alternate_color_2 %}<span class="color {{ feast.alternate_color_2|lower }}"></span>{% endif %}{{ feast.name }}
                        {% if feast.link_1 %}<a class="wiki-link" target="_blank" href="{{ feast.link_1 }}"><i class="fas fa-external-link-alt"></i></a>{%  endif %}
                        {% if feast.link_2 %}<a class="wiki-link" target="_blank" href="{{ feast.link_2 }}"><i class="fas fa-external-link-alt"></i></a>{%  endif %}
                        {% if feast.link_3 %}<a class="wiki-link" target="_blank" href="{{ feast.link_3 }}"><i class="fas fa-external-link-alt"></i></a>{%  endif %}
                    </p>
                {%  endif %}
            {%  endfor %}
        {%  endif %}
        {% if not nolinks %}
            {% if family %}
                    <a class="menu-button calendar-btn" href="/family/morning_prayer/{{  day.date|date:"Y-n-j" }}/{{ filename }}"><i class="fas fa-sunrise"></i>  Morning</a>
                    <a class="menu-button calendar-btn" href="/family/midday_prayer/{{  day.date|date:"Y-n-j" }}"/{{ filename }}><i class="fas fa-sun"></i> Midday</a>
                    <a class="menu-button calendar-btn" href="/family/early_evening_prayer/{{  day.date|date:"Y-n-j" }}/{{ filename }}"><i class="fas fa-sunset"></i> Early Evening</a>
                    <a class="menu-button calendar-btn" href="/family/close_of_day_prayer/{{  day.date|date:"Y-n-j" }}/{{ filename }}"><i class="fas fa-moon"></i> Close of Day</a>
                </p>
            {% else %}
                <p class="links">
                    <a class="menu-button calendar-btn" href="/morning_prayer/{{  day.date|date:"Y-n-j" }}/{{ filename }}"><i class="fas fa-sunrise"></i>  Morning</a>
                    <a class="menu-button calendar-btn" href="/midday_prayer/{{  day.date|date:"Y-n-j" }}/{{ filename }}"><i class="fas fa-sun"></i> Midday</a>
                    <a class="menu-button calendar-btn" href="/evening_prayer/{{  day.date|date:"Y-n-j" }}/{{ filename }}"><i class="fas fa-sunset"></i> Evening</a>
                    <a class="menu-button calendar-btn" href="/compline/{{  day.date|date:"Y-n-j" }}/{{ filename }}"><i class="fas fa-moon"></i> Compline</a>
                </p>
            {% endif %}
        {%  endif %}

        {% if season %}
            {% if evening %}
                <p class="season"><span class="color {{  day.evening_season.color|lower }}"></span> {{  day.evening_season.name }}</p>
            {%  else %}
                <p class="season"><span class="color {{  day.season.color|lower }}"></span> {{  day.season.name }}</p>
            {% endif %}
        {%  endif %}


    </div>
</div>
