<div id="day-{{ day.date|date:"Y-m-d"}}" class="day {% if day.date.weekday == 6 %} sunday {% endif %}{% if day.required %} major {% else %} minor {% endif %}{% if day.primary.rank.name == "PRINCIPAL_FEAST" %} principal {% endif %}">
    <div class="day-section date {%  if evening %}{{ day.primary_evening.color|lower }}{% else %}{{ day.primary.color|lower }}{%  endif %}">
        <div class="dateline dateline-weekday">{{ day.date|date:"D" }}</div>
        <div class="dateline dateline-day">{{ day.date|date:"j" }}</div>
        <div class="dateline dateline-month">{{ day.date|date:"M" }}</div>
        <div class="dateline dateline-year">{{ day.date|date:"Y" }}</div>
        {%  if day.fast_day %}
            <div class="dateline dateline-fast"><i class="fal fa-cross"></i> FAST</div>
        {%  endif %}
        <div style="visibility:hidden; height:0;" class="date dateline-day">TEM</div>

    </div>
    <div class="day-section content">

        {%  if evening %}
            <p class="primary"><span class="color {{ day.primary_evening.color|lower }}"></span> {{  day.primary_evening.name }}{% if day.primary_evening.transferred %} <small>(Transferred)</small>{%  endif %}</p>

            {%  for feast in day.all_evening %}
                {% if not forloop.first %}
                    <p class="secondary"><span class="color {{ feast.color|lower }}"></span>{{ feast.name }}</p>
                {%  endif %}
            {%  endfor %}
        {%  else %}
            <p class="primary"><span class="color {{ day.primary.color|lower }}"></span> {{  day.primary.name }}{% if day.primary.transferred %} <small>(Transferred)</small>{%  endif %}</p>
             {%  for feast in day.all %}
                {% if not forloop.first %}
                    <p class="secondary"><span class="color {{ feast.color|lower }}"></span>{{ feast.name }}</p>
                {%  endif %}
            {%  endfor %}
        {%  endif %}
        {%  if not nolinks %}
            <p class="links">
                <a class="menu-button" href="/office/morning_prayer/{{  day.date|date:"Y-n-j" }}"><i class="fas fa-sunrise"></i>  Morning Prayer</a>
                <a class="menu-button" href="/office/evening_prayer/{{  day.date|date:"Y-n-j" }}"><i class="fas fa-sunset"></i> Evening Prayer</a>
            </p>
        {%  endif %}
        {%  if season %}
            <p class="season">{{  day.season.name }} <span class="color {{  day.season.color }}"></span></p>
        {%  endif %}


    </div>
</div>
