<h2>{{  data.heading }}</h2>
<table class="dialogue">
    <tr>
        <td><em>Officiant</em></td>
        <td>{{ data.officiant }}</td>
    </tr>
    <tr>
        <td><em>People</em></td>
        <td><strong>{{ data.people }}</strong></td>
    </tr>
</table>

<h3>The Grace</h3>
<div class="rotating-grace">
    <p>{{  data.grace.officiant }} <strong>{{  data.grace.people }}</strong></p>
    <h5>{{  data.grace.citation }}</h5>
</div>

<div class="fixed-grace off">
    <p>{{  data.fixed_grace.officiant }} <strong>{{  data.fixed_grace.people }}</strong></p>
    <h5>{{  data.fixed_grace.citation }}</h5>
</div>
