<div class="lang-english">
<h2>{{  data.heading }}</h2>
<table class="dialogue">
    <tr>
        <td><em>Officiant</em></td>
        <td>{{ data.officiant }}</td>
    </tr>
    <tr>
        <td><em>People</em></td>
        <td><strong>{{ data.people }}</strong></td>
    </tr>
</table>

<h3>The Grace</h3>
<div class="rotating-grace">
    <p>{{  data.grace.officiant }} <strong>{{  data.grace.people }}</strong></p>
    <h5>{{  data.grace.citation }}</h5>
</div>

<div class="fixed-grace off">
    <p>{{  data.fixed_grace.officiant }} <strong>{{  data.fixed_grace.people }}</strong></p>
    <h5>{{  data.fixed_grace.citation }}</h5>
</div>
</div>

<div class="lang-chinese off">
<h2>差 遣</h2>
<table class="dialogue">
    <tr>
        <td><em>主禮</em></td>
        <td>我們要奉基督的名，勇往直前。</td>
    </tr>
    <tr>
        <td><em>會眾</em></td>
        <td><strong>感謝上主。</strong></td>
    </tr>
</table>

<h3>祝 福</h3>
<div class="rotating-grace">
    <p>{{  data.grace.officiant }} <strong>{{  data.grace.people }}</strong></p>
    <h5>{{  data.grace.citation }}</h5>
</div>

<div class="fixed-grace off">
    <p>{{  data.fixed_grace.officiant }} <strong>{{  data.fixed_grace.people }}</strong></p>
    <h5>{{  data.fixed_grace.citation }}</h5>
</div>
</div>

<div class="lang-spanish off">
<h2>LA DESPEDIDA</h2>
<table class="dialogue">
    <tr>
        <td><em>Oficiante</em></td>
        <td>Bendigamos al Señor.</td>
    </tr>
    <tr>
        <td><em>Pueblo</em></td>
        <td><strong>Demos gracias a Dios.</strong></td>
    </tr>
</table>

<h3>La Gracia</h3>
<div class="rotating-grace">
    <p>{{  data.grace.officiant }} <strong>{{  data.grace.people }}</strong></p>
    <h5>{{  data.grace.citation }}</h5>
</div>

<div class="fixed-grace off">
    <p>{{  data.fixed_grace.officiant }} <strong>{{  data.fixed_grace.people }}</strong></p>
    <h5>{{  data.fixed_grace.citation }}</h5>
</div>
</div>
