<h2>{{ data.heading }}</h2>
<div class="family-reading-brief">

    <h4>{{ data.brief.citation }}</h4>

    <div class="reading">
        <div class="family-bible-audio off">
            <iframe src="https://www.esv.org/audio-player/{{ data.brief.citation|urlencode }}/" style="border: 0; width: 100%; height: 109px;"></iframe>
            <!-- <audio controls type="audio/mpeg" src="https://audio.esv.org/hw/{{ data.long.passage|urlencode }}"><a href="https://audio.esv.org/hw/{{ data.brief.citation|urlencode }}">Listen</a></audio>-->
        </div>
        <br>
        <p>{{  data.brief.sentence | safe }}</p>
    </div>
</div>

<div class="family-reading-long off">

    <h4>{{ data.long.abbreviated_passage }}</h4>

    <div class="reading">
        {%  if not data.long.deuterocanon %}
        <div class="family-bible-audio off">
            <iframe src="https://www.esv.org/audio-player/{{ data.long.abbreviated_passage|urlencode }}/" style="border: 0; width: 100%; height: 109px;"></iframe>
            <!-- <audio controls type="audio/mpeg" src="https://audio.esv.org/hw/{{ data.long.abbreviated_passage|urlencode }}"><a href="https://audio.esv.org/hw/{{ data.long.abbreviated_passage|urlencode }}">Listen</a></audio>-->
        </div>
        {% endif %}
        <br>
        {{  data.long.abbreviated_reading | safe }}
    </div>
</div>

<em>A period of silence may follow.</em>
