<div class="footer">
    <div class="footer-flex">
        <div><strong><a href="{{ office.links.yesterday.link }}">&#8592; {{ office.links.yesterday.label }}</a></strong></div>
        <p><strong>{{ office.links.date }}</strong></p>
        <div><strong><a href="{{ office.links.tomorrow.link }}">{{ office.links.tomorrow.label }} &#8594;</a></strong></div>
    </div>
    <div class="footer-flex">
        {%  if office.links.current != 'morning_prayer' %}
            <div><a href="{{ office.links.morning_prayer.link }}"><i class="fal fa-sunrise"></i>{{ office.links.morning_prayer.label }}</a></div>
        {%  else %}
            <div><i class="fas fa-sunrise"></i>{{ office.links.morning_prayer.label | upper }}</div>
        {% endif %}
        {%  if office.links.current != 'evening_prayer' %}
            <div><a href="{{ office.links.evening_prayer.link }}"><i class="fal fa-sunset"></i>{{ office.links.evening_prayer.label }}</a></div>
        {%  else %}
            <div><i class="fas fa-sunset"></i>{{ office.links.evening_prayer.label | upper }}</div>
        {% endif %}
    </div>


</div>
