<div class="general_thanksgiving">
    <h3>{{  data.heading }}</h3>

    <p><em>主禮 [或司禱] 與會眾同讀</em></p>

    <p class="hanging-indent"><strong>全能的上帝，萬恩的父，</strong></p>
    <p class="indent"><strong>將恩惠慈愛賜給我們，以及萬民；</strong></p>
    <p class="indent"><strong>我們不配的僕人，特此恭敬虔誠向主感謝。</strong></p>
    <p class="hanging-indent"><strong>我們稱謝主：創造我們，保全我們，賜福我們。</strong></p>
    <p class="indent"><strong>又特別稱謝主：因為主施無窮的仁愛，</strong></p>
    <p class="indent"><strong>靠我主耶穌基督救贖世人；</strong></p>
    <p class="indent"><strong>施與恩典，並賜我們榮耀的盼望。</strong></p>
    <p class="hanging-indent"><strong>藉賴我主耶穌基督祈求主，</strong></p>
    <p class="indent"><strong>賜我們感恩的心，可以真誠感謝主，</strong></p>
    <p class="indent"><strong>不但口中讚美，亦在行事顯明，</strong></p>
    <p class="indent"><strong>將自己獻與主，在主面前作工，</strong></p>
    <p class="indent"><strong>一生聖潔公義；</strong></p>
    <p class="hanging-indent"><strong>但願尊貴榮耀歸於聖父、聖子、聖靈，</strong></p>
    <p class="indent"><strong>永無窮盡。阿們。</strong></p>
</div>
