<div class="general_thanksgiving">
    <h3>{{  data.heading }}</h3>

    <p><em>Officiant and People</em></p>

    <p class="hanging-indent"><strong>Almighty God, Father of all mercies,</strong></p>
    <p class="indent"><strong>we your unworthy servants give you humble thanks</strong></p>
    <p class="indent"><strong>for all your goodness and loving-kindness</strong></p>
    <p class="indent"><strong>to us and to all whom you have made.</strong></p>
    <p class="hanging-indent"><strong>We bless you for our creation, preservation,</strong></p>
    <p class="indent"><strong>and all the blessings of this life;</strong></p>
    <p class="indent"><strong>but above all for your immeasurable love</strong></p>
    <p class="indent"><strong>in the redemption of the world by our Lord Jesus Christ;</strong></p>
    <p class="indent"><strong>for the means of grace, and for the hope of glory.</strong></p>
    <p class="hanging-indent"><strong>And, we pray, give us such an awareness of your mercies,</strong></p>
    <p class="indent"><strong>that with truly thankful hearts we may show forth your praise,</strong></p>
    <p class="indent"><strong>not only with our lips, but in our lives,</strong></p>
    <p class="indent"><strong>by giving up our selves to your service,</strong></p>
    <p class="indent"><strong>and by walking before you</strong></p>
    <p class="indent"><strong>in holiness and righteousness all our days;</strong></p>
    <p class="hanging-indent"><strong>Through Jesus Christ our Lord,</strong></p>
    <p class="indent"><strong>to whom, with you and the Holy Spirit,</strong></p>
    <p class="indent"><strong>be honor and glory throughout all ages. Amen.</strong></p>
</div>
