<div class="general_thanksgiving">
    <h3>{{  data.heading }}</h3>

    <p><em>Oficiante y Pueblo</em></p>

    <p class="hanging-indent"><strong>Dios omnipotente, Padre de toda misericordia,</strong></p>
    <p class="indent"><strong>nosotros, indignos siervos tuyos, humildemente</strong></p>
    <p class="indent"><strong>te damos gracias</strong></p>
    <p class="indent"><strong>por todo tu amor y benignidad</strong></p>
    <p class="indent"><strong>a nosotros y a todos los seres humanos.</strong></p>
    <p class="hanging-indent"><strong>Te bendecimos por nuestra creación, preservación</strong></p>
    <p class="indent"><strong>y todas las bendiciones de esta vida;</strong></p>
    <p class="indent"><strong>pero sobre todo por tu amor inmensurable</strong></p>
    <p class="indent"><strong>en la redención del mundo por nuestro Señor Jesucristo;</strong></p>
    <p class="indent"><strong>por los medios de gracia, y la esperanza de gloria.</strong></p>
    <p class="hanging-indent"><strong>Y te suplicamos nos hagas conscientes de tus bondades</strong></p>
    <p class="indent"><strong>de tal manera que, con un corazón verdaderamente</strong></p>
    <p class="indent"><strong>agradecido, proclamemos tus alabanzas,</strong></p>
    <p class="indent"><strong>No sólo con nuestros labios, sino también con nuestras vidas,</strong></p>
    <p class="indent"><strong>entregándonos a tu servicio y caminando en tu presencia,</strong></p>
    <p class="indent"><strong>en santidad y justicia, todos los días de nuestra vida;</strong></p>
    <p class="hanging-indent"><strong>por Jesucristo nuestro Señor, a quien, contigo y el Espíritu Santo,</strong></p>
    <p class="indent"><strong>sea todo honor y gloria, por los siglos de los siglos. Amén</strong></p>
</div>
