<div class="general_thanksgiving">
    <div class="lang-english">
    <h3>{{  data.heading }}</h3>

    <p><em>Officiant and People</em></p>

    <p class="hanging-indent"><strong>Almighty God, Father of all mercies,</strong></p>
    <p class="indent"><strong>we your unworthy servants give you humble thanks</strong></p>
    <p class="indent"><strong>for all your goodness and loving-kindness</strong></p>
    <p class="indent"><strong>to us and to all whom you have made.</strong></p>
    <p class="hanging-indent"><strong>We bless you for our creation, preservation,</strong></p>
    <p class="indent"><strong>and all the blessings of this life;</strong></p>
    <p class="indent"><strong>but above all for your immeasurable love</strong></p>
    <p class="indent"><strong>in the redemption of the world by our Lord Jesus Christ;</strong></p>
    <p class="indent"><strong>for the means of grace, and for the hope of glory.</strong></p>
    <p class="hanging-indent"><strong>And, we pray, give us such an awareness of your mercies,</strong></p>
    <p class="indent"><strong>that with truly thankful hearts we may show forth your praise,</strong></p>
    <p class="indent"><strong>not only with our lips, but in our lives,</strong></p>
    <p class="indent"><strong>by giving up our selves to your service,</strong></p>
    <p class="indent"><strong>and by walking before you</strong></p>
    <p class="indent"><strong>in holiness and righteousness all our days;</strong></p>
    <p class="hanging-indent"><strong>Through Jesus Christ our Lord,</strong></p>
    <p class="indent"><strong>to whom, with you and the Holy Spirit,</strong></p>
    <p class="indent"><strong>be honor and glory throughout all ages. Amen.</strong></p>
    </div>

    <div class="lang-chinese off">
    <h3>感恩禱文</h3>

    <p><em>主禮與會眾</em></p>

    <p class="hanging-indent"><strong>全能的上帝，萬福的根源，</strong></p>
    <p class="indent"><strong>我們不配的僕人謙卑感謝祢，</strong></p>
    <p class="indent"><strong>為祢一切的恩惠慈愛，</strong></p>
    <p class="indent"><strong>感謝祢對我們和祢所造的一切施恩。</strong></p>
    <p class="hanging-indent"><strong>我們讚美祢，因為祢創造了我們，保存了我們，</strong></p>
    <p class="indent"><strong>賜給了我們今生一切的福樂；</strong></p>
    <p class="indent"><strong>更要讚美祢，因為祢用無量的慈愛，</strong></p>
    <p class="indent"><strong>藉我主耶穌基督救贖了世界，</strong></p>
    <p class="indent"><strong>又賜下施恩的方法和榮耀的盼望。</strong></p>
    <p class="hanging-indent"><strong>我們祈求，使我們能常常記念祢的恩惠，</strong></p>
    <p class="indent"><strong>存感謝的心向祢獻上讚美，</strong></p>
    <p class="indent"><strong>不只用口，更用行為，</strong></p>
    <p class="indent"><strong>一生獻給祢，事奉祢，</strong></p>
    <p class="indent"><strong>在祢面前行走，</strong></p>
    <p class="indent"><strong>終身敬虔度日。</strong></p>
    <p class="hanging-indent"><strong>都是藉著我主耶穌基督；</strong></p>
    <p class="indent"><strong>願榮耀歸於祢和聖子及聖靈，</strong></p>
    <p class="indent"><strong>直到永遠。阿們。</strong></p>
    </div>

    <div class="lang-spanish off">
    <h3>Acción de Gracias General</h3>

    <p><em>Oficiante y Pueblo</em></p>

    <p class="hanging-indent"><strong>Dios todopoderoso, Padre de todas las misericordias,</strong></p>
    <p class="indent"><strong>nosotros, tus indignos siervos, te damos humildes gracias</strong></p>
    <p class="indent"><strong>por toda tu bondad y amor</strong></p>
    <p class="indent"><strong>hacia nosotros y hacia todos los que has creado.</strong></p>
    <p class="hanging-indent"><strong>Te bendecimos por nuestra creación, preservación,</strong></p>
    <p class="indent"><strong>y todas las bendiciones de esta vida;</strong></p>
    <p class="indent"><strong>pero sobre todo por tu amor incomparable</strong></p>
    <p class="indent"><strong>en la redención del mundo por nuestro Señor Jesucristo;</strong></p>
    <p class="indent"><strong>por los medios de gracia, y por la esperanza de gloria.</strong></p>
    <p class="hanging-indent"><strong>Y te rogamos, danos tal conciencia de tus misericordias,</strong></p>
    <p class="indent"><strong>que con corazones verdaderamente agradecidos manifestemos tu alabanza,</strong></p>
    <p class="indent"><strong>no solo con nuestros labios, sino en nuestras vidas,</strong></p>
    <p class="indent"><strong>ofreciéndonos a nosotros mismos a tu servicio,</strong></p>
    <p class="indent"><strong>y caminando ante ti</strong></p>
    <p class="indent"><strong>en santidad y justicia todos nuestros días;</strong></p>
    <p class="hanging-indent"><strong>Por Jesucristo nuestro Señor,</strong></p>
    <p class="indent"><strong>a quien, contigo y el Espíritu Santo,</strong></p>
    <p class="indent"><strong>sea todo honor y gloria por los siglos de los siglos. Amén.</strong></p>
    </div>
</div>
