<div class="litany {{ data.weekday_class }} off">
    <h2>The Great Litany</h2>
    <p class="no-bottom-margin">O God the Father, Creator of heaven and earth,</p>
    <p class="indent"><strong>Have mercy upon us.</strong></p>
    <p class="no-bottom-margin">O God the Son, Redeemer of the world,</p>
    <p class="indent"><strong>Have mercy upon us.</strong></p>
    <p class="no-bottom-margin">O God the Holy Spirit, Sanctifier of the faithful,</p>
    <p class="indent"><strong>Have mercy upon us.</strong></p>
    <p class="no-bottom-margin">O holy, blessed, and glorious Trinity, one God,</p>
    <p class="indent"><strong>Have mercy upon us.</strong></p>
    <p class="no-bottom-margin">Remember not, Lord Jesus, our offenses, nor the offenses of our forebears; neither reward us according to our sins. Spare us, good Lord, spare your people, whom you have redeemed with your most precious blood, and by your mercy preserve us for ever.</p>
    <p class="indent"><strong>Spare us, good Lord.</strong></p>
    <p class="no-bottom-margin">From all evil and wickedness; from sin, from the works and assaults of the devil; from your wrath and everlasting condemnation,</p>
    <p class="indent"><strong>Good Lord, deliver us.</strong></p>
    <p class="no-bottom-margin">From all blindness of heart; from pride, vanity, and hypocrisy; from envy, hatred, and malice; and from all lack of charity,</p>
    <p class="indent"><strong>Good Lord, deliver us.</strong></p>
    <p class="no-bottom-margin">From all disordered and sinful affections; and from all the deceits of the world, the flesh, and the devil,</p>
    <p class="indent"><strong>Good Lord, deliver us.</strong></p>
    <p class="no-bottom-margin">From all false doctrine, heresy, and schism; from hardness of heart, and contempt of your Word and commandments,</p>
    <p class="indent"><strong>Good Lord, deliver us.</strong></p>
    <p class="no-bottom-margin">From lightning and tempest; from earthquake, fire, and flood; from plague, pestilence, and famine,</p>
    <p class="indent"><strong>Good Lord, deliver us.</strong></p>
    <p class="no-bottom-margin">From all oppression, conspiracy, and rebellion; from violence, battle, and murder; and from dying suddenly and unprepared,</p>
    <p class="indent"><strong>Good Lord, deliver us.</strong></p>
    <p class="no-bottom-margin">By the mystery of your holy incarnation; by your holy nativity and submission to the Law; by your baptism, fasting, and temptation,</p>
    <p class="indent"><strong>Good Lord, deliver us.</strong></p>
    <p class="no-bottom-margin">By your agony and bloody sweat; by your Cross and passion; by your precious death and burial,</p>
    <p class="indent"><strong>Good Lord, deliver us.</strong></p>
    <p class="no-bottom-margin">By your glorious resurrection and ascension; by the sending of the Holy Spirit; by your heavenly intercession; and by your coming again in power and great glory,</p>
    <p class="indent"><strong>Good Lord, deliver us.</strong></p>
    <p class="no-bottom-margin">In all times of tribulation; in all times of prosperity; in the hour of death, and in the day of judgment,</p>
    <p class="indent"><strong>Good Lord, deliver us.</strong></p>
    <p class="no-bottom-margin">We sinners beseech you to hear us, O Lord God: That it may please you to rule and govern your holy Church universal in the right way,</p>
    <p class="indent"><strong>We beseech you to hear us, good Lord.</strong></p>
    <p class="no-bottom-margin">To illumine all Bishops, Priests, and Deacons, with true knowledge and understanding of your Word; and that, both by their preaching and living, they may show it accordingly,</p>
    <p class="indent"><strong>We beseech you to hear us, good Lord.</strong></p>
    <p class="no-bottom-margin">To send forth laborers into your harvest; to prosper their work by your Holy Spirit; to make your saving health known unto all nations; and to hasten the coming of your kingdom,</p>
    <p class="indent"><strong>We beseech you to hear us, good Lord.</strong></p>
    <p class="no-bottom-margin">To give all your people increase of grace to hear your Word with humility, to receive it with pure affection, and to bring forth the fruit of the Spirit,</p>
    <p class="indent"><strong>We beseech you to hear us, good Lord.</strong></p>
    <p class="no-bottom-margin">To bring into the way of truth all who have erred and are deceived,</p>
    <p class="indent"><strong>We beseech you to hear us, good Lord.</strong></p>
    <p class="no-bottom-margin">To give us a heart to love and fear you, and diligently to keep your commandments,</p>
    <p class="indent"><strong>We beseech you to hear us, good Lord.</strong></p>
    <p class="no-bottom-margin">To bless and keep all your people,</p>
    <p class="indent"><strong>We beseech you to hear us, good Lord.</strong></p>
    <p class="no-bottom-margin">That it may please you to rule the hearts of {{ data.leaders }} and all others in authority, that they may do justice, and show mercy, and walk humbly before you,</p>
    <p class="indent"><strong>We beseech you to hear us, good Lord.</strong></p>
    <p class="no-bottom-margin">To bless and guide all judges, giving them grace to execute justice, and to maintain truth,</p>
    <p class="indent"><strong>We beseech you to hear us, good Lord.</strong></p>
    <p class="no-bottom-margin">To bless and keep our armed forces by sea, and land, and air, and to shield them in all dangers and adversities,</p>
    <p class="indent"><strong>We beseech you to hear us, good Lord.</strong></p>
    <p class="no-bottom-margin">To bless and protect all who serve their communities by their labor and learning,</p>
    <p class="indent"><strong>We beseech you to hear us, good Lord.</strong></p>
    <p class="no-bottom-margin">To give and preserve for us and for others the bountiful fruits of the earth, so that at the harvest we all may enjoy them,</p>
    <p class="indent"><strong>We beseech you to hear us, good Lord.</strong></p>
    <p class="no-bottom-margin">To make wars to cease in all the world, and to give to all nations unity, peace, and concord,</p>
    <p class="indent"><strong>We beseech you to hear us, good Lord.</strong></p>
    <p class="no-bottom-margin">That it may please you to show mercy on all prisoners and captives; refugees, the homeless, and the hungry; and all those who are desolate and oppressed,</p>
    <p class="indent"><strong>We beseech you to hear us, good Lord.</strong></p>
    <p class="no-bottom-margin">To preserve all who are in danger by reason of their work or travel,</p>
    <p class="indent"><strong>We beseech you to hear us, good Lord.</strong></p>
    <p class="no-bottom-margin">To strengthen the bonds of those in Holy Matrimony; to uphold the widowed and abandoned; and to comfort all whose homes are torn by strife,</p>
    <p class="indent"><strong>We beseech you to hear us, good Lord.</strong></p>
    <p class="no-bottom-margin">To protect the unborn and their parents, and to preserve all women in childbirth;</p>
    <p class="indent"><strong>We beseech you to hear us, good Lord.</strong></p>
    <p class="no-bottom-margin">To care for those who have lost children or face infertility, and to provide for young children and orphans,</p>
    <p class="indent"><strong>We beseech you to hear us, good Lord.</strong></p>
    <p class="no-bottom-margin">To visit the lonely and those who grieve; to strengthen all who suffer in mind, body, or spirit; and to comfort with your presence those who are failing and infirm,</p>
    <p class="indent"><strong>We beseech you to hear us, good Lord.</strong></p>
    <p class="no-bottom-margin">To support, help, and deliver all who are in danger, necessity, and tribulation,</p>
    <p class="indent"><strong>We beseech you to hear us, good Lord.</strong></p>
    <p class="no-bottom-margin">To have mercy upon all people,</p>
    <p class="indent"><strong>We beseech you to hear us, good Lord.</strong></p>
    <p class="no-bottom-margin">That it may please you to give us true repentance; to forgive us all our sin, negligence, and ignorance; and to endue us with the grace of your Holy Spirit to amend our lives according to your holy Word,</p>
    <p class="indent"><strong>We beseech you to hear us, good Lord.</strong></p>
    <p class="no-bottom-margin">To forgive our enemies, persecutors, and slanderers, and to turn their hearts,</p>
    <p class="indent"><strong>We beseech you to hear us, good Lord.</strong></p>
    <p class="no-bottom-margin">To strengthen those who stand; to encourage the faint-hearted; to raise up those who fall; and finally to beat down Satan under our feet,</p>
    <p class="indent"><strong>We beseech you to hear us, good Lord.</strong></p>
    <p class="no-bottom-margin">To grant to all the faithful departed eternal life and peace,</p>
    <p class="indent"><strong>We beseech you to hear us, good Lord.</strong></p>
    <p class="no-bottom-margin">To grant that, in the fellowship of {{ data.names }} and all the
        saints, we may attain to your heavenly kingdom,</p>
    <p class="indent"><strong>We beseech you to hear us, good Lord.</strong></p>
    <p class="no-bottom-margin">Son of God, we beseech you to hear us.</p>
    <p class="indent"><strong>Son of God, we beseech you to hear us.</strong></p>
    <p class="no-bottom-margin">O Lamb of God, you take away the sin of the world;</p>
    <p class="indent"><strong>Have mercy upon us.</strong></p>
    <p class="no-bottom-margin">O Lamb of God, you take away the sin of the world;</p>
    <p class="indent"><strong>Have mercy upon us.</strong></p>
    <p class="no-bottom-margin">O Lamb of God, you take away the sin of the world;
    <p class="indent"><strong>Grant us your peace.</strong></p>
    <p class="no-bottom-margin">O Christ, hear us.</p>
    <p class="indent"><strong>O Christ, hear us.</strong></p>

    {% include "office/kyrie_pater.html" %}

    <h3>The Supplication</h3>

    <p class="no-bottom-margin">O Lord, arise and help us;
    <p class="indent"><strong>And deliver us for your Name’s sake.</strong></p>
    <p class="no-bottom-margin">O God, we have heard with our ears, and our forebears have declared to us, the noble works that you did in their days, and in the time before them.</p>
    <p class="no-bottom-margin">O Lord, arise and help us;</p>
    <p class="indent"><strong>And deliver us for your Name’s sake.</strong></p>
    <p class="no-bottom-margin">Glory be to the Father, and to the Son, and to the Holy Spirit; as it was in the beginning, is now, and ever shall be, world without end. <strong>Amen.</strong></p>
    <p class="no-bottom-margin">O Lord, arise and help us;</p>
    <p class="indent"><strong>And deliver us for your Name’s sake.</strong></p>
    <p class="no-bottom-margin">From our enemies defend us, O Christ;</p>
    <p class="indent"><strong>Graciously behold our afflictions.</strong></p>
    <p class="no-bottom-margin">With pity behold the sorrows of our hearts;</p>
    <p class="indent"><strong>Mercifully forgive the sins of your people.</strong></p>
    <p class="no-bottom-margin">With favor hear our prayers;</p>
    <p class="indent"><strong>O Son of David, have mercy upon us.</strong></p>
    <p class="no-bottom-margin">Be pleased to hear us, O Christ;</p>
    <p class="indent"><strong>Graciously hear us, O Christ; graciously hear us, O Lord Christ.</strong></p>
    <p class="no-bottom-margin"><em class="rubric">The Officiant prays</em></p>
    <p class="no-bottom-margin">Let us pray.</p>
    <p class="no-bottom-margin">Look mercifully, O Father, on our infirmities; and, for the glory of your Name, rescue us from all those evils we now endure; and grant that in all our troubles we may put our whole trust and confidence in your mercy, serving you in holiness and purity of life, to your honor and glory; through our only Mediator and Advocate, Jesus Christ our Lord.  <strong>Amen.</strong></p>
</div>

