<p class="intro-heading-1">The Daily Office</p>
<p class="intro-heading-2">according to the Book of Common Prayer, 2019<br>Anglican Church in North America</p>
<div id="menu">
    <div class="menu-wrapper">
        <div class="menu">
            <a href="/" id="now-button" class="menu-button {%  if on == "now-button" %} on {% endif %}"><i class="fal fa-clock"></i> <span class="first-letter">N</span>ow</a>
            <a id="calendar-button" href="/church_year/2019-2020" class="menu-button {%  if on == "calendar-button" %} on {% endif %}""><i class="fal fa-calendar-alt"></i> <span class="first-letter">C</span>alendar</a>
            <a id="settings-button" href="/settings" class="menu-button {%  if on == "settings-button" %} on {% endif %}"><i class="fal fa-cog"></i> <span class="first-letter">S</span>ettings</a>
            <a id="about-button" href="/about" class="menu-button {%  if on == "about-button" %} on {% endif %}"><i class="fal fa-cross"></i> <span class="first-letter">A</span>bout</a>
        </div>
        <div class="font-sizes">
            <i data-fontsize="12" class="font-size-selector fal fa-font-case small"></i>
            <i data-fontsize="16" class="font-size-selector fas fa-font-case medium"></i>
            <i data-fontsize="20" class="font-size-selector fal fa-font-case large"></i>
        </div>
        <p class="settings-link">
            <p><a id="show-settings-link" class="show-settings-link" href="#"><em>Praying in a group? Want to share your settings?</em></a></p>
            <div id="settings-link-view" class="off">
                <h3>Praying in a group? Want to share your settings?</h3>
                <p><em>Share this link to open this site using the same settings you have currently configured.</em></p>
                <p></p><input type="text" id="settings-link"></input></p>
                <a id="settings-link-copy" href="#"><i class="far fa-copy"></i> Copy link</a> <span id="copied-message" class="off">Copied!</span></p>

            </div>

        </div>

    </div>
    <div id="messages"></div>

</div>


