{% if "/family/" in request.get_full_path %}
    <p class="intro-heading-1">Family Prayer</p>
{% else %}
    <p class="intro-heading-1">The Daily Office</p>
{% endif %}
<p class="intro-heading-2">according to the Book of Common Prayer, 2019<br>Anglican Church in North America</p>

<div id="menu" class="no-print">
    <div class="menu-wrapper">
        <div class="menu">
            {% if "/family/" in request.get_full_path %}
                <a href="/family/{{ filename }}" id="now-button" class="menu-button {%  if on == "now-button" %} on {% endif %}"><i class="fal fa-clock"></i> <span class="first-letter">N</span>ow</a>
                <a id="calendar-button" href="/family/church_year/2019-2020/{{ filename }}" class="menu-button {%  if on == "calendar-button" %} on {% endif %}"><i class="fal fa-calendar-alt"></i> <span class="first-letter">C</span>alendar</a>
                <a id="settings-button" href="/family/settings/{{ filename }}" class="menu-button {%  if on == "settings-button" %} on {% endif %}"><i class="fal fa-cog"></i> <span class="first-letter">S</span>ettings</a>
                <a id="about-button" href="/family/about/{{ filename }}" class="menu-button {%  if on == "about-button" %} on {% endif %}"><i class="fal fa-cross"></i> <span class="first-letter">A</span>bout</a>
            {% else %}
               <a href="/{{ filename }}" id="now-button" class="menu-button {%  if on == "now-button" %} on {% endif %}"><i class="fal fa-clock"></i> <span class="first-letter">N</span>ow</a>
                <a id="calendar-button" href="/church_year/2019-2020/{{ filename }}" class="menu-button {%  if on == "calendar-button" %} on {% endif %}"><i class="fal fa-calendar-alt"></i> <span class="first-letter">C</span>alendar</a>
                <a id="settings-button" href="/settings/{{ filename }}?back={{ request.path }}{{ filename }}" class="menu-button {%  if on == "settings-button" %} on {% endif %}"><i class="fal fa-cog"></i> <span class="first-letter">S</span>ettings</a>
                <a id="about-button" href="/about/{{ filename }}" class="menu-button {%  if on == "about-button" %} on {% endif %}"><i class="fal fa-cross"></i> <span class="first-letter">A</span>bout</a>
            {% endif %}

        </div>
        <div class="appearance-selectors">
                <i data-fontsize="12" class="font-size-selector fal fa-font-case small"></i>
                <i data-fontsize="16" class="font-size-selector fas fa-font-case medium"></i>
                <i data-fontsize="20" class="font-size-selector fal fa-font-case large"></i>
                <i data-fontsize="22" class="font-size-selector fal fa-font-case x-large"></i>
                <i data-theme="theme-light" class="theme-selector fas fa-lightbulb medium"></i>
                <i data-theme="theme-dark" class="theme-selector fas fa-lightbulb-slash medium"></i>
        </div>
    </div>

</div>

{% if "/family/" in request.get_full_path %}
    <p class="intro-heading-2 no-print"><br>Looking for the full Daily Office services?<br><a href="/{{ filename }}">Go to the Daily Office site</a></p>
{% else %}
    <p class="intro-heading-2 no-print"><br>Looking for a shorter service?<br><a href="/family/{{ filename }}">Go to the Family Prayer site</a></p>
{% endif %}

