<p class="intro-heading-1">The Daily Office</p>
<p class="intro-heading-2">according to the Book of Common Prayer, 2019<br>Anglican Church in North America</p>
<div id="menu">
    <div class="menu-wrapper">
        <div class="menu">

                <a href="/" id="now-button" class="menu-button {%  if on == "now-button" %} on {% endif %}"><i class="fal fa-clock"></i> <span class="first-letter">N</span>ow</a>
                <a id="calendar-button" href="/church_year/2019-2020" class="menu-button {%  if on == "calendar-button" %} on {% endif %}""><i class="fal fa-calendar-alt"></i> <span class="first-letter">C</span>alendar</a>
                <a id="settings-button" href="/settings" class="menu-button {%  if on == "settings-button" %} on {% endif %}"><i class="fal fa-cog"></i> <span class="first-letter">S</span>ettings</a>
                <a id="about-button" href="/about" class="menu-button {%  if on == "about-button" %} on {% endif %}"><i class="fal fa-cross"></i> <span class="first-letter">A</span>bout</a>

        </div>

    </div>
    <div id="messages"></div>

</div>


