<h2>宣召</h2>
<p><em>眾立。</em></p>

<table class="dialogue">
    <tr>
        <td><em>主禮</em></td>
        <td>主啊，助我們開口；</td>
    </tr>
    <tr>
        <td><em>會眾</em></td>
        <td><strong>使我們能用口讚美主。</strong></td>
    </tr>
    <tr>
        <td><em>主禮</em></td>
        <td>上帝啊，快快拯救我們；</td>
    </tr>
    <tr>
        <td><em>會眾</em></td>
        <td><strong>主啊，趕快幫助我們。</strong></td>
    </tr>
    <tr>
        <td><em>主禮</em></td>
        <td>但願榮耀歸於聖父、聖子、聖靈；</td>
    </tr>
    <tr>
        <td><em>會眾</em></td>
        <td><strong>始初如此，現今如此，後來亦如此，永無窮盡。阿們。</strong></td>
    </tr>
    <tr>
        <td><em>主禮</em></td>
        <td>你們要讚美主；</td>
    </tr>
    <tr>
        <td><em>會眾</em></td>
        <td><strong>願主之名得讚美。</strong></td>
    </tr>
</table>
