<h2>Invitatorio</h2>
<p><em>Todos se ponen de pie.</em></p>

<table class="dialogue">
    <tr>
        <td><em>Oficiante</em></td>
        <td>Señor, abre nuestros labios;</td>
    </tr>
    <tr>
        <td><em>Pueblo</em></td>
        <td><strong>Y nuestra boca proclamará tu alabanza.</strong></td>
    </tr>
    <tr>
        <td><em>Oficiante</em></td>
        <td>Dios mío, ven en mi auxilio;</td>
    </tr>
    <tr>
        <td><em>Pueblo</em></td>
        <td><strong>Señor, date prisa en socorrernos.</strong></td>
    </tr>
    <tr>
        <td><em>Oficiante</em></td>
        <td>Gloria al Padre, al Hijo y al Espíritu Santo;</td>
    </tr>
    <tr>
        <td><em>Pueblo</em></td>
        <td><strong>Como era al principio, ahora y siempre, por los siglos de los siglos. Amén.</strong></td>
    </tr>
    <tr>
        <td><em>Oficiante</em></td>
        <td>Alabemos al Señor.</td>
    </tr>
    <tr>
        <td><em>Pueblo</em></td>
        <td><strong>Sea alabado el Nombre del Señor.</strong></td>
    </tr>
</table>
