<div class="lang-english">
<h2>THE INVITATORY</h2>
<p><em>All stand.</em></p>

<table class="dialogue">
    <tr>
        <td><em>Officiant</em></td>
        <td>O Lord, open our lips;</td>
    </tr>
    <tr>
        <td><em>People</em></td>
        <td><strong>And our mouth shall proclaim your praise.</strong></td>
    </tr>
    <tr>
        <td><em>Officiant</em></td>
        <td>O God, make speed to save us;</td>
    </tr>
    <tr>
        <td><em>People</em></td>
        <td><strong>O Lord, make haste to help us</strong></td>
    </tr>
    <tr>
        <td><em>Officiant</em></td>
        <td>Glory be to the Father, and to the Son, and to the Holy Spirit;</td>
    </tr>
    <tr>
        <td><em>People</em></td>
        <td><strong>As it was in the beginning, is now, and ever shall be, world without end. Amen.</strong></td>
    </tr>
    <tr>
        <td><em>Officiant</em></td>
        <td>Praise the Lord.</td>
    </tr>
    <tr>
        <td><em>People</em></td>
        <td><strong>The Lord&rsquo;s Name be praised.</strong></td>
    </tr>
</table>
</div>

<div class="lang-chinese off">
<h2>宣 召</h2>
<p><em>眾立。</em></p>

<table class="dialogue">
    <tr>
        <td><em>主禮</em></td>
        <td>主啊，助我們開口；</td>
    </tr>
    <tr>
        <td><em>會眾</em></td>
        <td><strong>使我們能用口讚美主。</strong></td>
    </tr>
    <tr>
        <td><em>主禮</em></td>
        <td>上帝啊，快快拯救我們；</td>
    </tr>
    <tr>
        <td><em>會眾</em></td>
        <td><strong>主啊，趕快幫助我們。</strong></td>
    </tr>
    <tr>
        <td><em>主禮</em></td>
        <td>但願榮耀歸於聖父、聖子、聖靈；</td>
    </tr>
    <tr>
        <td><em>會眾</em></td>
        <td><strong>始初如此，現今如此，後來亦如此，永無窮盡。阿們。</strong></td>
    </tr>
    <tr>
        <td><em>主禮</em></td>
        <td>你們要讚美主；</td>
    </tr>
    <tr>
        <td><em>會眾</em></td>
        <td><strong>願主之名得讚美。</strong></td>
    </tr>
</table>
</div>

<div class="lang-spanish off">
<h2>EL INVITATORIO</h2>
<p><em>Todos de pie.</em></p>

<table class="dialogue">
    <tr>
        <td><em>Oficiante</em></td>
        <td>Señor, abre nuestros labios;</td>
    </tr>
    <tr>
        <td><em>Pueblo</em></td>
        <td><strong>Y nuestra boca proclamará tu alabanza.</strong></td>
    </tr>
    <tr>
        <td><em>Oficiante</em></td>
        <td>Dios mío, ven en mi auxilio;</td>
    </tr>
    <tr>
        <td><em>Pueblo</em></td>
        <td><strong>Señor, date prisa en socorrernos.</strong></td>
    </tr>
    <tr>
        <td><em>Oficiante</em></td>
        <td>Gloria al Padre, y al Hijo, y al Espíritu Santo;</td>
    </tr>
    <tr>
        <td><em>Pueblo</em></td>
        <td><strong>Como era en el principio, ahora y siempre, por los siglos de los siglos. Amén.</strong></td>
    </tr>
    <tr>
        <td><em>Oficiante</em></td>
        <td>Alabemos al Señor.</td>
    </tr>
    <tr>
        <td><em>Pueblo</em></td>
        <td><strong>Sea alabado el Nombre del Señor.</strong></td>
    </tr>
</table>
</div>
