<div class="traditional">
    <p>
        Lord, have mercy upon us.<br>
        <strong>Christ, have mercy upon us.</strong>&nbsp;<br>
        Lord, have mercy upon us.<br>
    </p>

    <p><em>Officiant and People</em></p>

    {% include 'office/pater_traditional.html' %}

</div>
<div class="contemporary off">

    <p>
        Lord, have mercy.<br>
        <strong>Christ, have mercy.</strong>&nbsp;<br>
        Lord, have mercy.<br>
    </p>

    <p><em>Officiant and People</em></p>


    <p class="hanging-indent"><strong>Our Father in heaven,</strong></p>
    <p class="indent"><strong>hallowed be your Name,</strong></p>
    <p class="indent"><strong>your kingdom come,</strong></p>
    <p class="indent"><strong>your will be done,</strong></p>
    <p class="indent"><strong>on earth as it is in heaven.</strong></p>
    <p class="hanging-indent"><strong>Give us today our daily bread.</strong></p>
    <p class="hanging-indent"><strong>And forgive us our sins</strong></p>
    <p class="indent"><strong>as we forgive those</strong></p>
    <p class="indent"><strong>who sin against us.</strong></p>
    <p class="hanging-indent"><strong>Save us from the time of trial,</strong></p>
    <p class="indent"><strong>and deliver us from evil.</strong></p>
    <p class="hanging-indent"><strong>For the kingdom, the power,</strong></p>
    <p class="indent"><strong>and the glory are yours,</strong></p>
    <p class="indent"><strong>now and for ever. Amen.</strong></p>

</div>
