<div class="lang-english">
<div class="traditional">
    <p>
        Lord, have mercy upon us.<br>
        <strong>Christ, have mercy upon us.</strong>&nbsp;<br>
        Lord, have mercy upon us.<br>
    </p>

    <p><em>Officiant and People</em></p>

    {% include 'office/pater_traditional.html' %}

</div>
<div class="contemporary off">

    <p>
        Lord, have mercy.<br>
        <strong>Christ, have mercy.</strong>&nbsp;<br>
        Lord, have mercy.<br>
    </p>

    <p><em>Officiant and People</em></p>


    <p class="hanging-indent"><strong>Our Father in heaven,</strong></p>
    <p class="indent"><strong>hallowed be your Name,</strong></p>
    <p class="indent"><strong>your kingdom come,</strong></p>
    <p class="indent"><strong>your will be done,</strong></p>
    <p class="indent"><strong>on earth as it is in heaven.</strong></p>
    <p class="hanging-indent"><strong>Give us today our daily bread.</strong></p>
    <p class="hanging-indent"><strong>And forgive us our sins</strong></p>
    <p class="indent"><strong>as we forgive those</strong></p>
    <p class="indent"><strong>who sin against us.</strong></p>
    <p class="hanging-indent"><strong>Save us from the time of trial,</strong></p>
    <p class="indent"><strong>and deliver us from evil.</strong></p>
    <p class="hanging-indent"><strong>For the kingdom, the power,</strong></p>
    <p class="indent"><strong>and the glory are yours,</strong></p>
    <p class="indent"><strong>now and for ever. Amen.</strong></p>

</div>
</div>

<div class="lang-chinese off">
    <p>
        求主憐憫我們。<br>
        <strong>求基督憐憫我們。</strong>&nbsp;<br>
        求主憐憫我們。<br>
    </p>

    <p><em>主禮及會眾同聲禱告</em></p>

    <p class="hanging-indent"><strong>我們在天上之父，願人皆尊父名為聖。</strong></p>
    <p class="hanging-indent"><strong>願父國降臨，願父旨意成就在地，如同成就在天。</strong></p>
    <p class="hanging-indent"><strong>我們日用之飲食，求父今日賜與我們。</strong></p>
    <p class="hanging-indent"><strong>又求饒恕我們之罪，如我們饒恕得罪我們之人。</strong></p>
    <p class="hanging-indent"><strong>保祐我們，不入誘惑；拯救我們，脫離凶惡。</strong></p>
    <p class="hanging-indent"><strong>因為國度、權柄、榮耀，皆屬於父，永無窮盡。阿們。</strong></p>
</div>

<div class="lang-spanish off">
    <p>
        Señor, ten piedad de nosotros.<br>
        <strong>Cristo, ten piedad de nosotros.</strong>&nbsp;<br>
        Señor, ten piedad de nosotros.<br>
    </p>

    <p><em>Oficiante y Pueblo</em></p>

    <p class="hanging-indent"><strong>Padre nuestro que estás en el cielo,</strong></p>
    <p class="indent"><strong>santificado sea tu Nombre,</strong></p>
    <p class="indent"><strong>venga tu reino,</strong></p>
    <p class="indent"><strong>hágase tu voluntad,</strong></p>
    <p class="indent"><strong>en la tierra como en el cielo.</strong></p>
    <p class="hanging-indent"><strong>Danos hoy nuestro pan de cada día.</strong></p>
    <p class="hanging-indent"><strong>Perdona nuestras ofensas,</strong></p>
    <p class="indent"><strong>como también nosotros perdonamos</strong></p>
    <p class="indent"><strong>a los que nos ofenden.</strong></p>
    <p class="hanging-indent"><strong>No nos dejes caer en tentación</strong></p>
    <p class="indent"><strong>y líbranos del mal.</strong></p>
    <p class="hanging-indent"><strong>Porque tuyo es el reino, el poder,</strong></p>
    <p class="indent"><strong>y la gloria, ahora y por siempre. Amén.</strong></p>
</div>
