<div class="traditional">
    <p>
        求主憐憫 [我們]。<br>
        <strong>求基督憐憫 [我們]。</strong>&nbsp;<br>
        求主憐憫 [我們]。<br>
    </p>

    <p><em>主禮及會眾同聲禱告</em></p>

    {% include 'office/pater_traditional_chinese.html' %}

</div>
<div class="contemporary off">

    <p>
        求主憐憫 [我們]。<br>
        <strong>求基督憐憫 [我們]。</strong>&nbsp;<br>
        求主憐憫 [我們]。<br>
    </p>

    <p><em>主禮及會眾同聲禱告</em></p>

    <p class="hanging-indent"><strong>我們在天上的父，</strong></p>
    <p class="indent"><strong>願祢的名被尊為聖。</strong></p>
    <p class="indent"><strong>願祢的國降臨，</strong></p>
    <p class="indent"><strong>願祢的旨意行在地上，</strong></p>
    <p class="indent"><strong>如同行在天上。</strong></p>
    <p class="hanging-indent"><strong>我們日用的飲食，今日賜給我們。</strong></p>
    <p class="hanging-indent"><strong>饒恕我們的罪，</strong></p>
    <p class="indent"><strong>如同我們饒恕</strong></p>
    <p class="indent"><strong>得罪我們的人。</strong></p>
    <p class="hanging-indent"><strong>不叫我們遇見試探，</strong></p>
    <p class="indent"><strong>拯救我們脫離凶惡。</strong></p>
    <p class="hanging-indent"><strong>因為國度、權柄、榮耀，</strong></p>
    <p class="indent"><strong>都是祢的，</strong></p>
    <p class="indent"><strong>從現在直到永遠。阿們。</strong></p>

</div>
