<table class="dialogue">
    <tr>
        <td><em>Oficiante</em></td>
        <td>Bendigamos al Señor.{% if data.alleluia %} Aleluya, aleluya.{%  endif %}</td>
    </tr>
    <tr>
        <td><em>Pueblo</em></td>
        <td><strong>Gracias a Dios.{% if data.alleluia %} Aleluya, aleluya.{%  endif %}</strong></td>
    </tr>
</table>

<p><em>El Oficiante concluye con lo siguiente</em></p>

<p>La gracia de nuestro Señor Jesucristo y el amor de Dios Padre, y la comunión del Espíritu Santo, esté por siempre con todos nosotros. <strong>Amén.</strong></p>
