{% extends 'base.html' %}
{% load static %}
{% load render_bundle from webpack_loader %}

{% block extra_head %}
    <script type="application/ld+json">
        [
            {
                  "@context" : "http://schema.org",
                  "@type" : "Event",
                  "name" : "{{ office.title }}",
                  "startDate" : "{{  office.start_time|date:"c" }}",
                  "endDate": "{{  office.end_time|date:"c" }}",
                  "description" : "{{ office.description }}",
                  "url" : "https://www.dailyoffice2109.com{{ request.get_full_path }}",
                  "isAccessibleForFree": true,
                   "location": {
                      "@type": "Place",
                      "name": "Accessible worldwide via computer or phone",
                      "address": {
                        "addressCountry": "US"
                      }
                   }
                },
                {
                  "@context" : "http://schema.org",
                  "@type" : "Event",
                  "name" : "{{ office.title }}",
                  "startDate" : "{{  office.start_time|date:"c" }}",
                  "endDate": "{{  office.end_time|date:"c" }}",
                  "description" : "{{ office.description }}",
                  "url" : "https://www.dailyoffice2109.com{{ request.get_full_path }}",
                  "isAccessibleForFree": true,
                   "location": {
                      "@type": "Place",
                      "name": "Accessible worldwide via computer or phone",
                      "address": {
                        "addressCountry": "CA"
                      }
                   }
                }
        ]
    </script>
{% endblock %}

{% block content %}

    <div id="office">
        {% for module in office.modules %}
            {% include module.1  with data=module.0.data only %}
        {% endfor %}
    </div>
    <p class="feedback"><small><strong>Thanks for praying with us!</strong> <em>We welcome your feedback or feature requests. We also would appreciate if you report any rubric, calendar, or content errors. Email <a href="mailto:feedback@dailyoffice2019.com">feedback@dailyoffice2019.com</a>. May God bless you!</em></small></p>

    {% include "office/footer.html" %}
{%  endblock %}
