{% extends 'base.html' %}
{% load static %}
{% load render_bundle from webpack_loader %}

{% block extra_head %}
    <script type="application/ld+json">
        [
            {
                  "@context" : "http://schema.org",
                  "@type" : "Event",
                  "name" : "{{ office.title }}",
                  "startDate" : "{{  office.start_time|date:"c" }}-04:00",
                  "endDate": "{{  office.end_time|date:"c" }}",
                  "eventStatus": "https://schema.org/EventScheduled",
                  "eventAttendanceMode": "https://schema.org/OnlineEventAttendanceMode",
                  "description" : "{{ office.description }}",
                  "url" : "https://www.dailyoffice2109.com{{ request.get_full_path }}",
                  "isAccessibleForFree": true,
                  "location": {
                    "@type": "VirtualLocation",
                    "url": "https://www.dailyoffice2109.com{{ request.get_full_path }}"
                    },
                  "image": "https://www.dailyoffice2019.com/static/office/img/bcp.jpg"
                }
        ]
    </script>
{% endblock %}

{% block content %}
    <div id="office">
        {% for module in office.modules %}
            {% include module.1  with data=module.0.data only %}
        {% endfor %}
    </div>
<!--    <div class="no-print">-->
<!--        {% if office.family %}-->
<!--            {% include "office/footer_family.html" %}-->
<!--        {% else %}-->
<!--            {% include "office/footer.html" %}-->
<!--        {% endif %}-->
<!--    </div>-->
{%  endblock %}
