{% extends 'base.html' %}
{% load static %}
{% load render_bundle from webpack_loader %}

{% block content %}
    <div id="menu">
        <div class="menu">
            <a href="#" class="toggle-settings menu-button"><i class="fal fa-cog"></i> <span class="first-letter">S</span>ettings</a>
            <a href="#" class="toggle-settings menu-button"><i class="fal fa-cross"></i> <span class="first-letter">A</span>bout</a>
            <a href="#" class="toggle-settings menu-button"><i class="fal fa-calendar-alt"></i> <span class="first-letter">C</span>alendar</a>
            <a href="/" id="now-button" class="menu-button"><i class="fal fa-clock"></i> <span class="first-letter">N</span>ow</a>
        </div>
        <div id="messages"></div>
    </div>
    <div id="settings-menu" class="off">
        <div class="menu">
           <a href="#" class="toggle-settings menu-button off"><i class="fal fa-bible"></i> <span class="first-letter">P</span>ray</a>
        </div>
    </div>
    <div class="main">

        {% include "office/settings.html" %}
        <div id="office">
            {% for module in office.modules %}
                {% include module.1  with data=module.0.data only %}
            {% endfor %}
        </div>
        <p class="feedback"><small><strong>Thanks for praying with us!</strong> <em>We welcome your feedback or feature requests. We also would appreciate if you report any rubric, calendar, or content errors. Email <a href="mailto:feedback@dailyoffice2019.com">feedback@dailyoffice2019.com</a>. May God bless you!</em></small></p>
    </div>
    {% include "office/footer.html" %}
{%  endblock %}
