<p class="hanging-indent"><strong>Padre nuestro que estás en el cielo,</strong></p>
<p class="indent"><strong>santificado sea tu Nombre,</strong></p>
<p class="indent"><strong>venga tu reino,</strong></p>
<p class="indent"><strong>hágase tu voluntad,</strong></p>
<p class="indent"><strong>en la tierra como en el cielo.</strong></p>
<p class="hanging-indent"><strong>Danos hoy nuestro pan de cada día.</strong></p>
<p class="hanging-indent"><strong>Perdona nuestras ofensas,</strong></p>
<p class="indent"><strong>como también nosotros perdonamos</strong></p>
<p class="indent"><strong>a los que nos ofenden.</strong></p>
<p class="hanging-indent"><strong>No nos dejes caer en tentación</strong></p>
<p class="indent"><strong>y líbranos del mal.</strong></p>
<p class="hanging-indent"><strong>Porque tuyo es el reino,</strong></p>
<p class="indent"><strong>tuyo es el poder,</strong></p>
<p class="indent"><strong>y tuya es la gloria,</strong></p>
<p class="indent"><strong>ahora y por siempre. Amén.</strong></p>
