<p class="hanging-indent"><strong>我們在天上之父，</strong></p>
<p class="indent"><strong>願人皆尊父名為聖。</strong></p>
<p class="indent"><strong>願父國降臨，</strong></p>
<p class="indent"><strong>願父旨意成就在地，</strong></p>
<p class="indent"><strong>如同成就在天。</strong></p>
<p class="hanging-indent"><strong>我們日用之飲食，求父今日賜與我們。</strong></p>
<p class="hanging-indent"><strong>又求饒恕我們之罪，</strong></p>
<p class="indent"><strong>如我們饒恕</strong></p>
<p class="indent"><strong>得罪我們之人。</strong></p>
<p class="hanging-indent"><strong>保祐我們，不入誘惑；</strong></p>
<p class="indent"><strong>拯救我們，脫離凶惡。</strong></p>
<p class="hanging-indent"><strong>因為國度、權柄、榮耀，</strong></p>
<p class="indent"><strong>皆屬於父，</strong></p>
<p class="indent"><strong>永無窮盡。阿們。</strong></p>
