<p class="hanging-indent"><strong>Our Father, who art in heaven,</strong></p>
<p class="indent"><strong>hallowed be thy Name,</strong></p>
<p class="indent"><strong>thy kingdom come,</strong></p>
<p class="indent"><strong>thy will be done,</strong></p>
<p class="indent"><strong>on earth as it is in heaven.</strong></p>
<p class="hanging-indent"><strong>Give us this day our daily bread.</strong></p>
<p class="hanging-indent"><strong>And forgive us our trespasses,</strong></p>
<p class="indent"><strong>as we forgive those</strong></p>
<p class="indent"><strong>who trespass against us.</strong></p>
<p class="hanging-indent"><strong>And lead us not into temptation,</strong></p>
<p class="indent"><strong>but deliver us from evil.</strong></p>
<p class="hanging-indent"><strong>For thine is the kingdom,</strong></p>
<p class="indent"><strong>and the power, and the glory,</strong></p>
<p class="indent"><strong>for ever and ever. Amen.</strong></p>
