<div class="lang-english">
<h2>{{  data.heading }}</h2>

<table class="dialogue">
    <tr>
        <td><em>Officiant</em></td>
        <td>The Lord be with you.</td>
    </tr>
    <tr>
        <td><em>People</em></td>
        <td><strong>And with your spirit.</strong></td>
    </tr>
    <tr>
        <td><em>Officiant</em></td>
        <td>Let us pray.</td>
    </tr>
</table>


<p><em>The People kneel or stand.</em></p>
</div>

<div class="lang-chinese off">
<h2>禱 告</h2>

<table class="dialogue">
    <tr>
        <td><em>主禮</em></td>
        <td>願主與你們同在。</td>
    </tr>
    <tr>
        <td><em>會眾</em></td>
        <td><strong>也與你的心靈同在。</strong></td>
    </tr>
    <tr>
        <td><em>主禮</em></td>
        <td>我們要祈禱。</td>
    </tr>
</table>

<p><em>會眾跪下或站立。</em></p>
</div>

<div class="lang-spanish off">
<h2>LAS ORACIONES</h2>

<table class="dialogue">
    <tr>
        <td><em>Oficiante</em></td>
        <td>El Señor esté con ustedes.</td>
    </tr>
    <tr>
        <td><em>Pueblo</em></td>
        <td><strong>Y con tu espíritu.</strong></td>
    </tr>
    <tr>
        <td><em>Oficiante</em></td>
        <td>Oremos.</td>
    </tr>
</table>

<p><em>El Pueblo se arrodilla o se pone de pie.</em></p>
</div>

{% include "office/kyrie_pater.html" %}
