{% extends 'base.html' %}
{% load static %}
{% load render_bundle from webpack_loader %}


{% block content %}
<h1>
    Privacy Policy
</h1>
<p>
    This policy applies to all information collected or submitted on
    <em>
        The Daily Office, Morning and Evening Prayer according to the Book of
        Common Prayer, 2019, Anglican Church in America
    </em>
    website and apps for iOS, Android, and any other devices and platforms.
</p>
<h3>
    Information we collect<strong></strong>
</h3>
<p>
    We do not require the collection of any information to use the site or
    apps.
</p>
<p>
    You may optionally add an email address which is used to send you
    occasional email updates. You may unsubscribe at any time. In order to
    facilitate email messages, your email address may be shared with services
    used to send email, including:
</p>
<ul type="disc">
    <p>
        <a href="https://www.netlify.com/privacy/">Netlify</a>
    </p>
    <p>
        <a href="https://mailchimp.com/legal/privacy/">MailChimp</a>
    </p>
</ul>
<p>
    We never sell or share any of your information.
</p>
<h3>
    <strong>Technical basics</strong>
    <strong></strong>
</h3>
<p>
    We use local storage on the site or app to retain your preferences. This
    storage is not connected to any personally identifiable information.
</p>
<p>
    We or our hosting provider may also store basic technical information, such as
    your IP address, in temporary memory or logs.
</p>
<h3>
    <strong>Analytics</strong>
    <strong></strong>
</h3>
<p>
    The site and app collects aggregate, anonymous statistics, such as the
    percentage of users who use particular features, to improve the app.
</p>
<p>
    The app or site may use the following third party services for anonymous
    analytics tracking:
</p>
<ul type="disc">
    <p>
        <a href="https://www.netlify.com/privacy/">Netlify</a>
    </p>
    <p>
        <a href="https://policies.google.com/privacy">Google Analytics</a>
    </p>
    <p>
        <a href="https://policies.google.com/privacy">Firebase Analytics</a>
    </p>
</ul>
<h3>
    Information usage<strong></strong>
</h3>
<p>
    We use the information we collect to operate and improve our website, apps,
    and support.
</p>
<p>
    We do not share personal information with outside parties except to the
    extent necessary to accomplish the app’s functionality. We may share
    anonymous, aggregate statistics with outside parties.
</p>
<p>
    We may disclose your information in response to subpoenas, court orders, or
    other legal requirements; to exercise our legal rights or defend against
    legal claims; to investigate, prevent, or take action regarding illegal
    activities, suspected fraud or abuse; or to protect our rights and
    property.
</p>
<h3>
    Security<strong></strong>
</h3>
<p>
    We implement a variety of security measures to help keep your information
    secure. For instance, all communication with the app and website requires
    HTTPS.
</p>
<h3>
    Third-party links and content<strong></strong>
</h3>
<p>
    The site and apps display links and content to third-party sites. These
    have their own independent privacy policies, and we have no responsibility
    or liability for their content or activities.
</p>
<h3>
    California Online Privacy Protection Act Compliance<strong></strong>
</h3>
<p>
    We comply with the California Online Privacy Protection Act. We therefore
    will not distribute your personal information to outside parties without
    your consent.
</p>
<h3>
    Children’s Online Privacy Protection Act Compliance<strong></strong>
</h3>
<p>
    We never collect or maintain information at our website from those we
    actually know are under 13, and no part of our website is structured to
    attract anyone under 13.
</p>
<h3>
    Information for European Union Customers<strong></strong>
</h3>
<p>
    By using the app or site and providing your information, you authorize us
    to collect, use, and store your information outside of the European Union.
</p>
<h3>
    International Transfers of Information<strong></strong>
</h3>
<p>
    Information may be processed, stored, and used outside of the country in
    which you are located. Data privacy laws vary across jurisdictions, and
    different laws may be applicable to your data depending on where it is
    processed, stored, or used.
</p>
<h3>
    Your Consent<strong></strong>
</h3>
<p>
    By using our site or apps, you consent to our privacy policy.
</p>
<h3>
    Contacting Us<strong></strong>
</h3>
<p>
    If you have questions regarding this privacy policy, you may email
    feedback@dailyoffice2019.com.
</p>

{% endblock %}
