{% extends 'base.html' %}
{% load static %}
{% load render_bundle from webpack_loader %}


{% block content %}
    {{ psalm_text|safe }}
    {% if topics %}
        <h3>Psalms with similar themes:</h3>
        {% for topic in topics %}
            <p>
                {{ topic.topic_name }}<br>
                {% for psalmtopicpsalm  in topic.psalmtopicpsalm_set.all %}
                <a href="/psalms/{{ psalmtopicpsalm.psalm.number }}/{{ filename }}">{{ psalmtopicpsalm.psalm.number }}</a>&nbsp;
                {% endfor %}
            </p>
        {% endfor %}
    {% endif %}
    <p><a href="/psalms/{{ filename }}">View all psalms</a></p>

{% endblock %}
