{% extends 'base.html' %}
{% load static %}
{% load render_bundle from webpack_loader %}


{% block content %}
    <h1>The Psalms</h1>
    <h2>New Coverdale Translation<br><em>Book of Common Prayer 2019</em></h2>
    <h3>Quick links</h3>
    <p>
        {% for psalm in psalms %}
            <a href="/psalms/{{ psalm.number }}">{{ psalm.number }}</a>&nbsp;
        {% endfor %}
    </p>
    <h3>Psalms by Topic</h3>
    {% for topic in topics %}
        <p>
            {{ topic.topic_name }}<br>
            {% for relation in topic.psalmtopicpsalm_set.all %}
                <a href="/psalms/{{ relation.psalm.number }}">{{ relation.psalm.number }}</a>&nbsp;
            {% endfor %}
        </p>
    {% endfor %}
    <h3>Psalms with first line</h3>
    {% for psalm in psalms %}
        <p><a href="/psalms/{{ psalm.number }}">{{ psalm.number }} | {{ psalm.latin_title}}</a><br>{{ psalm.first_half }} </p>
    {% endfor %}
{% endblock %}

