<h3 id="{{ data.tag_prefix}}reading">{{ data.heading }}</h3>
{% if data.has_main_reading %}
    {% include "office/single_reading.html" with reading=data.main_reading %}
{% endif %}
{% if data.has_abbreviated_reading %}
    {% include "office/single_reading.html" with reading=data.abbreviated_reading %}
{% endif %}
{% if data.has_alternate_reading %}
    {% include "office/single_reading.html" with reading=data.alternate_reading %}
{% endif %}
{% if data.has_alternate_abbreviated_reading %}
    {% include "office/single_reading.html" with reading=data.alternate_abbreviated_reading %}
{% endif %}
{% if data.has_mass_reading %}
    {% include "office/single_reading.html" with reading=data.mass_reading %}
{% endif %}
{% if data.has_abbreviated_mass_reading %}
    {% include "office/single_reading.html" with reading=data.abbreviated_mass_reading %}
{% endif %}
