<h2>{{  data.heading }}</h2>


<div class="full-reading">
    <h4>{{ data.passage }}</h4>

    <p><em>The lesson is read, the people sitting</em></p>
    <table class="dialogue">
        <tr>
            <td><em>Reader</em></td>
            <td>{{ data.intro }}</td>
        </tr>
    </table>
    <div class="reading">
        {%  if not data.deuterocanon %}
        <div class="bible-audio off">
            <audio controls type="audio/mpeg" src="https://audio.esv.org/hw/{{ data.passage|urlencode }}"><a href="https://audio.esv.org/hw/{{ data.passage|urlencode }}">Listen</a></audio>
        </div>
        {% endif %}
        <br>
        {{  data.reading | safe }}
    </div>
</div>

<div class="abbreviated-reading off">
    <h4>{{ data.abbreviated_passage }}</h4>
    {%  if data.has_abbreviated %}<h4>(Abbreviated)</h4>{%  endif %}
    <p><em>The lesson is read, the people sitting</em></p>
    <table class="dialogue">
        <tr>
            <td><em>Reader</em></td>
            <td>{{ data.abbreviated_intro }}</td>
        </tr>
    </table>
    <div class="reading">
        {%  if not data.deuterocanon %}
            <div class="bible-audio off">
                <audio controls type="audio/mpeg" src="https://audio.esv.org/hw/{{ data.abbreviated_passage|urlencode }}"><a href="https://audio.esv.org/hw/{{ data.abbreviated_passage|urlencode }}">Listen</a></audio>
            </div>
        {% endif %}
        <br>
        {{  data.abbreviated_reading | safe }}
    </div>
</div>

<table class="dialogue">
    <tr>
        <td><em>Reader</em></td>
        <td>{{ data.closing.reader }}</td>
    </tr>
    {%  if data.closing.people %}
        <tr>
            <td><em>People</em></td>
            <td><strong>{{ data.closing.people }}</strong></td>
        </tr>
    {%  endif %}
</table>
