<div id="new-settings">
    Hi
</div>
<div id="settings">
    <form class="form">
        {% if h1 %}
            <h1>{{ title }}</h1>
        {% else %}
            <h3>{{ title }}</h3>
        {% endif %}

        <p>Your settings will be saved the next time you pray on the same computer/phone/device and browser.</p>
        <p><em>Setting changes take effect immediately. You do not need to save settings after you have updated
            them.</em></p>

        {% if family %}
            {% for setting in family_settings %}
                {% include 'office/setting.html' %}
            {% endfor %}
        {% else %}
            {% for setting in settings %}
                {% include 'office/setting.html' %}
            {% endfor %}
        {% endif %}

        <div id="advanced-settings" class="advanced-settings">

            <span class="advanced-settings-interior">
                <h2>Advanced Settings</h2>
                {% if family %}
                     {% for setting in family_minor_settings %}
                        {% include 'office/minor_setting.html' %}
                    {% endfor %}
                {% else %}
                    {% for setting in minor_settings %}
                        {% include 'office/minor_setting.html' %}
                    {% endfor %}
                {% endif %}
            </span>
        </div>

        <a href="#" class="back-button menu-button inline"><i class="fal fa-arrow-left"></i> BACK</a>

    </form>
</div>
