<div id="settings">
    <form class="form">
        {% if h1 %}
            <h1>Daily Office Settings</h1>
        {% else %}
            <h3>Daily Office Settings</h3>
        {% endif %}

        <p>Your settings will be saved the next time you pray on the same computer/phone/device and browser.</p>
        <p><em>Setting changes take effect immediately. You do not need to save settings after you have updated
            them.</em></p>

        {% for setting in settings %}
            <div class="main-setting">
                <h3>
                    {{ setting.title }}
                    <em id="saved_setting_{{ setting.name }}" class="saved off">Saved!</em>
                </h3>
                <section>
                    {% for option in setting.options %}
                        <div>
                            <input
                                    type="radio"
                                    class="settings-radio"
                                    id="setting_{{ setting.name }}_{{ option.value }}"
                                    name="setting_{{ setting.name }}"
                                    value="{{ option.value }}"
                                    data-class_to_hide='{{ option.hide | join:"," }}'
                                    data-class_to_show='{{ option.show | join:"," }}'
                                    {% if forloop.first %}checked{% endif %}
                            >
                            <label for="setting_{{ setting.name }}_{{ option.value }}">
                                <h4>{{ option.heading }}</h4>
                                <p>{{ option.text }}</p>
                            </label>
                        </div>
                    {% endfor %}
                </section>
            </div>
        {% endfor %}

        <div id="advanced-settings" class="advanced-settings">

            <span class="advanced-settings-interior">
                <h2>Advanced Settings</h2>

                {% for setting in minor_settings %}

                    <h3>
                        {{ setting.title }}
                        <em id="saved_setting_{{ setting.name }}" class="saved off">Saved!</em>
                    </h3>
                    <section>
                        {% for option in setting.options %}

                            <span {% if option.tags %} {% for key, value in option.tags.items %} {{ key }}="{{ value }}" {% endfor %} {% endif %} >
                                <div class="pretty p-default p-round p-smooth">
                                    <input
                                            type="radio"
                                            class="settings-radio"
                                            id="setting_{{ setting.name }}_{{ option.value }}"
                                            name="setting_{{ setting.name }}"
                                            value="{{ option.value }}"
                                            data-class_to_hide='{{ option.hide | join:"," }}'
                                            data-class_to_show='{{ option.show | join:"," }}'
                                            {% if forloop.first %}checked{% endif %}/>
                                    <div class="state p-primary">
                                        <label for="setting_{{ setting.name }}_{{ option.value }}">{{ option.heading }}</label>
                                    </div>
                                </div>
                            </span>
                        {% endfor %}
                        {% if setting.help_text %}
                            <p class="help-text"><em>{{ setting.help_text }}</em></p>
                        {% endif %}
                    </section>
                {% endfor %}
            </span>
        </div>

        <a href="#" class="back-button menu-button inline"><i class="fal fa-arrow-left"></i> BACK</a>

    </form>
</div>
