<div id="settings" class="off">
    <form class="form">

        <h1>Daily OfficeSettings</h1>
        <p><em>Setting take effect immediately without saving.</em></p>

        {%  for setting in office.settings %}

            <h2>{{  setting.title }}</h2>
            <section>
                {%  for option in setting.options %}
                    <div>
                        <input
                                type="radio"
                                class="settings-radio"
                                id="setting_{{ setting.name }}_{{ option.value }}"
                                name="setting_{{ setting.name }}"
                                value="{{ option.value }}"
                                data-class_to_hide='{{ option.hide | join:"," }}'
                                data-class_to_show='{{ option.show | join:"," }}'
                                {% if forloop.first %}checked{% endif %}
                        >
                        <label for="setting_{{ setting.name }}_{{ option.value }}">
                            <h2>{{ option.heading }}</h2>
                            <p>{{ option.text }}</p>
                        </label>
                    </div>
                {%  endfor %}
                        <a href="#" class="toggle-settings menu-button inline off"><i class="fal fa-bible"></i> <span class="first-letter">P</span>ray with your new settings</a>

            </section>

        {%  endfor %}

    </form>
</div>
