<div class="canticle-default">
    <h3>{{ data.latin_name }}</h3>
    <h4>{{ data.english_name }}</h4>
    {{  data.content }}
    {%  if data.citation %}
        <h5>{{  data.citation }}</h5>
    {%  endif %}
    {%  if data.gloria %}
        <p class="hanging-indent"><strong>Glory be to the Father, and to the Son, and to the Holy Spirit; *</strong></p>
        <p class="indent"><strong>as it was in the beginning, is now, and ever shall be,</strong></p>
        <p class="indent"><strong>world without end. Amen.</strong></p>
    {%  endif %}
</div>
