<p>&nbsp;</p>
<table class="dialogue">
    <tr>
        <td><em>Officiant</em></td>
        <td>O Lord, show your mercy upon us; </td>
    </tr>
    <tr>
        <td><em>People</em></td>
        <td><strong>And grant us your salvation.</strong></td>
    </tr>
    <tr>
        <td><em>Officiant</em></td>
        <td>O Lord, guide those who govern us;</td>
    </tr>
    <tr>
        <td><em>People</em></td>
        <td><strong>And lead us in the way of justice and truth.</strong></td>
    </tr>
    <tr>
        <td><em>Officiant</em></td>
        <td>Clothe your ministers with righteousness;</td>
    </tr>
    <tr>
        <td><em>People</em></td>
        <td><strong>And let your people sing with joy.</strong></td>
    </tr>
    <tr>
        <td><em>Officiant</em></td>
        <td>O Lord, save your people;</td>
    </tr>
    <tr>
        <td><em>People</em></td>
        <td><strong>And bless your inheritance.</strong></td>
    </tr>
    <tr>
        <td><em>Officiant</em></td>
        <td>Give peace in our time, O Lord;</td>
    </tr>
    <tr>
        <td><em>People</em></td>
        <td><strong>And defend us by your mighty power.</strong></td>
    </tr>
    <tr>
        <td><em>Officiant</em></td>
        <td>Let not the needy, O Lord, be forgotten;</td>
    </tr>
    <tr>
        <td><em>People</em></td>
        <td><strong>And bless your inheritance.</strong></td>
    </tr>
    <tr>
        <td><em>Officiant</em></td>
        <td>Create in us clean hearts, O God;</td>
    </tr>
    <tr>
        <td><em>People</em></td>
        <td><strong>And take not your Holy Spirit from us.</strong></td>
    </tr>
</table>
