<p class="hanging-indent">That this evening may be holy, good, and peaceful,</p>
<p class="indent entreaty"><strong>We entreat you, O Lord.</strong></p>
<p class="hanging-indent">That your holy angels may lead us in paths of peace and goodwill,</p>
<p class="indent entreaty"><strong>We entreat you, O Lord.</strong></p>
<p class="hanging-indent">That we may be pardoned and forgiven for our sins and offenses,</p>
<p class="indent entreaty"><strong>We entreat you, O Lord.</strong></p>
<p class="hanging-indent">That there may be peace in your Church and in the whole world,</p>
<p class="indent entreaty"><strong>We entreat you, O Lord.</strong></p>
<p class="hanging-indent">That we may depart this life in your faith and fear, and not be
condemned before the great judgment seat of Christ,</p>
<p class="indent entreaty"><strong>We entreat you, O Lord.</strong></p>
<p class="hanging-indent">That we may be bound together by your Holy Spirit in the
communion of {{ data.names }} and all your saints, entrusting
    one another and all our life to Christ,</p>
<p class="indent entreaty"><strong>We entreat you, O Lord.</strong></p>
