<p class="hanging-indent">求主讓我們在聖潔、良善和平安裏度過今夜，</p>
<p class="indent entreaty"><strong>主啊，我們懇求祢。</strong></p>
<p class="hanging-indent">求主的聖天使引導我們行在和平與善意的道路，</p>
<p class="indent entreaty"><strong>主啊，我們懇求祢。</strong></p>
<p class="hanging-indent">求主赦免我們的罪，饒恕我們的過犯，</p>
<p class="indent entreaty"><strong>主啊，我們懇求祢。</strong></p>
<p class="hanging-indent">求主使祢的教會和全世界得享太平，</p>
<p class="indent entreaty"><strong>主啊，我們懇求祢。</strong></p>
<p class="hanging-indent">求主讓我們在信靠及敬畏之中離世，並在基督的審判座前免受刑罰，</p>
<p class="indent entreaty"><strong>主啊，我們懇求祢。</strong></p>
<p class="hanging-indent">求主讓我們在祢聖靈的繫連妙結中，與 {{ data.names }} 祢的眾聖徒共享團契，將彼此以及我們全生交託給基督，</p>
<p class="indent entreaty"><strong>主啊，我們懇求祢。</strong></p>
