<p class="hanging-indent">Para que esta noche sea santa, buena y pacífica,</p>
<p class="indent entreaty"><strong>Te suplicamos, Señor.</strong></p>
<p class="hanging-indent">Para que tus santos ángeles nos conduzcan por senderos de paz y buena voluntad,</p>
<p class="indent entreaty"><strong>Te suplicamos, Señor.</strong></p>
<p class="hanging-indent">Para que seamos absueltos y perdonados por nuestros pecados y ofensas,</p>
<p class="indent entreaty"><strong>Te suplicamos, Señor.</strong></p>
<p class="hanging-indent">Para que haya paz en tu Iglesia y en el mundo entero,</p>
<p class="indent entreaty"><strong>Te suplicamos, Señor.</strong></p>
<p class="hanging-indent">Para que partamos de esta vida en tu fe y temor, y no seamos condenados ante el gran tribunal de Cristo,</p>
<p class="indent entreaty"><strong>Te suplicamos, Señor.</strong></p>
<p class="hanging-indent">Para que estemos unidos por tu Espíritu Santo en la comunión de {{ data.names }} todos tus santos, confiando unos a otros y toda nuestra vida a Cristo,</p>
<p class="indent entreaty"><strong>Te suplicamos, Señor.</strong></p>
