<table class="dialogue">
    <tr>
        <td><em>Oficiante</em></td>
        <td>Señor, muéstranos tu misericordia;</td>
    </tr>
    <tr>
        <td><em>Pueblo</em></td>
        <td><strong>Y danos tu salvación.</strong></td>
    </tr>
    <tr>
        <td><em>Oficiante</em></td>
        <td>Señor, guía a los que nos gobiernan;</td>
    </tr>
    <tr>
        <td><em>Pueblo</em></td>
        <td><strong>Y guíanos por el camino de la justicia y la verdad.</strong></td>
    </tr>
    <tr>
        <td><em>Oficiante</em></td>
        <td>Viste a tus ministros de justicia;</td>
    </tr>
    <tr>
        <td><em>Pueblo</em></td>
        <td><strong>Y deja que tu pueblo cante con alegría.</strong></td>
    </tr>
    <tr>
        <td><em>Oficiante</em></td>
        <td>Señor, salva a tu pueblo;</td>
    </tr>
    <tr>
        <td><em>Pueblo</em></td>
        <td><strong>y bendice tu herencia.</strong></td>
    </tr>
    <tr>
        <td><em>Oficiante</em></td>
        <td>Da paz en nuestro tiempo, oh Señor;</td>
    </tr>
    <tr>
        <td><em>Pueblo</em></td>
        <td><strong>y defiéndenos con tu gran poder.</strong></td>
    </tr>
    <tr>
        <td><em>Oficiante</em></td>
        <td>No dejes que el necesitado, oh Señor, sea olvidado;</td>
    </tr>
    <tr>
        <td><em>Pueblo</em></td>
        <td><strong>ni la esperanza de los pobres sea quitada.</strong></td>
    </tr>
    <tr>
        <td><em>Oficiante</em></td>
        <td>Crea en nosotros corazones limpios, oh Dios;</td>
    </tr>
    <tr>
        <td><em>Pueblo</em></td>
        <td><strong>Y no nos quites tu Santo Espíritu.</strong></td>
    </tr>
</table>
