<table class="dialogue">
    <tr>
        <td><em>主禮</em></td>
        <td>主啊，憐憫我們；</td>
    </tr>
    <tr>
        <td><em>會眾</em></td>
        <td><strong>也施恩拯救我們。</strong></td>
    </tr>
    <tr>
        <td><em>主禮</em></td>
        <td>主啊，拯救我們的國家；</td>
    </tr>
    <tr>
        <td><em>會眾</em></td>
        <td><strong>也引導我們走在公義和真理上。</strong></td>
    </tr>
    <tr>
        <td><em>主禮</em></td>
        <td>求主使主所立的聖品人常有善義；</td>
    </tr>
    <tr>
        <td><em>會眾</em></td>
        <td><strong>也求主使主的子民常有喜樂。</strong></td>
    </tr>
    <tr>
        <td><em>主禮</em></td>
        <td>主啊，拯救祢的子民；</td>
    </tr>
    <tr>
        <td><em>會眾</em></td>
        <td><strong>也賜福給祢的子民。</strong></td>
    </tr>
    <tr>
        <td><em>主禮</em></td>
        <td>求主賜平安；</td>
    </tr>
    <tr>
        <td><em>會眾</em></td>
        <td><strong>只有在主裏才能平安度日。</strong></td>
    </tr>
    <tr>
        <td><em>主禮</em></td>
        <td>主啊，叫我們不忘記缺乏的人；</td>
    </tr>
    <tr>
        <td><em>會眾</em></td>
        <td><strong>求主使貧苦人常存盼望。</strong></td>
    </tr>
    <tr>
        <td><em>主禮</em></td>
        <td>上帝啊，為我們造清潔的心；</td>
    </tr>
    <tr>
        <td><em>會眾</em></td>
        <td><strong>不要從我們收回祢的聖靈。</strong></td>
    </tr>
</table>
