{% load inlinecss mjml %}
{% inlinecss  "css/email.css" %}
<span class="events__title">Liturigical Calendar</span>
<ul class="events__list">
    <div class="events-container">
        {% for day in days %}

                <li class="events__item">
                    <div class="events__item--top">
                        <span class="events__day">
                            {{ day.date_description.weekday }}, {{ day.date_description.month_name }} {{ day.date_description.day }}
                        </span>
                        {% for feast in day.filtered_feasts %}
                            {% if feast.rank.precedence <= 5 %}
                                <span class="events__name">{{feast.name}}
                            {% else %}
                                <span class="events__name__subdued">{{feast.name}}
                            {% endif %}
                            {% for link in feast.links %}
                                <a target="_blank" href="{{ link }}">Bio</a>&nbsp;
                            {% endfor %}
                                </span>
                        {% endfor %}
                        <span class="events__date">
                        {% if birthday.5 %}
                             <a href="mailto:{{ birthday.5 }}">{{ birthday.5 }}</a>&nbsp;
                        {% endif %}
                        {% if birthday.6 %}
                             <a href="tel:{{ birthday.6 }}">{{ birthday.6 }}</a>&nbsp;
                        {% endif %}
                        </span>
                    </div>
                    <div class="events__item--bottom">
                        {% for feast in day.filtered_feasts %}
                            {% for link in feast.links %}

                            {% endfor %}
                        {% endfor %}
                        <a class="event_link" target="_blank" href="https://www.dailyoffice2019.com/morning_prayer/{{ day.date_description.date }}/"><span class="events__tag">Morning Prayer</span></a>&nbsp;
                        <a class="event_link" target="_blank" href="https://www.dailyoffice2019.com/evening_prayer/{{ day.date_description.date }}/"><span class="events__tag">Evening Prayer</span></a>
                </li>

        {% empty %}
        <p><em>No birthdays this week. :-(</em></p>
        {% endfor %}
    </div>
</ul>
{% endinlinecss %}




