{% load inlinecss mjml %}
{% inlinecss  "css/email.css" %}
{% for feast in feasts %}

<div class="individual">
    <h1>{{ feast.name }}</h1>
    <h2>Collect of the Day</h2>
    <p>{{ feast.collects.collect }}</p>
    <h2>Biography</h2>
        <p>Biography goes here</p>
    <h2>Readings</h2>
    {% for reading in day.mass_readings %}
        <div class="reading">
            <h4>{{ reading.citation}}</h4>
            {{ reading.text|safe }}
        </div>
    {% endfor %}
</div>

{% endfor %}
{% endinlinecss %}
