{% load inlinecss mjml %}
{% inlinecss  "standrew/css/email.css" %}

<div class="individual">
    <h1>{{ meeting.title }}</h1>
    <h3>TONIGHT: {{ meeting.date|date:"l, F j, Y"}}</h3>
    <h4>{{ meeting.time }}</h4>

    <span class="events__date">{{ meeting.date }}
        {% if meeting.extra_fields.Location and meeting.extra_fields.Address %}
            at {{ meeting.extra_fields.Location }} <a href="https://www.google.com/maps/place/{{ meeting.extra_fields.Address }}">{{ meeting.extra_fields.Address }}</a>
        {% endif %}
    </span>
    {% if meeting.extra_fields %}
        {% for key, value in meeting.extra_fields.items %}
            {% if key != "Location" and key != "Address" %}
                <p><span class="events__date"><strong>{{ key }}:</strong> {{ value }}</span></p>
            {% endif %}
        {% endfor %}
    {% endif %}
    {% if meeting.meeting == "men" %}
        <p><small><em><strong>Can't attend?</strong> Reply to this email to let the full men's group know, or email Chris at <a href="mailto:chris.massa@gmail.com">chris.massa@gmail.com</a> and Scott at <a href="mailto:shbowles@gmail.com">shbowles@gmail.com</a>.</em></small></p>
    {% endif %}
    {% if meeting.meeting == "women" %}
        <p><small><em><strong>Can't attend?</strong> Reply to this email to let the full women's group know, or email Elise at <a href="mailto:elise.massa@gmail.com">elise.massa@gmail.com</a>.</em></small></p>
    {% endif %}
    {% if meeting.meeting == "ohara" %}
        <p><small><em><strong>Can't attend?</strong> Reply to this email to let the full O'Hara Cell know, or email Scott at <a href="mailto:shbowles@gmail.com">shbowles@gmail.com</a>.</em></small></p>
    {% endif %}
    {% if meeting.meeting == "morningside" %}
        <p><small><em><strong>Can't attend?</strong> Reply to this email to let the full Morninside Cell know, or email Elise at <a href="mailto:elise.massa@gmail.com">elise.massa@gmail.com</a> and Chris at <a href="mailto:chris.massa@gmail.com">chris.massa@gmail.com</a>.</em></small></p>
    {% endif %}
    {% if meeting.meeting == "both_cells" %}
        <p><small><em><strong>Can't attend?</strong> Reply to this email to let everyone know, or email Elise at <a href="mailto:elise.massa@gmail.com">elise.massa@gmail.com</a>, Chris at <a href="mailto:chris.massa@gmail.com">chris.massa@gmail.com</a>, and Scott at <a href="mailto:shbowles@gmail.com">shbowles@gmail.com</a>.</em></small></p>
    {% endif %}

    {% if meeting.meeting == "movie" %}
        <div class="reading">
            <h3>Movie</h3>
            {% if meeting.movie_details.movie_name %}
                <h4>{{ meeting.movie_details.movie_name }}</h4>
                <p>Available on <a target="_blank" href="{{ meeting.movie_details.movie_link }}">{{ meeting.movie_details.movie_service}}</a></p>
            {% else %}
                <p>Movie to be announced</p>
            {% endif %}
        </div>
    {% endif %}

    {% if meeting.meeting == "games" %}
        <p><small><em>All are welcome, and bring friends! All you need is at least one computer per household to see other participants and one device (smartphone, computer, or tablet) per person to use as your controller. No signup or advance setup is necessary, though we encourage you to reply to this email to RSVP YES so we know to expect you.</em></small></p>
    {% endif %}

    {% if meeting.notes.notes %}
        <div class="reading">
            <h3>Topic</h3>
            <p>{{ meeting.notes.notes|safe }}</p>
        </div>
    {% endif %}

    {% if meeting.notes.book %}
        <div class="reading">
            <h3>Reading Assignment</h3>
            <p><em>{{ meeting.notes.chapter }}</em> from <a href="{{ meeting.notes.link}}" target="_blank">{{ meeting.notes.book }}</a> by {{ meeting.notes.author }}</p>
        </div>
    {% endif %}

    {% if meeting.slack_link %}
     <p><small>Slack: <a href="{{ meeting.slack_link }}">{{ meeting.slack_link }}</a></small></p>
    {% endif %}

    <div class="link-buttons">
        {% if meeting.slack_link %}
            <a class="event_link" href="{{ meeting.slack_link }}" target="_blank"><span class="events__tag">Join Slack</span></a>
        {% endif %}
    </div>

{% endinlinecss %}
