<h3>NUNC DIMITTIS</h3>
<h4>The Song of Simeon</h4>
<p>
    <strong>Lord, now let your servant depart in peace, * </strong>
    <br><strong>&nbsp;&nbsp;&nbsp; according to your word.</strong>
    <br><strong>For my eyes have seen your salvation, *</strong>
    <br><strong>&nbsp;&nbsp;&nbsp; which you have prepared before the face of all people; </strong>
    <br><strong>To be a light to lighten the Gentiles, *</strong>
    <br><strong>&nbsp;&nbsp;&nbsp; and to be the glory of your people Israel.</strong>
    <br><strong>Glory be to the Father, and to the Son, and to the Holy Spirit; * as it was in the beginning, is now, </strong>
    <br><strong>&nbsp;&nbsp;&nbsp;&nbsp; and ever shall be, world</strong> <strong>without end. Amen.</strong>
</p>
<h5>LUKE 2:29-32</h5>
