<h2>NUNC DIMITTIS</h2>
<h4>The Song of Simeon</h4>
<p><em>Officiant and People, all standing</em></p>

<p class="hanging-indent"><strong>Lord, now let your servant depart in peace,<span class="asterisk">*</span> </strong></p>
<p class="indent"><strong>according to your word.</strong></p>
<p class="hanging-indent"><strong>For my eyes have seen your salvation,<span class="asterisk">*</span></strong></p>
<p class="indent"><strong>which you have prepared before the face of all people; </strong></p>
<p class="hanging-indent"><strong>To be a light to lighten the Gentiles,<span class="asterisk">*</span></strong></p>
<p class="indent"><strong>and to be the glory of your people Israel.</strong></p>
<p class="hanging-indent">&nbsp;</p>
<p class="hanging-indent"><strong>Glory be to the Father, and to the Son, and to the Holy Spirit;<span class="asterisk">*</span></strong></p>
<p class="indent"><strong>as it was in the beginning, is now, and ever shall be, world without end. Amen.</strong></p>
<h5>LUKE 2:29-32</h5>
