<h3>MAGNIFICAT</h3>
<h4>The Song of Mary</h4>
<p>
    <strong>My soul magnifies the Lord, *</strong>
    <br><strong>&nbsp;&nbsp;&nbsp;&nbsp; and my spirit rejoices in God my Savior; </strong>
    <br><strong>For he has regarded *</strong>
    <br><strong>&nbsp;&nbsp;&nbsp;&nbsp; the lowliness of his handmaiden.</strong>
    <br><strong>For behold, from now on, *</strong>
    <br><strong>&nbsp;&nbsp;&nbsp;&nbsp; all generations will call me blessed; </strong>
    <br><strong>For he that is mighty has magnified me, *</strong>
    <br><strong>&nbsp;&nbsp;&nbsp;&nbsp; and holy is his Name.</strong>
    <br><strong>And his mercy is on those who fear him, * </strong>
    <br><strong>&nbsp;&nbsp;&nbsp;&nbsp; throughout all generations.</strong>
    <br><strong>He has shown the strength of his arm; *</strong>
    <br><strong>&nbsp;&nbsp;&nbsp;&nbsp; he has scattered the proud in the imagination of their hearts. </strong>
    <br><strong>He has brought down the mighty from their thrones, *</strong>
    <br><strong>&nbsp;&nbsp;&nbsp;&nbsp; and has exalted the humble and meek. </strong>
    <br><strong>He has filled the hungry with good things, *</strong>
    <br><strong>&nbsp;&nbsp;&nbsp;&nbsp; and the rich he has sent empty away.</strong>
    <br><strong>He, remembering his mercy, has helped his servant Israel, * </strong>
    <br><strong>&nbsp;&nbsp;&nbsp;&nbsp; as he promised to our fathers, Abraham and his seed for ever.</strong>
    <br><strong>Glory be to the Father, and to the Son, and to the Holy Spirit; * </strong>
    <br><strong>&nbsp;&nbsp;&nbsp;&nbsp; as it was in the beginning, is now, and ever shall be,</strong> <strong>world without end. Amen.</strong>
</p>
<h5>LUKE 1:46-55</h5>
