<h3>{{  data.heading }}</h3>
<p><em>The Officiant says to the People</em></p>
{%  if data.long_form %}
    <p>Dearly beloved, the Scriptures teach us to acknowledge our many sins and offenses, not concealing them from our heavenly Father, but confessing them with humble and obedient hearts that we may obtain forgiveness by his infinite goodness and mercy. We ought at all times humbly to acknowledge our sins before Almighty God, but especially when we come together in his presence to give thanks for the great benefits we have received at his hands, to declare his most worthy praise, to hear his holy Word, and to ask, for ourselves and on behalf of others, those things which are necessary for our life and our salvation. Therefore, draw near with me to the throne of heavenly grace.</p>
{%  else %}
    <p>Let us humbly confess our sins to Almighty God.</p>
{%  endif %}
<p></p>
<p><em>Silence is kept. All kneeling, the Officiant and People say</em></p>

<p><strong>
Almighty and most merciful Father,
<br>&emsp;we have erred and strayed from your ways like lost sheep.
<br>We have followed too much the devices and desires
<br>&emsp;of our own hearts.
<br>We have offended against your holy laws.
<br>We have left undone those things which we ought to have done,
<br>&emsp;and we have done those things which we ought not to have done;
<br>and apart from your grace, there is no health in us.
<br>O Lord, have mercy upon us.
<br>Spare all those who confess their faults.
<br>
<br>Restore all those who are penitent, according to your promises declared to all people in
<br>&emsp;Christ Jesus our Lord.
<br>And grant, O most merciful Father, for his sake,
<br>&emsp;that we may now live a godly, righteous, and sober life,
<br>&emsp;to the glory of your holy Name. Amen.
</strong></p>

<p><em>A Deacon or layperson remains kneeling and prays</em></p>

<p>Grant to your faithful people, merciful Lord, pardon and peace; that we may be cleansed from all our sins, and serve you with a quiet mind; through Jesus Christ our Lord.  Amen.</p>


