<h3>THE APOSTLES&rsquo; CREED</h3>
<p><em>Officiant and People together, all standing</em></p>

<p class="hanging-indent"><strong>I believe in God, the Father almighty, </strong</p>
<p class="indent"><strong>creator of heaven and earth.</strong</p>
<p class="hanging-indent"><strong>I believe in Jesus Christ, his only Son, our Lord.</strong</p>
<p class="indent"><strong>He was conceived by the Holy Spirit </strong</p>
<p class="indent"><strong>and born of the Virgin Mary. </strong</p>
<p class="indent"><strong>He suffered under Pontius Pilate, </strong</p>
<p class="indent"><strong>was crucified, died, and was buried. </strong</p>
<p class="indent"><strong>He descended to the dead. </strong</p>
<p class="indent"><strong>On the third day he rose again.</strong</p>
<p class="indent"><strong>He ascended into heaven,</strong</p>
<p class="indent"><strong>and is seated at the right hand of the Father.</strong</p>
<p class="indent"><strong>He will come again to judge the living and the dead. </strong</p>
<p class="hanging-indent"><strong>I believe in the Holy Spirit,</strong</p>
<p class="indent"><strong>the holy catholic Church,</strong</p>
<p class="indent"><strong>the communion of saints,</strong</p>
<p class="indent"><strong>the forgiveness of sins,</strong</p>
<p class="indent"><strong>the resurrection of the body,</strong</p>
<p class="indent"><strong>and the life everlasting. Amen.</strong</p>

