<h3>THE APOSTLES&rsquo; CREED</h3>
<p><em>Officiant and People together, all standing</em></p>
<p>
    <strong>I believe in God, the Father almighty, </strong><br>
    <strong>&nbsp;&nbsp;&nbsp;&nbsp;creator of heaven and earth.</strong><br>
    <strong>I believe in Jesus Christ, his only Son, our Lord.</strong><br>
    <strong>&nbsp;&nbsp;&nbsp;&nbsp;He was conceived by the Holy Spirit </strong><br>
    <strong>&nbsp;&nbsp;&nbsp;&nbsp;and born of the Virgin Mary. </strong><br>
    <strong>&nbsp;&nbsp;&nbsp;&nbsp;He suffered under Pontius Pilate, </strong><br>
    <strong>&nbsp;&nbsp;&nbsp;&nbsp;was crucified, died, and was buried. </strong><br>
    <strong>&nbsp;&nbsp;&nbsp;&nbsp;He descended to the dead. </strong><br>
    <strong>&nbsp;&nbsp;&nbsp;&nbsp;On the third day he rose again.</strong><br>
    <strong>&nbsp;&nbsp;&nbsp;&nbsp;He ascended into heaven,</strong><br>
    <strong>&nbsp;&nbsp;&nbsp;&nbsp;and is seated at the right hand of the Father.</strong><br>
    <strong>&nbsp;&nbsp;&nbsp;&nbsp;He will come again to judge the living and the dead. </strong><br>
    <strong>I believe in the Holy Spirit,</strong><br>
    <strong>&nbsp;&nbsp;&nbsp;&nbsp;the holy catholic Church,</strong><br>
    <strong>&nbsp;&nbsp;&nbsp;&nbsp;the communion of saints,</strong><br>
    <strong>&nbsp;&nbsp;&nbsp;&nbsp;the forgiveness of sins,</strong><br>
    <strong>&nbsp;&nbsp;&nbsp;&nbsp;the resurrection of the body,</strong><br>
    <strong>&nbsp;&nbsp;&nbsp;&nbsp;and the life everlasting. Amen.</strong><br>
</p>
