<h3>PHOS HILARON</h3>
<h4>O Gladsome Light</h4>
<p>
<br><strong>O gladsome light,</strong>
<br><strong>pure brightness of the everliving Father in heaven, * </strong>
<br><strong>&nbsp;&nbsp;&nbsp;&nbsp; O Jesus Christ, holy and blessed!</strong>
<br><strong>Now as we come to the setting of the sun, </strong>
<br><strong>and our eyes behold the vesper light, *</strong>
<br><strong>&nbsp;&nbsp;&nbsp;&nbsp; we sing your praises, O God: Father, Son, and Holy Spirit. </strong>
<br><strong>You are worthy at all times to be praised by happy voices, *</strong>
<br><strong>&nbsp;&nbsp;&nbsp;&nbsp; O Son of God, O Giver of Life,</strong>
<br><strong>&nbsp;&nbsp;&nbsp;&nbsp; and to be glorified through all the worlds.</strong>
</p>
