<h2>PHOS HILARON</h2>
<h4>O Gladsome Light</h4>
<p class="harngingindent">

<p class="hanging-indent"><strong>O gladsome light,</strong></p>
<p class="hanging-indent"><strong>pure brightness of the everliving Father in heaven,<span class="asterisk">*</span> </strong></p>
<p class="indent"><strong>O Jesus Christ, holy and blessed!</strong></p>
<p class="hanging-indent"><strong>Now as we come to the setting of the sun,
<p class="hanging-indent"><strong>and our eyes behold the vesper light,<span class="asterisk">*</span>
<p class="indent"><strong>we sing your praises, O God: Father, Son, and Holy Spirit.</strong></p>
<p class="hanging-indent"><strong>You are worthy at all times to be praised by happy voices,<span class="asterisk">*</span>
<p class="indent"><strong>O Son of God, O Giver of Life,</strong></p>
<p class="indent"><strong>and to be glorified through all the worlds.</strong></p>

</p>
