<h2>THE INVITATORY</h2>
<p><em>All stand.</em></p>

<table class="dialogue">
    <tr>
        <td><em>Officiant</em></td>
        <td>O Lord, open our lips;</td>
    </tr>
    <tr>
        <td><em>People</em></td>
        <td><strong>And our mouth shall proclaim your praise.</strong></td>
    </tr>
    <tr>
        <td><em>Officiant</em></td>
        <td>O God, make speed to save us;</td>
    </tr>
    <tr>
        <td><em>People</em></td>
        <td><strong>O Lord, make haste to help us</strong></td>
    </tr>
    <tr>
        <td><em>Officiant</em></td>
        <td>Glory be to the Father, and to the Son, and to the Holy Spirit;</td>
    </tr>
    <tr>
        <td><em>People</em></td>
        <td><strong>As it was in the beginning, is now, and ever shall be, world without end. Amen.</strong></td>
    </tr>
    <tr>
        <td><em>Officiant</em></td>
        <td>Praise the Lord.</td>
    </tr>
    <tr>
        <td><em>People</em></td>
        <td><strong>The Lord&rsquo;s Name be praised.</strong></td>
    </tr>




</table>
