<h3>THE INVITATORY</h3>
<p><em>All stand.</em></p>
<p>
    <em>&nbsp; Officiant</em>&nbsp;&nbsp; O Lord, open our lips;<br>
    <em>&nbsp;&nbsp;&nbsp;&nbsp; People&nbsp;&nbsp; </em><strong>And our mouth shall proclaim your praise.</strong><br>
    <em> Officiant&nbsp;&nbsp;&nbsp;&nbsp; </em>O God, make speed to save us;<br>
    <em>&nbsp;&nbsp;&nbsp;&nbsp; People</em>&nbsp;&nbsp; <strong>O Lord, make haste to help us</strong><strong>.</strong><br>
    &nbsp; <em>Officiant</em>&nbsp;&nbsp; Glory be to the Father, and to the Son, and to the Holy Spirit;<br>
    <em>&nbsp;&nbsp;&nbsp;&nbsp; People</em>&nbsp;&nbsp; <strong>As it was in the beginning, is now, and ever shall be, world without end. Amen.</strong><br>
    <em>&nbsp; Officiant</em>&nbsp;&nbsp; Praise the Lord.<br>
    <em>&nbsp;&nbsp;&nbsp;&nbsp; People</em>&nbsp;&nbsp; <strong>The Lord&rsquo;s Name be praised.</strong><br>
</p>
