<h4>THE PRAYERS</h4>

<table class="dialogue">
    <tr>
        <td><em>Officiant</em></td>
        <td>The Lord be with you.</td>
    </tr>
    <tr>
        <td><em>People</em></td>
        <td><strong>And with your spirit.</strong></td>
    </tr>
    <tr>
        <td><em>Officiant</em></td>
        <td>Let us pray.</td>
    </tr>
</table>


<p><em>The People kneel or stand.</em></p>

<p>
    Lord, have mercy upon us.<br>
    <strong>Christ, have mercy upon us.</strong>&nbsp;<br>
    Lord, have mercy upon us.<br>
</p>
