<h3>{{  data.heading }}</h3>
<h4>{{ data.passage }}</h4>
<p><em>The lesson is read, the people sitting</em></p>
<table class="dialogue">
    <tr>
        <td><em>Reader</em></td>
        <td>A reading from {{  data.book }}</td>
    </tr>
</table>
<div class="reading">
    <br>
    {{  data.reading | safe }}
</div>
<table class="dialogue">
    <tr>
        <td><em>Reader</em></td>
        <td>The Word of the Lord.</td>
    </tr>
    <tr>
        <td><em>People</em></td>
        <td><strong>Thanks be to God.</strong></td>
    </tr>
</table>
