{% extends 'base.html' %}
{% load static %}
{% load render_bundle from webpack_loader %}


{% block content %}
    <div style="text-align:center">
        <div class="body">
            <h2 class="intro-heading">The Daily Office</h2>
            <h3 class="intro-heading">according to the Book of Common Prayer, 2019<br>Anglican Church in North America</h3>
            {% include "office/settings.html" %}
            <h4>&nbsp;</h4>
            <h4 id="redirect-to-today"><i class="fas fa-spinner fa-spin"></i></h4>
            <h4>&nbsp;</h4>
            <p><em>If the daily office does not load shortly, please try refreshing the page.</em></p>

        </div>
    </div>
{%  endblock %}
