.calendar-page {

  padding-bottom: 10rem;

  &.calendar-page-no-padding {
    padding-bottom: 0;
  }

  .menu-button {
      width: 5rem;
      text-align: center;
  }

  p {
    line-height: 1.2rem;

    &.season {
      text-align: right;
      font-size: 0.6rem;
      line-height: .9rem;
      display: inline-block;
      border: 1px solid black;
      padding: 0.3rem;
      float: right;
    }
  }


  h2, h3 {
    padding-top: 0;
  }

  h3.season, h3.month {
    padding-top: 1.5rem;
  }

  h5 {
    clear: both;
    float:right;
    margin: 1rem 0 0 0;
    padding: 0;
    font-size: .7rem;
    text-align: center !important;
    i {
      margin: 0;
      padding: 0;
      font-size: .7rem;
    }

  }

  a.wiki-link {
    font-size: .65rem;
    margin: 0 .1rem;
    color: black;
  }

  .calendar-settings {

    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    height: auto;

    max-width: 500px;
    display: flex;
    justify-content: center;
    h3 {
      padding-top: 1.5rem;
      text-align: left;
      margin: .3rem;
    }


    .menu {
      width: 100%;
      margin: 10px auto;
      p {
        clear: both;
      }
    }

    .menu-section {
      text-align: center;
      width: 100%;
      clear: both;
      justify-content: center;
    }

    .seasons {
      margin: auto;
      .menu-button {
        margin: .3rem;
        width: 12rem;
      }

      .season-buttons {
        margin: 0 auto;
      }
    }

    .dates {

      .menu-button {
        width: 5rem;
      }

      .menu-months {

        justify-content: center;
        margin: 4rem auto;
        clear: both;
      }
    }
  }

  .calendar {
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
    height: auto;
  }

  .calendar-links {
    width: 100vw;
    height: 20%;
    position: fixed;
    bottom: 0;
    right: 0;

    h3 {
      padding-top: 1rem;
    }


    p {
      margin: .2rem;
    }

    p, a {
      font-size: .8rem;
      line-height: .9rem;
      text-decoration: none;
    }
  }

  .seasons-links, .months-links {
    text-align: left;
    padding: 1rem 0;
    width: 60%;
    margin: 0 auto;

  }

  .day {
    padding: .4rem;
    display: flex;
    flex: 1 1 0px;
    margin: 0.5rem 0.5rem;
    border: 1px solid black;
    border-radius: 5px;
    @media only screen and (max-width: 374px) {
      flex-wrap: wrap;
    }
    p.secondary {
      font-size: .8rem;
    }

    &.major {
      background-color: lightgrey;


      .primary {
        font-weight: 900;
      }

    }

    .day-section {
      padding: 1rem;

      @media only screen and (max-width: 374px) {
       width: 100%;
      }

      &.date {
        text-align: center;

        border: solid 1px black;
        border-radius: 5px;
        padding: .6rem;

        .dateline-day {
          font-size: 2rem;
        }

        .dateline-weekday {
          font-weight: 900;
          text-transform: uppercase;
        }

        .dateline-month {
          text-transform: uppercase;
        }

        .dateline-fast {
          text-transform: uppercase;
          padding-top: 2rem;
        }

      }
      &.content {
        align-items:flex-start;
        padding-top: 0;
        padding-bottom: 0;
        flex-basis: 100%;
      }
    }

  }

  .year-links {
    display:flex;
    width:50%;
    margin: auto;
    clear: both;

    a {
      flex-basis: 50%;
      display: inline;
    }

  }

}


    .color {
      width: 0.5em;
      height: 0.5em;
      border: black 1px solid;
      display: inline-block;
      margin-right: 0.3rem;
    }

    .red {
      background-color: #c21c13;
      color: white;
    }

    .green {
      background-color: #077339;
      color: white;
    }

    .white {
      background-color: white;
    }

    .purple {
      background-color: #64147d;
      color: white;
    }

    .black {
      background-color: black;
      color: white;
    }

    .rose {
      background-color: pink;
    }

    .blue {
      background-color: #0544a8;
    }

    .lenten {
      background-color: #b2beb5;
    }
