@font-face {
    font-family:'Adobe Caslon Pro';
    src: url('../css/fonts/ACaslonPro-Regular.eot');
	src: url('../css/fonts/ACaslonPro-Regular.eot?#iefix') format('embedded-opentype'),
		url('../css/fonts/ACaslonPro-Regular.woff2') format('woff2'),
		url('../css/fonts/ACaslonPro-Regular.woff') format('woff'),
		url('../css/fonts/ACaslonPro-Regular.ttf') format('truetype'),
		url('../css/fonts/ACaslonPro-Regular.otf') format('opentype'),
		url('../css/fonts/ACaslonPro-Regular.svg#ACaslonPro-Regular') format('svg');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-FB06;
}

@font-face {
    font-family:'Adobe Caslon Pro';
    src: url('../css/fonts/ACaslonPro-Semibold.eot');
	src: url('../css/fonts/ACaslonPro-Semibold.eot?#iefix') format('embedded-opentype'),
		url('../css/fonts/ACaslonPro-Semibold.woff2') format('woff2'),
		url('../css/fonts/ACaslonPro-Semibold.woff') format('woff'),
		url('../css/fonts/ACaslonPro-Semibold.ttf') format('truetype'),
		url('../css/fonts/ACaslonPro-Semibold.otf') format('opentype'),
		url('../css/fonts/ACaslonPro-Semibold.svg#ACaslonPro-Semibold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-FB06;
}

@font-face {
    font-family:'Adobe Caslon Pro';
    src: url('../css/fonts/ACaslonPro-Bold.eot');
	src: url('../css/fonts/ACaslonPro-Bold.eot?#iefix') format('embedded-opentype'),
		url('../css/fonts/ACaslonPro-Bold.woff2') format('woff2'),
		url('../css/fonts/ACaslonPro-Bold.woff') format('woff'),
		url('../css/fonts/ACaslonPro-Bold.ttf') format('truetype'),
		url('../css/fonts/ACaslonPro-Bold.otf') format('opentype'),
		url('../css/fonts/ACaslonPro-Bold.svg#ACaslonPro-Bold') format('svg');
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-FB06;
}

@font-face {
    font-family:'Adobe Caslon Pro';
    src: url('../css/fonts/ACaslonPro-Italic.eot');
	src: url('../css/fonts/ACaslonPro-Italic.eot?#iefix') format('embedded-opentype'),
		url('../css/fonts/ACaslonPro-Italic.woff2') format('woff2'),
		url('../css/fonts/ACaslonPro-Italic.woff') format('woff'),
		url('../css/fonts/ACaslonPro-Italic.ttf') format('truetype'),
		url('../css/fonts/ACaslonPro-Italic.otf') format('opentype'),
		url('../css/fonts/ACaslonPro-Italic.svg#ACaslonPro-Italic') format('svg');
    font-weight: 400;
    font-style: italic;
    font-stretch: normal;
    unicode-range: U+0020-FB06;
}

@font-face {
    font-family:'Adobe Caslon Pro';
    src: url('../css/fonts/ACaslonPro-SemiboldItalic.eot');
	src: url('../css/fonts/ACaslonPro-SemiboldItalic.eot?#iefix') format('embedded-opentype'),
		url('../css/fonts/ACaslonPro-SemiboldItalic.woff2') format('woff2'),
		url('../css/fonts/ACaslonPro-SemiboldItalic.woff') format('woff'),
		url('../css/fonts/ACaslonPro-SemiboldItalic.ttf') format('truetype'),
		url('../css/fonts/ACaslonPro-SemiboldItalic.otf') format('opentype'),
		url('../css/fonts/ACaslonPro-SemiboldItalic.svg#ACaslonPro-SemiboldItalic') format('svg');
    font-weight: 600;
    font-style: italic;
    font-stretch: normal;
    unicode-range: U+0020-FB06;
}

@font-face {
    font-family:'Adobe Caslon Pro';
    src: url('../css/fonts/ACaslonPro-BoldItalic.eot');
	src: url('../css/fonts/ACaslonPro-BoldItalic.eot?#iefix') format('embedded-opentype'),
		url('../css/fonts/ACaslonPro-BoldItalic.woff2') format('woff2'),
		url('../css/fonts/ACaslonPro-BoldItalic.woff') format('woff'),
		url('../css/fonts/ACaslonPro-BoldItalic.ttf') format('truetype'),
		url('../css/fonts/ACaslonPro-BoldItalic.otf') format('opentype'),
		url('../css/fonts/ACaslonPro-BoldItalic.svg#ACaslonPro-BoldItalic') format('svg');
    font-weight: 700;
    font-style: italic;
    font-stretch: normal;
    unicode-range: U+0020-FB06;
}
