@import 'reset.scss';
@import 'themes.scss';
@import 'fonts.scss';
$fa-font-path: "fontawesome/webfonts";

@import "fontawesome/scss/fontawesome.scss";
@import "fontawesome/scss/brands.scss";
@import "fontawesome/scss/solid.scss";
@import "fontawesome/scss/regular.scss";
@import "fontawesome/scss/duotone.scss";
@import "fontawesome/scss/light.scss";
@import "fontawesome/scss/thin.scss";
@import "fontawesome/scss/_core.scss";
@import "fontawesome/scss/_mixins.scss";
@import "fontawesome/scss/_icons.scss";
@import "fontawesome/scss/_variables.scss";
@import "fontawesome/scss/_animated.scss";
@import "fontawesome/scss/_bordered-pulled.scss";
@import "fontawesome/scss/_fixed-width.scss";
@import "fontawesome/scss/_sizing.scss";
@import "fontawesome/scss/_list.scss";
@import "fontawesome/scss/_rotated-flipped.scss";
@import "fontawesome/scss/_stacked.scss";
@import "fontawesome/scss/_screen-reader.scss";
@import "fontawesome/scss/_shims.scss";
@import "fontawesome/scss/v4-shims.scss";
@import '~pretty-checkbox/src/pretty-checkbox.scss';
@import 'toggle.scss';
@import 'apps.scss';
@import 'office.scss';
@import 'settings.scss';
@import 'calendar.scss';
@import 'alert.scss';
@import 'print.scss';

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-basis: 100%;
}
