@import 'reset.scss';
@import 'themes.scss';
$fa-font-path: "fontawesome/webfonts";
@import "fontawesome/scss/fontawesome.scss";
@import "fontawesome/scss/brands.scss";
@import "fontawesome/scss/solid.scss";
@import "fontawesome/scss/regular.scss";
@import "fontawesome/scss/duotone.scss";
@import "fontawesome/scss/light.scss";
@import "fontawesome/scss/_core.scss";
@import "fontawesome/scss/_mixins.scss";
@import "fontawesome/scss/_icons.scss";
@import "fontawesome/scss/_variables.scss";
@import "fontawesome/scss/_animated.scss";
@import "fontawesome/scss/_bordered-pulled.scss";
@import "fontawesome/scss/_fixed-width.scss";
@import "fontawesome/scss/_larger.scss";
@import "fontawesome/scss/_list.scss";
@import "fontawesome/scss/_rotated-flipped.scss";
@import "fontawesome/scss/_stacked.scss";
@import "fontawesome/scss/_screen-reader.scss";

@import '~pretty-checkbox/src/pretty-checkbox.scss';
@import 'toggle.scss';

@import 'office.scss';
@import 'settings.scss';
@import 'calendar.scss';


