        html {
            font-size: 20px;
            -webkit-text-size-adjust:none;
        }


        div.main {
            max-width: 700px;
            display: block;
            text-align: left;
            padding: 1.4rem;
            margin: 0 auto 10rem;
            clear: both;
        }

        h1, h2, h3, h4 {
            font-family: adobe-caslon-pro, serif;
            font-weight: 600;
            font-style: normal;
            letter-spacing: 0.1rem;
            text-align: center;
            margin: 0.2rem;
            padding-top: 2rem;
        }

        h1, h2, h3 {
            text-transform: uppercase;
        }

        h1 {
            font-size: 2rem;
            line-height: 2.1rem;

        }

        h2 {
            font-size: 1.5rem;

          &.intro-heading {
            font-size: .5rem;
            margin: 1rem 0 0 0;
            padding: 0;
            line-height: .6rem;
            letter-spacing: .1rem;
          }

        }

        h3 {
            padding-top: 30px;
            margin-bottom: 5px;
            font-size: 1.2rem;
            &.intro-heading {
              font-size: .4rem;
              margin: 0;
              padding: 0;
              line-height: .5rem;
              letter-spacing: .1rem;
            }
        }

        h4 {
            margin-top: 0;
            padding-top: 0;
            font-family: adobe-caslon-pro, serif;
            font-weight: 600;
            font-style: italic;
            font-size: 1rem;
            line-height: 1.1rem;

        }

        h5 {
            font-weight: 300;
            text-align: right;
            font-size: 1rem;
            margin: 10px 0;
        }

        p {
            font-family: 'Lusitana', serif;
            font-weight: 300;
            font-style: normal;
            font-size: 1.1rem;
            margin: 10px 0;

            line-height: 1.6rem;
        }

        em {
            font-family: 'Lusitana', serif;
            font-weight: 300;
            font-style: italic;
            font-size: .8rem;
        }

        strong {
            font-family: 'Lusitana', serif;
            font-weight: 700;

        }

        div.psalms {

            font-family: 'Lusitana', serif;
            font-weight: 300;
            font-style: normal;

        }

        p.line {
            margin-top: 1.5em;
        }

        span.chapternum {
            font-size: 1.5em;
        }

        sup.versnum {
            font-size: 1.2em;
        }

        .text {
            padding-left: 10px;
        }

        .reading h3 {
            font-family: 'Lusitana', serif;
            font-weight: 900;
            font-style: normal;
            font-size: 0.9em;
            text-align: center;
            padding: 0;
            margin: 1rem 0;
        }

        .reading h4 {
            font-family: 'Lusitana', serif;
            font-weight: 900;
            font-style: normal;
            font-size: 0.7em;
            text-align: center;
        }

        table.dialogue td {
            padding: .1rem 1rem .1rem 0;
            font-family: 'Lusitana', serif;
            font-weight: 300;
            font-style: normal;
            font-size: 1.1rem;
            margin: 1.5rem 0;
            line-height: 1.6rem;
        }

        div.metadata {
            text-align: center;
        }

        div.commemorations {
            border: solid 1px grey;
            padding: 1.3rem;
        }

        span.indent {
            padding-left: 1rem;
        }

        p.indent {
            margin: 0 0 0 1.1rem;
        }

        p.hanging-indent {
            text-indent: -1rem;
            margin: 0 0 0 1rem;
        }

        span.asterisk {
            margin-left: 10px;
        }

        .footer {
            border-top: 1px solid black;
            position: fixed;
            left: 0;
            bottom: 0;
            text-align: center;
            width: 100%;

            background-color: lightgrey;
            font-size: .8em;
            font-weight: 300;
            padding: 1rem 0;

            strong {
              font-size: 1rem;
            }

            i {
              font-size: 1.8rem;
              display: block;
              padding-bottom: .2rem;
            }
        }

        .footer-flex {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: nowrap;
            align-content: space-around;

        }

        .footer-flex div {
            flex-grow: 2;
            font-weight: 900;
        }


        .footer-flex a {
            width: 100%;
            height: 100%;
            padding: .9rem 0;
            color: black;
            text-decoration: none;
            font-weight: 300;
        }

        .off {
            display: none;
        }



        .feedback {
          margin-top: 3rem;
          padding: 1rem;
          border: 1px solid;
        }

        #menu {
          padding: .1rem;
          margin: .1rem;

        }

        .menu-wrapper {
          text-align: center;
          padding: 1px;
        }

        .menu {
          display: inline-block;
          padding: 3px;
        }


        .menu-button {
          color: black;
          text-decoration: none;
          font-size: 0.6rem;
          margin: 0.15rem;
          initial-letter: 2;
          letter-spacing: .03rem;
          border: 1px solid grey;
          border-radius: 0.5rem;
          padding: 0.3rem;
          text-transform: uppercase;
          float: left;
          //@media only screen and (max-width: 600px) {
          //  width: 6rem;
          //  text-align: center;
          //}

          &.right {
            float: right;
          }

          .first-letter {
            font-size: .8rem;
          }

          &.inline {
            text-align: center;
          }

        }

        #messages {
          float: left;
          margin: 0.5rem 0.5rem 0 0.5rem;
          font-size: 0.6rem;
          text-align:left;

          a {
            color: black;
          }
          //text-align: center;
          //padding: .5rem;
          //border: solid 1px black;
          //border-radius: 20px;
          //margin: 1.2rem auto;
          //width: auto;
          //font-size: .6rem;
          //line-height: .8rem;
          //
          //strong {
          //  font-size: .7rem;
          //}
        }
