{% extends 'emails/movie_email_base.html' %}
{% load inlinecss mjml %}

{% block content %}
{% inlinecss  "standrew/css/email.css" %}
<div class="individual">
    <h1>Movie Nominations open until noon</h1>
    <p>Don't forget to nominate! Nominations automatically close <strong>today at 12:00 noon</strong> for this Friday's movie night</p>
    {% if count < 4 %}
        <h3>{{ count }} nominations received so far</h3>
    {% endif %}
    <p>Please only nominate one movie per person.</p>
    <div class="link-buttons link-buttons-large">
        <a class="event_link"
                   href="{{ nomination_link }}"
                   target="_blank"><span class="events__tag events__tag__large">SUBMIT YOUR NOMINATION</span></a>&nbsp;

    </div>
    <p>{{ nomination_link }}</p>
    <p><em>This link is unique for you and can only be used once. Please do not share your link.</em></p>
    <h3>Can't think of a good movie?</h3>
    <p>Look at <a href="{{ previous_results_link }}">last month's nominees and tabulations</a> to see popular runner-ups.</p>
</div>
{% endinlinecss %}
{% endblock %}

