<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>905429382209-4076pro3r1i4o901g88ah8u4dka259eu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.905429382209-4076pro3r1i4o901g88ah8u4dka259eu</string>
	<key>API_KEY</key>
	<string>AIzaSyBDYIc12ZbNq8PCUSV0plY2E6o8qHv13Ys</string>
	<key>GCM_SENDER_ID</key>
	<string>905429382209</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dailyoffice.dailyoffice2019</string>
	<key>PROJECT_ID</key>
	<string>daily-office-2019</string>
	<key>STORAGE_BUCKET</key>
	<string>daily-office-2019.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<true/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:905429382209:ios:b454fc46d0d2f3655882c0</string>
	<key>DATABASE_URL</key>
	<string>https://daily-office-2019.firebaseio.com</string>
</dict>
</plist>
